{
  "openapi": "3.0.0",
  "info": {
    "title": "ANYMARKET",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://api.frenet.com.br/shipping",
      "variables": {}
    },
    {
      "url": "http://modules.anymarket.com.br",
      "variables": {}
    },
    {
      "url": "https://api.intelipost.com.br/api/v1",
      "variables": {}
    },
    {
      "url": "http://api.anymarket.com.br",
      "variables": {}
    },
    {
      "url": "http://app.anymarket.com.br/rest",
      "variables": {}
    },
    {
      "url": "http://raiadrogasil.vtexcommercestable.com.br/api/oms/pvt/orders",
      "variables": {}
    },
    {
      "url": "http://prd1-core.anymarket.vpc:8080/rest/api/aldo",
      "variables": {}
    },
    {
      "url": "http:",
      "variables": {}
    },
    {
      "url": "https://app.anymarket.com.br/rest/api",
      "variables": {}
    },
    {
      "url": "https://api.anymarket.com.br/marketplace/auth",
      "variables": {}
    }
  ],
  "paths": {
    "//sandbox-api.anymarket.com.br/v2/brands": {
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "GET",
        "operationId": "GET",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Brand"
        ],
        "summary": "POST",
        "operationId": "POST",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTREQUEST"
                  },
                  {
                    "example": {
                      "name": "Zombie Brand",
                      "partnerId": "ZOBRA"
                    }
                  }
                ]
              },
              "example": {
                "name": "Zombie Brand",
                "partnerId": "ZOBRA"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/brands/{ID_BRAND}": {
      "delete": {
        "tags": [
          "Brand"
        ],
        "summary": "DELETE",
        "operationId": "DELETE",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_BRAND",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Brand"
        ],
        "summary": "GET BY ID",
        "operationId": "GETBYID",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_BRAND",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "put": {
        "tags": [
          "Brand"
        ],
        "summary": "PUT",
        "operationId": "PUT",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "ID_BRAND",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTREQUEST"
                  },
                  {
                    "example": {
                      "name": "Zombie Brandable",
                      "partnerId": "ZOMBRA-B"
                    }
                  }
                ]
              },
              "example": {
                "name": "Zombie Brandable",
                "partnerId": "ZOMBRA-B"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "/v2/callbacks/992": {
      "delete": {
        "tags": [
          "Callbacks"
        ],
        "summary": "Delete - Callback",
        "operationId": "Delete-Callback",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "L107949687EG1478718153612R-369229230"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/callbacks": {
      "get": {
        "tags": [
          "Callbacks"
        ],
        "summary": "GET - Callback",
        "operationId": "GET-Callback",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "91059048L923C151309013291300E1513091932913O923.I"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/categories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "GET",
        "operationId": "GetGET",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "POST",
        "operationId": "PostPOST",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTREQUEST1"
                  },
                  {
                    "example": {
                      "name": "Root",
                      "partnerId": "root",
                      "priceFactor": 1.2,
                      "calculatePrice": true
                    }
                  }
                ]
              },
              "example": {
                "name": "Root",
                "partnerId": "root",
                "priceFactor": 1.2,
                "calculatePrice": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/categories/{ID_CATEGORIA}": {
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "DELETE",
        "operationId": "DeleteDELETE",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_CATEGORIA",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "GET BY ID",
        "operationId": "GetGETBYID",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_CATEGORIA",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "put": {
        "tags": [
          "Category"
        ],
        "summary": "PUT",
        "operationId": "PutPUT",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "ID_CATEGORIA",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUTREQUEST1"
                  },
                  {
                    "example": {
                      "name": "Roott",
                      "partnerId": "root-six",
                      "priceFactor": 1.2,
                      "calculatePrice": true
                    }
                  }
                ]
              },
              "example": {
                "name": "Roott",
                "partnerId": "root-six",
                "priceFactor": 1.2,
                "calculatePrice": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "/public/b2w/notification/259026193/freight": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight B2W",
        "description": "Este serviço tem como intuito resgatar informações como preços, slas de entrega e balanço de estoque dos itens que estão diponíveis.",
        "operationId": "POST-FreightB2W",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightB2WRequest"
                  },
                  {
                    "example": {
                      "destinationZip": 22260090,
                      "volumes": [
                        {
                          "sku": "495465",
                          "height": 0.1,
                          "length": 0.16,
                          "width": 0.06,
                          "weight": 0.09,
                          "quantity": 1,
                          "price": 14.99
                        },
                        {
                          "sku": "495440",
                          "height": 0.1,
                          "length": 0.16,
                          "width": 0.06,
                          "weight": 0.354,
                          "quantity": 4,
                          "price": 39.99
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "destinationZip": 22260090,
                "volumes": [
                  {
                    "sku": "495465",
                    "height": 0.1,
                    "length": 0.16,
                    "width": 0.06,
                    "weight": 0.09,
                    "quantity": 1,
                    "price": 14.99
                  },
                  {
                    "sku": "495440",
                    "height": 0.1,
                    "length": 0.16,
                    "width": 0.06,
                    "weight": 0.354,
                    "quantity": 4,
                    "price": 39.99
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://app.anymarket.com.br/rest",
            "variables": {}
          }
        ]
      }
    },
    "/public/extra/reverse/14709306./freight": {
      "get": {
        "tags": [
          "Freight"
        ],
        "summary": "GET - Freight Cnova",
        "description": "Este serviço tem como intuito resgatar informações como preços, slas de entrega e balanço de estoque dos itens que estão diponíveis.",
        "operationId": "GET-FreightCnova",
        "parameters": [
          {
            "name": "skuId",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "3624,1"
            }
          },
          {
            "name": "zipCode",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 22220070
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://app.anymarket.com.br/rest",
            "variables": {}
          }
        ]
      }
    },
    "/public/notification/walmart/43381813/fulfillment-preview": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight Walmart",
        "description": "Este serviço tem como intuito resgatar informações como preços, slas de entrega e balanço de estoque dos itens que estão diponíveis.",
        "operationId": "POST-FreightWalmart",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightWalmartRequest"
                  },
                  {
                    "example": {
                      "postalCode": "06764290",
                      "country": "BRA",
                      "items": [
                        {
                          "id": "NTK-720030-VM",
                          "quantity": 1
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "postalCode": "06764290",
                "country": "BRA",
                "items": [
                  {
                    "id": "NTK-720030-VM",
                    "quantity": 1
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "http://app.anymarket.com.br/rest",
            "variables": {}
          }
        ]
      }
    },
    "/anymarketquote": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight Frenet",
        "operationId": "POST-FreightFrenet",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "1BC79000RE6D7R416DR9504R6DB2EAB77A31"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightFrenetRequest"
                  },
                  {
                    "example": {
                      "zipCode": "87023100",
                      "marketplace": "Novo Mundo",
                      "products": [
                        {
                          "sku": "MO1221706",
                          "height": 20,
                          "width": 35,
                          "weight": 38,
                          "length": 190,
                          "amount": 1,
                          "value": 219.9
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "zipCode": "87023100",
                "marketplace": "Novo Mundo",
                "products": [
                  {
                    "sku": "MO1221706",
                    "height": 20,
                    "width": 35,
                    "weight": 38,
                    "length": 190,
                    "amount": 1,
                    "value": 219.9
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.frenet.com.br/shipping",
            "variables": {}
          }
        ]
      }
    },
    "/carrefour/public/api/freight/259027566./3332": {
      "get": {
        "tags": [
          "Freight"
        ],
        "summary": "Get - Freight Carrefour",
        "operationId": "Get-FreightCarrefour",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "423286|1"
            }
          },
          {
            "name": "shipping_zip_code",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 87023100
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://modules.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/netshoes/public/api/freight/214797050.259025498.": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight Netshoes",
        "operationId": "POST-FreightNetshoes",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightNetshoesRequest"
                  },
                  {
                    "example": {
                      "zipCode": "73860000",
                      "catalogCode": "CAT_NETSHOESNOVA",
                      "id": "6dccffe9-52e7-456c-b814-b72ae3e49cc1",
                      "products": [
                        {
                          "skuCode": "ZAXPRETOROYAL38",
                          "quantity": 1,
                          "weight": 1,
                          "width": 30,
                          "height": 10,
                          "length": 22,
                          "preSale": true
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "zipCode": "73860000",
                "catalogCode": "CAT_NETSHOESNOVA",
                "id": "6dccffe9-52e7-456c-b814-b72ae3e49cc1",
                "products": [
                  {
                    "skuCode": "ZAXPRETOROYAL38",
                    "quantity": 1,
                    "weight": 1,
                    "width": 30,
                    "height": 10,
                    "length": 22,
                    "preSale": true
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://modules.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/magazineluiza/public/api/freight/259029003.": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight Magazine Luiza",
        "description": "Este serviço tem como intuito resgatar informações como preços, slas de entrega e balanço de estoque dos itens que estão diponíveis.",
        "operationId": "POST-FreightMagazineLuiza",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightMagazineLuizaRequest"
                  },
                  {
                    "example": {
                      "session_id": "eb7cd60c-13c7-4247-a2f8-3d7faa4693b5",
                      "zipcode": "87023100",
                      "items": [
                        {
                          "sku": "BB513",
                          "quantity": "1",
                          "price": 159.99,
                          "dimensions": {
                            "width": "1.19",
                            "depth": "0.20",
                            "weight": "4",
                            "height": "0.20"
                          }
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "session_id": "eb7cd60c-13c7-4247-a2f8-3d7faa4693b5",
                "zipcode": "87023100",
                "items": [
                  {
                    "sku": "BB513",
                    "quantity": "1",
                    "price": 159.99,
                    "dimensions": {
                      "width": "1.19",
                      "depth": "0.20",
                      "weight": "4",
                      "height": "0.20"
                    }
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "basic": []
          }
        ],
        "servers": [
          {
            "url": "http://modules.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/quote_by_product": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "POST - Freight Intelipost",
        "operationId": "POST-FreightIntelipost",
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "c55a0e9dacc6fc992ae122285fc64c6c39014981f8f2e7212fcad7ca09234903"
            }
          },
          {
            "name": "cache-control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "no-cache"
            }
          },
          {
            "name": "platform",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "anymarket"
            }
          },
          {
            "name": "postman-token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "9775ed3c-26e7-1329-c367-0d6b98da0bf4"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-FreightIntelipostRequest"
                  },
                  {
                    "example": {
                      "id": null,
                      "client_id": null,
                      "origin_zip_code": "15061460",
                      "destination_zip_code": "37145000",
                      "delivery_options": null,
                      "products": [
                        {
                          "weight": 20,
                          "cost_of_goods": 148.9,
                          "width": 42.0,
                          "height": 12.0,
                          "length": 48.0,
                          "quantity": 1,
                          "sku_id": "2075167",
                          "description": null,
                          "can_group": true
                        }
                      ],
                      "additional_information": {
                        "sales_channel": "MardeiraMadeira"
                      }
                    }
                  }
                ]
              },
              "example": {
                "id": null,
                "client_id": null,
                "origin_zip_code": "15061460",
                "destination_zip_code": "37145000",
                "delivery_options": null,
                "products": [
                  {
                    "weight": 20,
                    "cost_of_goods": 148.9,
                    "width": 42.0,
                    "height": 12.0,
                    "length": 48.0,
                    "quantity": 1,
                    "sku_id": "2075167",
                    "description": null,
                    "can_group": true
                  }
                ],
                "additional_information": {
                  "sales_channel": "MardeiraMadeira"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://api.intelipost.com.br/api/v1",
            "variables": {}
          }
        ]
      }
    },
    "/marketplace/api/freight": {
      "post": {
        "tags": [
          "Freight"
        ],
        "summary": "FRETE CAMICADO",
        "operationId": "FRETECAMICADO",
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259025663L259027487E1625778106327C153246610632700O1.I"
            }
          },
          {
            "name": "appId",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "e0917ac63c0043cc98a16b3d8f672d17"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FRETECAMICADOREQUEST"
                  },
                  {
                    "example": {
                      "zipCode": "01449010",
                      "timeout": 4000,
                      "products": [
                        {
                          "skuId": "7891232971984",
                          "amount": 1,
                          "dimensions": {
                            "height": 44.0,
                            "width": 68.5,
                            "weight": 130.0,
                            "length": 173.5
                          },
                          "additionalDeliveryTime": 0
                        }
                      ]
                    }
                  }
                ]
              },
              "example": {
                "zipCode": "01449010",
                "timeout": 4000,
                "products": [
                  {
                    "skuId": "7891232971984",
                    "amount": 1,
                    "dimensions": {
                      "height": 44.0,
                      "width": 68.5,
                      "weight": 130.0,
                      "length": 173.5
                    },
                    "additionalDeliveryTime": 0
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/products/{ID_PRODUCT}/images": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "GET",
        "operationId": "GetGET1",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_PRODUCT",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/products/{ID_PRODUCT}/images/{ID_IMAGE}": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "GET BY ID",
        "operationId": "GetGETBYID1",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_PRODUCT",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ID_IMAGE",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      },
      "delete": {
        "tags": [
          "Image"
        ],
        "summary": "DELETE",
        "operationId": "DeleteDELETE1",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "ID_PRODUCT",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ID_IMAGE",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "//sandbox-api.anymarket.com.br/v2/products": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "POST",
        "operationId": "PostPOST1",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{TOKEN}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POSTREQUEST2"
                  },
                  {
                    "example": {
                      "url": "http://www.rakenapp.com/wp-content/uploads/2015/02/Steel_construction.jpg"
                    }
                  }
                ]
              },
              "example": {
                "url": "http://www.rakenapp.com/wp-content/uploads/2015/02/Steel_construction.jpg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http:",
            "variables": {}
          }
        ]
      }
    },
    "/v2/monitorings/15944174": {
      "put": {
        "tags": [
          "Monitoring"
        ],
        "summary": "PUT - Monitorings",
        "operationId": "PUT-Monitorings",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LG1450807973340R-927432852"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUT-MonitoringsRequest"
                  },
                  {
                    "example": {
                      "id": 15944174,
                      "partnerId": "15944174",
                      "origin": "Via Varejo",
                      "message": "br.com.db1.anymarket.domain.marketplace.integration.exception.MarketPlaceIntegrationException: Erro ao recuperar pedido de id 13488809501. Causa:Could not find a required Access Token in the request, identified by HEADER access_token",
                      "details": "Erro ao recuperar pedido de id 13488809501. Causa:Could not find a required Access Token in the request, identified by HEADER access_token",
                      "type": "ALERT",
                      "retryCallbackURL": "http://app.anymarket.com.br/rest/api/cnova/orderImportCallback/13488809501",
                      "status": "PENDING",
                      "createdAt": "2018-01-30T21:49:45Z"
                    }
                  }
                ]
              },
              "example": {
                "id": 15944174,
                "partnerId": "15944174",
                "origin": "Via Varejo",
                "message": "br.com.db1.anymarket.domain.marketplace.integration.exception.MarketPlaceIntegrationException: Erro ao recuperar pedido de id 13488809501. Causa:Could not find a required Access Token in the request, identified by HEADER access_token",
                "details": "Erro ao recuperar pedido de id 13488809501. Causa:Could not find a required Access Token in the request, identified by HEADER access_token",
                "type": "ALERT",
                "retryCallbackURL": "http://app.anymarket.com.br/rest/api/cnova/orderImportCallback/13488809501",
                "status": "PENDING",
                "createdAt": "2018-01-30T21:49:45Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/monitorings": {
      "post": {
        "tags": [
          "Monitoring"
        ],
        "summary": "POST - Monitorings",
        "operationId": "POST-Monitorings",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "91059048L923C151309013291300E1513091932913O923.I"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-MonitoringsRequest"
                  },
                  {
                    "example": {
                      "partnerId": "75369",
                      "origin": "CNOVA",
                      "message": "TESTESTESTES",
                      "details": "TESTESTESTE",
                      "type": "ALERT",
                      "retryCallbackURL": "http://api.anymarket.com.br/v2/monitorings",
                      "status": "PENDING",
                      "createdAt": "2017-12-12T14:47:50Z"
                    }
                  }
                ]
              },
              "example": {
                "partnerId": "75369",
                "origin": "CNOVA",
                "message": "TESTESTESTES",
                "details": "TESTESTESTE",
                "type": "ALERT",
                "retryCallbackURL": "http://api.anymarket.com.br/v2/monitorings",
                "status": "PENDING",
                "createdAt": "2017-12-12T14:47:50Z"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/121697095": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "GET",
        "operationId": "GetGET2",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259025663L259029912E1654896342372C156158434237200O1.I"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/2440490": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "GET BY ID",
        "operationId": "GetGETBYID2",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259025663L259025761E1605782708869O1.I"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/{idPedido}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - Pago",
        "operationId": "PUT-Pago",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259070139L1E1772914048963C167960204896300O1.I"
            }
          },
          {
            "name": "idPedido",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUT-PagoRequest"
                  },
                  {
                    "example": {
                      "order_id": "{{idpedido}}",
                      "status": "PAID_WAITING_SHIP"
                    }
                  }
                ]
              },
              "example": {
                "order_id": "{{idpedido}}",
                "status": "PAID_WAITING_SHIP"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/116370256/nfe": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - Faturado",
        "operationId": "PUT-Faturado",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259077829L259029392E1644606127191C164460432719100O259029392.I"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/xml"
              ],
              "type": "string",
              "example": "application/xml"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/xml": {
              "schema": {
                "type": "string",
                "xml": {
                  "name": "Body",
                  "attribute": false,
                  "wrapped": false
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/3770593": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - Enviado (Em Transito)",
        "operationId": "PUT-Enviado(EmTransito)",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "237313L259025957E151733375028000C1610645750280O1.I"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUT-EnviadoEmTransitoRequest"
                  },
                  {
                    "example": {
                      "status": "PAID_WAITING_DELIVERY",
                      "tracking": {
                        "number": "3770593",
                        "carrier": "courrieros - Expressa",
                        "url": "",
                        "date": "2018-09-24T016:53:49Z",
                        "shippedDate": "2018-09-21T008:31:10Z"
                      }
                    }
                  }
                ]
              },
              "example": {
                "status": "PAID_WAITING_DELIVERY",
                "tracking": {
                  "number": "3770593",
                  "carrier": "courrieros - Expressa",
                  "url": "",
                  "date": "2018-09-24T016:53:49Z",
                  "shippedDate": "2018-09-21T008:31:10Z"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/{idpedido}": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - Concluido",
        "operationId": "PUT-Concluido",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259029494L67811499E1698524967638C160521296763800O1.I"
            }
          },
          {
            "name": "idpedido",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PUT-ConcluidoRequest"
                  },
                  {
                    "example": {
                      "status": "CONCLUDED"
                    }
                  }
                ]
              },
              "example": {
                "status": "CONCLUDED"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/api/orders/{idPedido}/resend": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - Setar pedido para erro",
        "operationId": "PUT-Setarpedidoparaerro",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "25700074L1282C151208416205400E1512085962054O1282.I"
            }
          },
          {
            "name": "idPedido",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://app.anymarket.com.br/rest",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "POST - CRIAR / ATUALIZAR PEDIDO",
        "description": "POST PARA CRIAR PEDIDOS E ATUALIZAR OS PEDIDOS NO ANYMARKET",
        "operationId": "POST-CRIAR/ATUALIZARPEDIDO",
        "parameters": [
          {
            "name": "X-JWT-TOKEN",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpcCI6IjEwLjAuOS4xNDUiLCJvcmdhbml6YXRpb24iOiJIQU1JTFRPTiBCRUFDSCIsIm9pIjoiMjU5MDMyNzMyLiIsImV4cCI6MTYyMjIwNjEzNywibG9naW4iOiJjb250YXRvQGhhbWlsdG9uYmVhY2guY29tIn0.MNyuFH__wjvwPsBtclYsEbQC0IMRPEEN05p0PXEHEQMAAAPO5fPGKYQoddaamWi79nNMwHMFfW9lVUUhNqN3DIbba9mTQqogXqrow-oCboyh_gTgNMeFYfSrHvOSTcOZPiwiDM5oDaQk0vLMXgSSqZoKjbUQSXg9Oe4CpDwoTKA"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/POST-CRIARATUALIZARPEDIDOREQUEST"
                  },
                  {
                    "example": {
                      "id": 42672124,
                      "accountName": " MINEIRÃO SHOPCAR",
                      "marketPlaceId": "23381238-A",
                      "marketPlaceNumber": "23381238-A",
                      "marketPlace": "MERCADO LIVRE",
                      "createdAt": "2021-05-23T18:04:07Z",
                      "paymentDate": "2021-05-23T18:24:22Z",
                      "transmissionStatus": "OK",
                      "status": "PAID_WAITING_SHIP",
                      "marketPlaceStatusComplement": "WAITING_DEBIT_PAYMENT",
                      "marketPlaceStatus": "APROVADO",
                      "discount": 0,
                      "freight": 25.64,
                      "sellerFreight": 0,
                      "interestValue": 0,
                      "productGross": 99,
                      "productNet": 99,
                      "total": 124.64,
                      "shipping": {
                        "city": "SÃ£o Paulo",
                        "state": "SP",
                        "stateNameNormalized": "SÃ£o Paulo",
                        "country": "BRA",
                        "countryAcronymNormalized": "BR",
                        "countryNameNormalized": "BRASIL",
                        "address": "rua humberto i, 630, ap 132 - vila mariana",
                        "number": "630",
                        "neighborhood": "vila mariana",
                        "street": "rua humberto i",
                        "comment": "ap 132",
                        "zipCode": "04018031",
                        "receiverName": "Vanessa Oliveira",
                        "promisedShippingTime": "2021-05-28T02:59:59Z"
                      },
                      "billingAddress": {
                        "city": "SÃ£o Paulo",
                        "state": "SP",
                        "stateNameNormalized": "SÃ£o Paulo",
                        "country": "BRA",
                        "countryAcronymNormalized": "BR",
                        "countryNameNormalized": "BRASIL",
                        "number": "630",
                        "neighborhood": "vila mariana",
                        "street": "rua humberto i",
                        "comment": "ap 132",
                        "zipCode": "04018031",
                        "shipmentUserName": "Vanessa Oliveira",
                        "shipmentUserDocument": "41508072809",
                        "shipmentUserDocumentType": "CPF"
                      },
                      "anymarketAddress": {
                        "country": "BRA",
                        "state": "SP",
                        "stateAcronymNormalized": "SP",
                        "city": "SÃ£o Paulo",
                        "zipCode": "04018031",
                        "neighborhood": "vila mariana",
                        "address": "rua humberto i, 630, ap 132 - vila mariana",
                        "street": "rua humberto i",
                        "number": "630",
                        "comment": "ap 132",
                        "receiverName": "Vanessa Oliveira",
                        "promisedShippingTime": "2021-05-28T02:59:59Z"
                      },
                      "buyer": {
                        "name": "Vanessa Oliveira",
                        "email": "41508072809@kabum.com.br",
                        "document": "41508072809",
                        "documentType": "CPF",
                        "phone": "1921144444",
                        "cellPhone": "0000000000",
                        "documentNumberNormalized": "41508072809"
                      },
                      "items": [
                        {
                          "product": {
                            "id": 59083306,
                            "title": "Sanduicheira Multiuso Hamilton Beach Vermelho 600W Real"
                          },
                          "sku": {
                            "id": 21310066,
                            "title": "Sanduicheira Multiuso Hamilton Beach Vermelho 600W Real",
                            "partnerId": "25476-BZ127"
                          },
                          "amount": 1,
                          "unit": 99,
                          "gross": 99,
                          "total": 99,
                          "discount": 0,
                          "shippings": [
                            {
                              "id": 145385619,
                              "shippingtype": "SDX - CORREIOS",
                              "shippingCarrierNormalized": "UNKNOWN",
                              "shippingCarrierTypeNormalized": "UNKNOWN"
                            }
                          ],
                          "idInMarketPlace": "25476-BZ127",
                          "marketPlaceId": "25476-BZ127",
                          "orderItemId": 46375088,
                          "stocks": [
                            {
                              "stockLocalId": 10705,
                              "amount": 1,
                              "stockName": "Estoque FÃ­sico"
                            }
                          ]
                        }
                      ],
                      "deliverStatus": "UNKNOWN",
                      "idAccount": 259032732,
                      "fulfillment": false
                    }
                  }
                ]
              },
              "example": {
                "id": 42672124,
                "accountName": " MINEIRÃO SHOPCAR",
                "marketPlaceId": "23381238-A",
                "marketPlaceNumber": "23381238-A",
                "marketPlace": "MERCADO LIVRE",
                "createdAt": "2021-05-23T18:04:07Z",
                "paymentDate": "2021-05-23T18:24:22Z",
                "transmissionStatus": "OK",
                "status": "PAID_WAITING_SHIP",
                "marketPlaceStatusComplement": "WAITING_DEBIT_PAYMENT",
                "marketPlaceStatus": "APROVADO",
                "discount": 0,
                "freight": 25.64,
                "sellerFreight": 0,
                "interestValue": 0,
                "productGross": 99,
                "productNet": 99,
                "total": 124.64,
                "shipping": {
                  "city": "SÃ£o Paulo",
                  "state": "SP",
                  "stateNameNormalized": "SÃ£o Paulo",
                  "country": "BRA",
                  "countryAcronymNormalized": "BR",
                  "countryNameNormalized": "BRASIL",
                  "address": "rua humberto i, 630, ap 132 - vila mariana",
                  "number": "630",
                  "neighborhood": "vila mariana",
                  "street": "rua humberto i",
                  "comment": "ap 132",
                  "zipCode": "04018031",
                  "receiverName": "Vanessa Oliveira",
                  "promisedShippingTime": "2021-05-28T02:59:59Z"
                },
                "billingAddress": {
                  "city": "SÃ£o Paulo",
                  "state": "SP",
                  "stateNameNormalized": "SÃ£o Paulo",
                  "country": "BRA",
                  "countryAcronymNormalized": "BR",
                  "countryNameNormalized": "BRASIL",
                  "number": "630",
                  "neighborhood": "vila mariana",
                  "street": "rua humberto i",
                  "comment": "ap 132",
                  "zipCode": "04018031",
                  "shipmentUserName": "Vanessa Oliveira",
                  "shipmentUserDocument": "41508072809",
                  "shipmentUserDocumentType": "CPF"
                },
                "anymarketAddress": {
                  "country": "BRA",
                  "state": "SP",
                  "stateAcronymNormalized": "SP",
                  "city": "SÃ£o Paulo",
                  "zipCode": "04018031",
                  "neighborhood": "vila mariana",
                  "address": "rua humberto i, 630, ap 132 - vila mariana",
                  "street": "rua humberto i",
                  "number": "630",
                  "comment": "ap 132",
                  "receiverName": "Vanessa Oliveira",
                  "promisedShippingTime": "2021-05-28T02:59:59Z"
                },
                "buyer": {
                  "name": "Vanessa Oliveira",
                  "email": "41508072809@kabum.com.br",
                  "document": "41508072809",
                  "documentType": "CPF",
                  "phone": "1921144444",
                  "cellPhone": "0000000000",
                  "documentNumberNormalized": "41508072809"
                },
                "items": [
                  {
                    "product": {
                      "id": 59083306,
                      "title": "Sanduicheira Multiuso Hamilton Beach Vermelho 600W Real"
                    },
                    "sku": {
                      "id": 21310066,
                      "title": "Sanduicheira Multiuso Hamilton Beach Vermelho 600W Real",
                      "partnerId": "25476-BZ127"
                    },
                    "amount": 1,
                    "unit": 99,
                    "gross": 99,
                    "total": 99,
                    "discount": 0,
                    "shippings": [
                      {
                        "id": 145385619,
                        "shippingtype": "SDX - CORREIOS",
                        "shippingCarrierNormalized": "UNKNOWN",
                        "shippingCarrierTypeNormalized": "UNKNOWN"
                      }
                    ],
                    "idInMarketPlace": "25476-BZ127",
                    "marketPlaceId": "25476-BZ127",
                    "orderItemId": 46375088,
                    "stocks": [
                      {
                        "stockLocalId": 10705,
                        "amount": 1,
                        "stockName": "Estoque FÃ­sico"
                      }
                    ]
                  }
                ],
                "deliverStatus": "UNKNOWN",
                "idAccount": 259032732,
                "fulfillment": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/v2/orders/51499980/nfe": {
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "PUT - FORCE XML PEDIDOS - /orders/{id}/nfe",
        "operationId": "PUT-FORCEXMLPEDIDOS-/orders/{id}/nfe",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/xml"
              ],
              "type": "string",
              "example": "application/xml"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259025663L259029543E1651144080801C155783208080100O1.I"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/nfeProc"
                  },
                  {
                    "xml": {
                      "name": "nfeProc",
                      "attribute": false,
                      "wrapped": false
                    },
                    "example": "<nfeProc versao=\"4\">\r\n  <NFe>\r\n    <infNFe Id=\"NFe41210815719006000190550010000548741057790019\" versao=\"4\">\r\n      <ide>\r\n        <cUF>41</cUF>\r\n        <cNF>05779001</cNF>\r\n        <natOp>Venda de mercadoria adquirida ou recebida de terce</natOp>\r\n        <mod>55</mod>\r\n        <serie>1</serie>\r\n        <nNF>54874</nNF>\r\n        <dhEmi>2021-08-30T18:59:08+00:00</dhEmi>\r\n        <dhSaiEnt>2021-08-30T18:59:08+00:00</dhSaiEnt>\r\n        <tpNF>1</tpNF>\r\n        <idDest>2</idDest>\r\n        <cMunFG>4115200</cMunFG>\r\n        <tpImp>1</tpImp>\r\n        <tpEmis>1</tpEmis>\r\n        <cDV>9</cDV>\r\n        <tpAmb>1</tpAmb>\r\n        <finNFe>1</finNFe>\r\n        <indFinal>1</indFinal>\r\n        <indPres>0</indPres>\r\n        <procEmi>0</procEmi>\r\n        <verProc>2017.11.23.1200</verProc>\r\n      </ide>\r\n      <emit>\r\n        <CNPJ>15719006000190</CNPJ>\r\n        <xNome>AE UTILIDADES DOMESTICAS EIRELI - EPP</xNome>\r\n        <xFant>WORLD IMPORTADOS - SITE</xFant>\r\n        <enderEmit>\r\n          <xLgr>TRAVESSA AMADEU PROGIANTE</xLgr>\r\n          <nro>1470</nro>\r\n          <xBairro>ZONA 01</xBairro>\r\n          <cMun>4115200</cMun>\r\n          <xMun>MARINGA</xMun>\r\n          <UF>PR</UF>\r\n          <CEP>87013310</CEP>\r\n          <cPais>1058</cPais>\r\n          <xPais>BRASIL</xPais>\r\n          <fone>4432277070</fone>\r\n        </enderEmit>\r\n        <IE>9059945650</IE>\r\n        <CRT>1</CRT>\r\n      </emit>\r\n      <dest>\r\n        <CPF>50925024600</CPF>\r\n        <xNome>PAULO HENRIQUE SANTOS BRASIL</xNome>\r\n        <enderDest>\r\n          <xLgr>RUA TURFA</xLgr>\r\n          <nro>1555</nro>\r\n          <xCpl>APTO 701 - PROXIMA MATA DA COPASA</xCpl>\r\n          <xBairro>GRAJAu</xBairro>\r\n          <cMun>3106200</cMun>\r\n          <xMun>BELO HORIZONTE</xMun>\r\n          <UF>MG</UF>\r\n          <CEP>30431121</CEP>\r\n          <cPais>1058</cPais>\r\n          <xPais>Brasil</xPais>\r\n          <fone>99999999999</fone>\r\n        </enderDest>\r\n        <indIEDest>9</indIEDest>\r\n      </dest>\r\n      <entrega>\r\n        <CPF>50925024600</CPF>\r\n        <xLgr>RUA TURFA</xLgr>\r\n        <nro>1555</nro>\r\n        <xCpl>APTO 701 - PROXIMA MATA DA COPASA</xCpl>\r\n        <xBairro>GRAJAu</xBairro>\r\n        <cMun>3106200</cMun>\r\n        <xMun>BELO HORIZONTE</xMun>\r\n        <UF>MG</UF>\r\n        <CEP>30431121</CEP>\r\n        <cPais>1058</cPais>\r\n        <xPais>BRASIL</xPais>\r\n      </entrega>\r\n      <det nItem=\"1\">\r\n        <prod>\r\n          <cProd>19686</cProd>\r\n          <cEAN>SEM GTIN</cEAN>\r\n          <xProd>BULE TERMICO 750 ML ACO INOX EXATA TRAMONTINA</xProd>\r\n          <NCM>96170010</NCM>\r\n          <CEST>2806100</CEST>\r\n          <indEscala>S</indEscala>\r\n          <CFOP>6108</CFOP>\r\n          <uCom>UN</uCom>\r\n          <qCom>1</qCom>\r\n          <vUnCom>146.11</vUnCom>\r\n          <vProd>146.11</vProd>\r\n          <cEANTrib>SEM GTIN</cEANTrib>\r\n          <uTrib>UN</uTrib>\r\n          <qTrib>1</qTrib>\r\n          <vUnTrib>146.11</vUnTrib>\r\n          <indTot>1</indTot>\r\n        </prod>\r\n        <imposto>\r\n          <vTotTrib>60.53</vTotTrib>\r\n          <ICMS>\r\n            <ICMSSN102>\r\n              <orig>0</orig>\r\n              <CSOSN>102</CSOSN>\r\n            </ICMSSN102>\r\n          </ICMS>\r\n          <PIS>\r\n            <PISOutr>\r\n              <CST>70</CST>\r\n              <vBC>0</vBC>\r\n              <pPIS>0</pPIS>\r\n              <vPIS>0</vPIS>\r\n            </PISOutr>\r\n          </PIS>\r\n          <COFINS>\r\n            <COFINSOutr>\r\n              <CST>70</CST>\r\n              <vBC>0</vBC>\r\n              <pCOFINS>0</pCOFINS>\r\n              <vCOFINS>0</vCOFINS>\r\n            </COFINSOutr>\r\n          </COFINS>\r\n          <ICMSUFDest>\r\n            <vBCUFDest>0</vBCUFDest>\r\n            <vBCFCPUFDest>0</vBCFCPUFDest>\r\n            <pFCPUFDest>2</pFCPUFDest>\r\n            <pICMSUFDest>18</pICMSUFDest>\r\n            <pICMSInter>12</pICMSInter>\r\n            <pICMSInterPart>100</pICMSInterPart>\r\n            <vFCPUFDest>0</vFCPUFDest>\r\n            <vICMSUFDest>0</vICMSUFDest>\r\n            <vICMSUFRemet>0</vICMSUFRemet>\r\n          </ICMSUFDest>\r\n        </imposto>\r\n      </det>\r\n      <total>\r\n        <ICMSTot>\r\n          <vBC>0</vBC>\r\n          <vICMS>0</vICMS>\r\n          <vICMSDeson>0</vICMSDeson>\r\n          <vFCPUFDest>0</vFCPUFDest>\r\n          <vICMSUFDest>0</vICMSUFDest>\r\n          <vICMSUFRemet>0</vICMSUFRemet>\r\n          <vFCP>0</vFCP>\r\n          <vBCST>0</vBCST>\r\n          <vST>0</vST>\r\n          <vFCPST>0</vFCPST>\r\n          <vFCPSTRet>0</vFCPSTRet>\r\n          <vProd>146.11</vProd>\r\n          <vFrete>0</vFrete>\r\n          <vSeg>0</vSeg>\r\n          <vDesc>0</vDesc>\r\n          <vII>0</vII>\r\n          <vIPI>0</vIPI>\r\n          <vIPIDevol>0</vIPIDevol>\r\n          <vPIS>0</vPIS>\r\n          <vCOFINS>0</vCOFINS>\r\n          <vOutro>0</vOutro>\r\n          <vNF>146.11</vNF>\r\n          <vTotTrib>60.53</vTotTrib>\r\n        </ICMSTot>\r\n      </total>\r\n      <transp>\r\n        <modFrete>0</modFrete>\r\n        <vol>\r\n          <qVol>1</qVol>\r\n          <esp>CX</esp>\r\n          <marca>DIVERSAS</marca>\r\n          <pesoL>0.858</pesoL>\r\n          <pesoB>0.885</pesoB>\r\n        </vol>\r\n      </transp>\r\n      <pag>\r\n        <detPag>\r\n          <indPag>0</indPag>\r\n          <tPag>03</tPag>\r\n          <vPag>146.11</vPag>\r\n          <card>\r\n            <tpIntegra>2</tpIntegra>\r\n          </card>\r\n        </detPag>\r\n      </pag>\r\n      <infAdic>\r\n        <infCpl>Voce pagou aproximadamente: R$ 34.23 de tributos federais / R$ 26.30 de tributos estaduais / R$ 85.58 pelos produtos FONTE IBPT/FECOMERCIO PR 115C76;DOCUMENTO EMITIDO POR ME OU EPP OPTANTE SIMPLES NACIONAL. NAO GERA DIREITO A CREDITO FISCAL DE ICMS, DE ISS E DE IPI.;;</infCpl>\r\n      </infAdic>\r\n      <infRespTec>\r\n        <CNPJ>00526351000130</CNPJ>\r\n        <xContato>Frank Sandro Becchi</xContato>\r\n        <email>nf@pchelpsistemas.com.br</email>\r\n        <fone>4430282922</fone>\r\n      </infRespTec>\r\n    </infNFe>\r\n    <Signature>\r\n      <SignedInfo>\r\n        <CanonicalizationMethod Algorithm=\"http://www.w3.org/TR/2001/REC-xml-c14n-20010315\" />\r\n        <SignatureMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#rsa-sha1\" />\r\n        <Reference URI=\"#NFe41210815719006000190550010000548741057790019\">\r\n          <Transforms>\r\n            <Transform Algorithm=\"http://www.w3.org/2000/09/xmldsig#enveloped-signature\" />\r\n            <Transform Algorithm=\"http://www.w3.org/TR/2001/REC-xml-c14n-20010315\" />\r\n          </Transforms>\r\n          <DigestMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#sha1\" />\r\n          <DigestValue>BJetjq3Nun48jEq8yFhIb7cKv9U=</DigestValue>\r\n        </Reference>\r\n      </SignedInfo>\r\n      <SignatureValue>nMPrT2AT4gLZSBUD+fdJMgaj6fWw2+dW9Fsyb/Fz9Un4eR3uF5weFhVrUKnTx7DUjCDJjpH3nnpxrw9K7aWmMKTRlqHgDv/9vwYPiCgyx6cf93sLM2ki2da2tFKBMMeu5P7A3YkmvuPCbrVZtmPZGlvmcb+9ff4d2jEff3nrYBYFJtLRp0L0WHWxEJnYaTRPCvVocbvllLcmcdMAlmHPkYgYeBa3+1TyCoAXr5fWNfVC/yuImyNwKJdu5Lm7SVLP0gt+6m+DI2mdM8J+0kb9hlfhiz1yTUCvvMVfYenefatMO8XX1LsRO1gofvgAOSjfjnWLJF6GU5vdH1sQxCGDFQ==</SignatureValue>\r\n      <KeyInfo>\r\n        <X509Data>\r\n          <X509Certificate>MIIHTjCCBTagAwIBAgIIRD0hBwczM8owDQYJKoZIhvcNAQELBQAwWTELMAkGA1UEBhMCQlIxEzARBgNVBAoTCklDUC1CcmFzaWwxFTATBgNVBAsTDEFDIFNPTFVUSSB2NTEeMBwGA1UEAxMVQUMgU09MVVRJIE11bHRpcGxhIHY1MB4XDTIxMDcwNzE2MTMwMFoXDTIyMDcwNzE2MTMwMFowgeoxCzAJBgNVBAYTAkJSMRMwEQYDVQQKEwpJQ1AtQnJhc2lsMQswCQYDVQQIEwJQUjEQMA4GA1UEBxMHTWFyaW5nYTEeMBwGA1UECxMVQUMgU09MVVRJIE11bHRpcGxhIHY1MRcwFQYDVQQLEw4yNzM5MDA5MTAwMDE3NTEZMBcGA1UECxMQVmlkZW9jb25mZXJlbmNpYTEaMBgGA1UECxMRQ2VydGlmaWNhZG8gUEogQTExNzA1BgNVBAMTLkFFIFVUSUxJREFERVMgRE9NRVNUSUNBUyBFSVJFTEk6MTU3MTkwMDYwMDAxOTAwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCnS/2Yt7uL2/fLjqZONICWLVMLC6Ne98EgWZCXal+RN4bDPphwSCc/sChOV5Yl83X4qv6gBdrGPyDjvnrtErMsrk9Aeyb8zhM0Gb0Gu1rnE+zZCpJMB6nnSNpEaEvM+ynKkopn9x7iOrLnoHymONETwobyDwYG+gh/jRgJaddX4ykog+phXq655KLEh8Mko3p8VW1NF1Vq5J9nsJTcwUEQ0Wso06gTsk1gAxmLTE9i6qNTM4OH9xC629eaJkl9dMPaj2FJa1R6ctirlbQxtJMi6nIDrOUEqieHNf7T14UM3P5ytNSsY6b2LXwq+QF2nzHgw2ACV7E+bZeYNXeCC3KBAgMBAAGjggKGMIICgjAJBgNVHRMEAjAAMB8GA1UdIwQYMBaAFMVS7SWACd+cgsifR8bdtF8x3bmxMFQGCCsGAQUFBwEBBEgwRjBEBggrBgEFBQcwAoY4aHR0cDovL2NjZC5hY3NvbHV0aS5jb20uYnIvbGNyL2FjLXNvbHV0aS1tdWx0aXBsYS12NS5wN2IwgcEGA1UdEQSBuTCBtoEeZWR1YXJkb0B3b3JsZGltcG9ydGFkb3MuY29tLmJyoCYGBWBMAQMCoB0TG1NFVkVSSU5PIE1BUkNPUyBERSBDQVJWQUxIT6AZBgVgTAEDA6AQEw4xNTcxOTAwNjAwMDE5MKA4BgVgTAEDBKAvEy0xMjA2MTk2NzY5NTM5MTcwOTE1MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDCgFwYFYEwBAwegDhMMMDAwMDAwMDAwMDAwMF0GA1UdIARWMFQwUgYGYEwBAgEmMEgwRgYIKwYBBQUHAgEWOmh0dHA6Ly9jY2QuYWNzb2x1dGkuY29tLmJyL2RvY3MvZHBjLWFjLXNvbHV0aS1tdWx0aXBsYS5wZGYwHQYDVR0lBBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMEMIGMBgNVHR8EgYQwgYEwPqA8oDqGOGh0dHA6Ly9jY2QuYWNzb2x1dGkuY29tLmJyL2xjci9hYy1zb2x1dGktbXVsdGlwbGEtdjUuY3JsMD+gPaA7hjlodHRwOi8vY2NkMi5hY3NvbHV0aS5jb20uYnIvbGNyL2FjLXNvbHV0aS1tdWx0aXBsYS12NS5jcmwwHQYDVR0OBBYEFKZvcp2z8jgQIr4Iqfos7aX3P8meMA4GA1UdDwEB/wQEAwIF4DANBgkqhkiG9w0BAQsFAAOCAgEAjPQT0JB13r8rMZMIGGz2326NhqyAWx7nACHL4zzDEH5knAm19VVeHQ4voZ3QKEwk5coW0dyYP9FW2RlxwtkP2P9Vg5KUiNGXCgUwenIm2xm30dWRZ71duue8i51UDJosqTyqAfTvHLRRl1rEkeFaOR6Pej1MpTJW7MIVfDz7I+MFq+DPZqVEubhMpE2gV0/1HxKtpO9rXBr2r0mtSNpCKSUReegtm+gp3xxU/gUd6Mx7sLP2GVr73jqINaFNeFKSiRjv9NVxEF9ZxOVhL5GZB8pc9HJIrj4784SvHzMH4c8ehdSg6jz4ocjQv5CdTfV4AL/nmhM4v5XWYi493X8Uvmj8koK1Ut6E/fTap9VkKL45xzuLApgObFcfwm3nGhBH+PQkUi0ccDFyN7rb2+XR3NLRCZWy9oQikOXujxE/PdUNnMzvmoAFNPm5Y2fDl1+h0kP3CSb/9WVn+jdpAOfCAx8tJF9ioyDCkhLmBFPRdqvpkKearfpbNBCCbiEVOPiAwlDUq3heGpw5/5pE0DFB+LXj0F8sBTktLqPhJ2cyJkwI9Y7XY5bhij7i2Q8qIdS+sCWpHbQJda8zQ6Gfns16139mXFu2GGwECT7b78DRXFyyIqzIjfhahvRKLeg01s+23oOkMFHZ+UtFD5OVYGhbifCJhi3ZVXLBHpjCN6hug50=</X509Certificate>\r\n        </X509Data>\r\n      </KeyInfo>\r\n    </Signature>\r\n  </NFe>\r\n  <protNFe versao=\"4\">\r\n    <infProt>\r\n      <tpAmb>1</tpAmb>\r\n      <verAplic>Supremo4.0</verAplic>\r\n      <chNFe>41210815719006000190550010000548741057790019</chNFe>\r\n      <dhRecbto>2021-08-30T18:56:16+00:00</dhRecbto>\r\n      <nProt>141210188767135</nProt>\r\n      <digVal>BJetjq3Nun48jEq8yFhIb7cKv9U=</digVal>\r\n      <cStat>100</cStat>\r\n      <xMotivo>Autorizado o uso de NF-e (IdNFe: NFe41210815719006000190550010000548741057790019)</xMotivo>\r\n    </infProt>\r\n  </protNFe>\r\n</nfeProc>"
                  }
                ]
              },
              "example": "<nfeProc versao=\"4\">\r\n  <NFe>\r\n    <infNFe Id=\"NFe41210815719006000190550010000548741057790019\" versao=\"4\">\r\n      <ide>\r\n        <cUF>41</cUF>\r\n        <cNF>05779001</cNF>\r\n        <natOp>Venda de mercadoria adquirida ou recebida de terce</natOp>\r\n        <mod>55</mod>\r\n        <serie>1</serie>\r\n        <nNF>54874</nNF>\r\n        <dhEmi>2021-08-30T18:59:08+00:00</dhEmi>\r\n        <dhSaiEnt>2021-08-30T18:59:08+00:00</dhSaiEnt>\r\n        <tpNF>1</tpNF>\r\n        <idDest>2</idDest>\r\n        <cMunFG>4115200</cMunFG>\r\n        <tpImp>1</tpImp>\r\n        <tpEmis>1</tpEmis>\r\n        <cDV>9</cDV>\r\n        <tpAmb>1</tpAmb>\r\n        <finNFe>1</finNFe>\r\n        <indFinal>1</indFinal>\r\n        <indPres>0</indPres>\r\n        <procEmi>0</procEmi>\r\n        <verProc>2017.11.23.1200</verProc>\r\n      </ide>\r\n      <emit>\r\n        <CNPJ>15719006000190</CNPJ>\r\n        <xNome>AE UTILIDADES DOMESTICAS EIRELI - EPP</xNome>\r\n        <xFant>WORLD IMPORTADOS - SITE</xFant>\r\n        <enderEmit>\r\n          <xLgr>TRAVESSA AMADEU PROGIANTE</xLgr>\r\n          <nro>1470</nro>\r\n          <xBairro>ZONA 01</xBairro>\r\n          <cMun>4115200</cMun>\r\n          <xMun>MARINGA</xMun>\r\n          <UF>PR</UF>\r\n          <CEP>87013310</CEP>\r\n          <cPais>1058</cPais>\r\n          <xPais>BRASIL</xPais>\r\n          <fone>4432277070</fone>\r\n        </enderEmit>\r\n        <IE>9059945650</IE>\r\n        <CRT>1</CRT>\r\n      </emit>\r\n      <dest>\r\n        <CPF>50925024600</CPF>\r\n        <xNome>PAULO HENRIQUE SANTOS BRASIL</xNome>\r\n        <enderDest>\r\n          <xLgr>RUA TURFA</xLgr>\r\n          <nro>1555</nro>\r\n          <xCpl>APTO 701 - PROXIMA MATA DA COPASA</xCpl>\r\n          <xBairro>GRAJAu</xBairro>\r\n          <cMun>3106200</cMun>\r\n          <xMun>BELO HORIZONTE</xMun>\r\n          <UF>MG</UF>\r\n          <CEP>30431121</CEP>\r\n          <cPais>1058</cPais>\r\n          <xPais>Brasil</xPais>\r\n          <fone>99999999999</fone>\r\n        </enderDest>\r\n        <indIEDest>9</indIEDest>\r\n      </dest>\r\n      <entrega>\r\n        <CPF>50925024600</CPF>\r\n        <xLgr>RUA TURFA</xLgr>\r\n        <nro>1555</nro>\r\n        <xCpl>APTO 701 - PROXIMA MATA DA COPASA</xCpl>\r\n        <xBairro>GRAJAu</xBairro>\r\n        <cMun>3106200</cMun>\r\n        <xMun>BELO HORIZONTE</xMun>\r\n        <UF>MG</UF>\r\n        <CEP>30431121</CEP>\r\n        <cPais>1058</cPais>\r\n        <xPais>BRASIL</xPais>\r\n      </entrega>\r\n      <det nItem=\"1\">\r\n        <prod>\r\n          <cProd>19686</cProd>\r\n          <cEAN>SEM GTIN</cEAN>\r\n          <xProd>BULE TERMICO 750 ML ACO INOX EXATA TRAMONTINA</xProd>\r\n          <NCM>96170010</NCM>\r\n          <CEST>2806100</CEST>\r\n          <indEscala>S</indEscala>\r\n          <CFOP>6108</CFOP>\r\n          <uCom>UN</uCom>\r\n          <qCom>1</qCom>\r\n          <vUnCom>146.11</vUnCom>\r\n          <vProd>146.11</vProd>\r\n          <cEANTrib>SEM GTIN</cEANTrib>\r\n          <uTrib>UN</uTrib>\r\n          <qTrib>1</qTrib>\r\n          <vUnTrib>146.11</vUnTrib>\r\n          <indTot>1</indTot>\r\n        </prod>\r\n        <imposto>\r\n          <vTotTrib>60.53</vTotTrib>\r\n          <ICMS>\r\n            <ICMSSN102>\r\n              <orig>0</orig>\r\n              <CSOSN>102</CSOSN>\r\n            </ICMSSN102>\r\n          </ICMS>\r\n          <PIS>\r\n            <PISOutr>\r\n              <CST>70</CST>\r\n              <vBC>0</vBC>\r\n              <pPIS>0</pPIS>\r\n              <vPIS>0</vPIS>\r\n            </PISOutr>\r\n          </PIS>\r\n          <COFINS>\r\n            <COFINSOutr>\r\n              <CST>70</CST>\r\n              <vBC>0</vBC>\r\n              <pCOFINS>0</pCOFINS>\r\n              <vCOFINS>0</vCOFINS>\r\n            </COFINSOutr>\r\n          </COFINS>\r\n          <ICMSUFDest>\r\n            <vBCUFDest>0</vBCUFDest>\r\n            <vBCFCPUFDest>0</vBCFCPUFDest>\r\n            <pFCPUFDest>2</pFCPUFDest>\r\n            <pICMSUFDest>18</pICMSUFDest>\r\n            <pICMSInter>12</pICMSInter>\r\n            <pICMSInterPart>100</pICMSInterPart>\r\n            <vFCPUFDest>0</vFCPUFDest>\r\n            <vICMSUFDest>0</vICMSUFDest>\r\n            <vICMSUFRemet>0</vICMSUFRemet>\r\n          </ICMSUFDest>\r\n        </imposto>\r\n      </det>\r\n      <total>\r\n        <ICMSTot>\r\n          <vBC>0</vBC>\r\n          <vICMS>0</vICMS>\r\n          <vICMSDeson>0</vICMSDeson>\r\n          <vFCPUFDest>0</vFCPUFDest>\r\n          <vICMSUFDest>0</vICMSUFDest>\r\n          <vICMSUFRemet>0</vICMSUFRemet>\r\n          <vFCP>0</vFCP>\r\n          <vBCST>0</vBCST>\r\n          <vST>0</vST>\r\n          <vFCPST>0</vFCPST>\r\n          <vFCPSTRet>0</vFCPSTRet>\r\n          <vProd>146.11</vProd>\r\n          <vFrete>0</vFrete>\r\n          <vSeg>0</vSeg>\r\n          <vDesc>0</vDesc>\r\n          <vII>0</vII>\r\n          <vIPI>0</vIPI>\r\n          <vIPIDevol>0</vIPIDevol>\r\n          <vPIS>0</vPIS>\r\n          <vCOFINS>0</vCOFINS>\r\n          <vOutro>0</vOutro>\r\n          <vNF>146.11</vNF>\r\n          <vTotTrib>60.53</vTotTrib>\r\n        </ICMSTot>\r\n      </total>\r\n      <transp>\r\n        <modFrete>0</modFrete>\r\n        <vol>\r\n          <qVol>1</qVol>\r\n          <esp>CX</esp>\r\n          <marca>DIVERSAS</marca>\r\n          <pesoL>0.858</pesoL>\r\n          <pesoB>0.885</pesoB>\r\n        </vol>\r\n      </transp>\r\n      <pag>\r\n        <detPag>\r\n          <indPag>0</indPag>\r\n          <tPag>03</tPag>\r\n          <vPag>146.11</vPag>\r\n          <card>\r\n            <tpIntegra>2</tpIntegra>\r\n          </card>\r\n        </detPag>\r\n      </pag>\r\n      <infAdic>\r\n        <infCpl>Voce pagou aproximadamente: R$ 34.23 de tributos federais / R$ 26.30 de tributos estaduais / R$ 85.58 pelos produtos FONTE IBPT/FECOMERCIO PR 115C76;DOCUMENTO EMITIDO POR ME OU EPP OPTANTE SIMPLES NACIONAL. NAO GERA DIREITO A CREDITO FISCAL DE ICMS, DE ISS E DE IPI.;;</infCpl>\r\n      </infAdic>\r\n      <infRespTec>\r\n        <CNPJ>00526351000130</CNPJ>\r\n        <xContato>Frank Sandro Becchi</xContato>\r\n        <email>nf@pchelpsistemas.com.br</email>\r\n        <fone>4430282922</fone>\r\n      </infRespTec>\r\n    </infNFe>\r\n    <Signature>\r\n      <SignedInfo>\r\n        <CanonicalizationMethod Algorithm=\"http://www.w3.org/TR/2001/REC-xml-c14n-20010315\" />\r\n        <SignatureMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#rsa-sha1\" />\r\n        <Reference URI=\"#NFe41210815719006000190550010000548741057790019\">\r\n          <Transforms>\r\n            <Transform Algorithm=\"http://www.w3.org/2000/09/xmldsig#enveloped-signature\" />\r\n            <Transform Algorithm=\"http://www.w3.org/TR/2001/REC-xml-c14n-20010315\" />\r\n          </Transforms>\r\n          <DigestMethod Algorithm=\"http://www.w3.org/2000/09/xmldsig#sha1\" />\r\n          <DigestValue>BJetjq3Nun48jEq8yFhIb7cKv9U=</DigestValue>\r\n        </Reference>\r\n      </SignedInfo>\r\n      <SignatureValue>nMPrT2AT4gLZSBUD+fdJMgaj6fWw2+dW9Fsyb/Fz9Un4eR3uF5weFhVrUKnTx7DUjCDJjpH3nnpxrw9K7aWmMKTRlqHgDv/9vwYPiCgyx6cf93sLM2ki2da2tFKBMMeu5P7A3YkmvuPCbrVZtmPZGlvmcb+9ff4d2jEff3nrYBYFJtLRp0L0WHWxEJnYaTRPCvVocbvllLcmcdMAlmHPkYgYeBa3+1TyCoAXr5fWNfVC/yuImyNwKJdu5Lm7SVLP0gt+6m+DI2mdM8J+0kb9hlfhiz1yTUCvvMVfYenefatMO8XX1LsRO1gofvgAOSjfjnWLJF6GU5vdH1sQxCGDFQ==</SignatureValue>\r\n      <KeyInfo>\r\n        <X509Data>\r\n          <X509Certificate>MIIHTjCCBTagAwIBAgIIRD0hBwczM8owDQYJKoZIhvcNAQELBQAwWTELMAkGA1UEBhMCQlIxEzARBgNVBAoTCklDUC1CcmFzaWwxFTATBgNVBAsTDEFDIFNPTFVUSSB2NTEeMBwGA1UEAxMVQUMgU09MVVRJIE11bHRpcGxhIHY1MB4XDTIxMDcwNzE2MTMwMFoXDTIyMDcwNzE2MTMwMFowgeoxCzAJBgNVBAYTAkJSMRMwEQYDVQQKEwpJQ1AtQnJhc2lsMQswCQYDVQQIEwJQUjEQMA4GA1UEBxMHTWFyaW5nYTEeMBwGA1UECxMVQUMgU09MVVRJIE11bHRpcGxhIHY1MRcwFQYDVQQLEw4yNzM5MDA5MTAwMDE3NTEZMBcGA1UECxMQVmlkZW9jb25mZXJlbmNpYTEaMBgGA1UECxMRQ2VydGlmaWNhZG8gUEogQTExNzA1BgNVBAMTLkFFIFVUSUxJREFERVMgRE9NRVNUSUNBUyBFSVJFTEk6MTU3MTkwMDYwMDAxOTAwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCnS/2Yt7uL2/fLjqZONICWLVMLC6Ne98EgWZCXal+RN4bDPphwSCc/sChOV5Yl83X4qv6gBdrGPyDjvnrtErMsrk9Aeyb8zhM0Gb0Gu1rnE+zZCpJMB6nnSNpEaEvM+ynKkopn9x7iOrLnoHymONETwobyDwYG+gh/jRgJaddX4ykog+phXq655KLEh8Mko3p8VW1NF1Vq5J9nsJTcwUEQ0Wso06gTsk1gAxmLTE9i6qNTM4OH9xC629eaJkl9dMPaj2FJa1R6ctirlbQxtJMi6nIDrOUEqieHNf7T14UM3P5ytNSsY6b2LXwq+QF2nzHgw2ACV7E+bZeYNXeCC3KBAgMBAAGjggKGMIICgjAJBgNVHRMEAjAAMB8GA1UdIwQYMBaAFMVS7SWACd+cgsifR8bdtF8x3bmxMFQGCCsGAQUFBwEBBEgwRjBEBggrBgEFBQcwAoY4aHR0cDovL2NjZC5hY3NvbHV0aS5jb20uYnIvbGNyL2FjLXNvbHV0aS1tdWx0aXBsYS12NS5wN2IwgcEGA1UdEQSBuTCBtoEeZWR1YXJkb0B3b3JsZGltcG9ydGFkb3MuY29tLmJyoCYGBWBMAQMCoB0TG1NFVkVSSU5PIE1BUkNPUyBERSBDQVJWQUxIT6AZBgVgTAEDA6AQEw4xNTcxOTAwNjAwMDE5MKA4BgVgTAEDBKAvEy0xMjA2MTk2NzY5NTM5MTcwOTE1MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDCgFwYFYEwBAwegDhMMMDAwMDAwMDAwMDAwMF0GA1UdIARWMFQwUgYGYEwBAgEmMEgwRgYIKwYBBQUHAgEWOmh0dHA6Ly9jY2QuYWNzb2x1dGkuY29tLmJyL2RvY3MvZHBjLWFjLXNvbHV0aS1tdWx0aXBsYS5wZGYwHQYDVR0lBBYwFAYIKwYBBQUHAwIGCCsGAQUFBwMEMIGMBgNVHR8EgYQwgYEwPqA8oDqGOGh0dHA6Ly9jY2QuYWNzb2x1dGkuY29tLmJyL2xjci9hYy1zb2x1dGktbXVsdGlwbGEtdjUuY3JsMD+gPaA7hjlodHRwOi8vY2NkMi5hY3NvbHV0aS5jb20uYnIvbGNyL2FjLXNvbHV0aS1tdWx0aXBsYS12NS5jcmwwHQYDVR0OBBYEFKZvcp2z8jgQIr4Iqfos7aX3P8meMA4GA1UdDwEB/wQEAwIF4DANBgkqhkiG9w0BAQsFAAOCAgEAjPQT0JB13r8rMZMIGGz2326NhqyAWx7nACHL4zzDEH5knAm19VVeHQ4voZ3QKEwk5coW0dyYP9FW2RlxwtkP2P9Vg5KUiNGXCgUwenIm2xm30dWRZ71duue8i51UDJosqTyqAfTvHLRRl1rEkeFaOR6Pej1MpTJW7MIVfDz7I+MFq+DPZqVEubhMpE2gV0/1HxKtpO9rXBr2r0mtSNpCKSUReegtm+gp3xxU/gUd6Mx7sLP2GVr73jqINaFNeFKSiRjv9NVxEF9ZxOVhL5GZB8pc9HJIrj4784SvHzMH4c8ehdSg6jz4ocjQv5CdTfV4AL/nmhM4v5XWYi493X8Uvmj8koK1Ut6E/fTap9VkKL45xzuLApgObFcfwm3nGhBH+PQkUi0ccDFyN7rb2+XR3NLRCZWy9oQikOXujxE/PdUNnMzvmoAFNPm5Y2fDl1+h0kP3CSb/9WVn+jdpAOfCAx8tJF9ioyDCkhLmBFPRdqvpkKearfpbNBCCbiEVOPiAwlDUq3heGpw5/5pE0DFB+LXj0F8sBTktLqPhJ2cyJkwI9Y7XY5bhij7i2Q8qIdS+sCWpHbQJda8zQ6Gfns16139mXFu2GGwECT7b78DRXFyyIqzIjfhahvRKLeg01s+23oOkMFHZ+UtFD5OVYGhbifCJhi3ZVXLBHpjCN6hug50=</X509Certificate>\r\n        </X509Data>\r\n      </KeyInfo>\r\n    </Signature>\r\n  </NFe>\r\n  <protNFe versao=\"4\">\r\n    <infProt>\r\n      <tpAmb>1</tpAmb>\r\n      <verAplic>Supremo4.0</verAplic>\r\n      <chNFe>41210815719006000190550010000548741057790019</chNFe>\r\n      <dhRecbto>2021-08-30T18:56:16+00:00</dhRecbto>\r\n      <nProt>141210188767135</nProt>\r\n      <digVal>BJetjq3Nun48jEq8yFhIb7cKv9U=</digVal>\r\n      <cStat>100</cStat>\r\n      <xMotivo>Autorizado o uso de NF-e (IdNFe: NFe41210815719006000190550010000548741057790019)</xMotivo>\r\n    </infProt>\r\n  </protNFe>\r\n</nfeProc>"
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://api.anymarket.com.br",
            "variables": {}
          }
        ]
      }
    },
    "/orders/63189422/resend": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "RENOTIFICAR PEDIDO NOS MARKETPLACES",
        "operationId": "RENOTIFICARPEDIDONOSMARKETPLACES",
        "parameters": [
          {
            "name": "gumgaToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "259062422L259047657E1614883711945C161488191194500O259047657.I"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "https://app.anymarket.com.br/rest/api",
            "variables": {}
          }
        ]
      }
    },
    "/1183433380257-01": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "DROGA RAIA GET ORDER",
        "operationId": "DROGARAIAGETORDER",
        "parameters": [
          {
            "name": "x-vtex-api-appToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LKJLGSTJQEGWCYIMPNFFQZVNCFCFKKFUNRAHUEQBZKWFQRDXBZXLMXULPWJBQNZFZMJKXBSKXDFFDPWKBFEKMTIQXPRXVPLMLRGEITZZGNNIROIZZYZKJOSFESNIJUOI"
            }
          },
          {
            "name": "x-vtex-api-appKey",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "vtexappkey-raiadrogasil-KNUBII"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false,
        "servers": [
          {
            "url": "http://raiadrogasil.vtexcommercestable.com.br/api/oms/pvt/orders",
            "variables": {}
          }
        ]
      }
    },
    "/1183433380257-01/invoice": {
      "post": {
        "tags": [
          "Order"
        ],
        "summary": "FORCE DADOS DE PEDIDO DROGA RAIA",
        "operationId": "FORCEDADOSDEPEDIDODROGARAIA",
        "parameters": [
          {
            "name": "x-vtex-api-appKey",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "vtexappkey-raiadrogasil-KNUBII"
            }
          },
          {
            "name": "x-vtex-api-appToken",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "LKJLGSTJQEGWCYIMPNFFQZVNCFCFKKFUNRAHUEQBZKWFQRDXBZXLMXULPWJBQNZFZMJKXBSKXDFFDPWKBFEKMTIQXPRXVPLMLRGEITZZGNNIROIZZYZKJOSFESNIJUOI"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
[...]
