{"openapi":"3.0.1","info":{"title":"Asaas","description":"API pública de integração com a plataforma Asaas.","version":"3.0.0"},"servers":[{"url":"https://api-sandbox.asaas.com","description":"Sandbox"}],"security":[{"Authorization":[]}],"tags":[{"name":"Cobranças"},{"name":"Ações em sandbox"},{"name":"Cobranças com dados resumidos"},{"name":"Cartão de crédito"},{"name":"Estornos"},{"name":"Splits"},{"name":"Conta Escrow"},{"name":"Documentos de cobranças"},{"name":"Clientes"},{"name":"Notificações"},{"name":"Parcelamentos"},{"name":"Assinaturas"},{"name":"Pix"},{"name":"Transações Pix"},{"name":"Pix Recorrente"},{"name":"Link de pagamentos"},{"name":"Checkout"},{"name":"Transferências"},{"name":"Antecipações"},{"name":"Negativações"},{"name":"Pagamento de contas"},{"name":"Recargas de celular"},{"name":"Consulta Serasa"},{"name":"Extrato"},{"name":"Informações financeiras"},{"name":"Informações e personalização da conta"},{"name":"Notas fiscais"},{"name":"Informações fiscais"},{"name":"Configurações de Webhooks"},{"name":"Subcontas Asaas"},{"name":"Envio de documentos White Label"},{"name":"Chargeback"}],"paths":{"/v3/payments":{"post":{"tags":["Cobranças"],"summary":"Criar nova cobrança","description":"","operationId":"criar-nova-cobranca","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["customer","billingType","value","dueDate"],"type":"object","properties":{"customer":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_G7Dvo4iphUNk","deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiPaymentSaveRequestBillingType"},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"description":{"type":"string","description":"Descrição da cobrança (máx. 500 caracteres)","example":"Pedido 056984","deprecated":false},"daysAfterDueDateToRegistrationCancellation":{"type":"integer","description":"Dias após o vencimento para cancelamento do registro (somente para boleto bancário)","format":"int32","example":1,"deprecated":false},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"installmentCount":{"type":"integer","description":"Número de parcelas (somente no caso de cobrança parcelada)","format":"int32","deprecated":false,"example":null},"totalValue":{"type":"number","description":"Informe o valor total de uma cobrança que será parcelada (somente no caso de cobrança parcelada). Caso enviado este campo o installmentValue não é necessário, o cálculo por parcela será automático.","deprecated":false,"example":null},"installmentValue":{"type":"number","description":"Valor de cada parcela (somente no caso de cobrança parcelada). Envie este campo em caso de querer definir o valor de cada parcela.","deprecated":false,"example":null},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestRequestDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineRequestDTO"},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"split":{"type":"array","description":"Configurações do split","deprecated":false,"items":{"required":["walletId"],"type":"object","properties":{"walletId":{"type":"string","description":"Identificador da carteira Asaas que será transferido","deprecated":false,"example":null},"fixedValue":{"type":"number","description":"Valor fixo a ser transferido para a conta quando a cobrança for recebida","deprecated":false,"example":null},"percentualValue":{"type":"number","description":"Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida","deprecated":false,"example":null},"totalFixedValue":{"type":"number","description":"(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.","deprecated":false,"example":null},"externalReference":{"type":"string","description":"Identificador do split no seu sistema","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do split","deprecated":false,"example":null}}}},"callback":{"$ref":"#/components/schemas/ApiPaymentCallbackRequestDTO"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo do objeto","example":"payment","deprecated":false},"id":{"type":"string","description":"Identificador único da cobrança no Asaas","example":"pay_080225913252","deprecated":false},"dateCreated":{"type":"string","description":"Data de criação da cobrança","format":"date","example":"2017-03-10","deprecated":false},"customer":{"type":"string","description":"Identificador único do cliente ao qual a cobrança pertence","example":"cus_G7Dvo4iphUNk","deprecated":false},"subscription":{"type":"string","description":"Identificador único da assinatura (quando cobrança recorrente)","deprecated":false,"example":null},"installment":{"type":"string","description":"Identificador único do parcelamento (quando cobrança parcelada)","deprecated":false,"example":null},"paymentLink":{"type":"string","description":"Identificador único do link de pagamentos ao qual a cobrança pertence","deprecated":false,"example":null},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"netValue":{"type":"number","description":"Valor líquido da cobrança após desconto da tarifa do Asaas","example":124.9,"deprecated":false},"originalValue":{"type":"number","description":"Valor original da cobrança (preenchido quando paga com juros e multa)","deprecated":false,"example":null},"interestValue":{"type":"number","description":"Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição da cobrança","example":"Pedido 056984","deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiPaymentGetResponseBillingType"},"creditCard":{"$ref":"#/components/schemas/ApiPaymentSaveWithCreditCardCreditCardDTO"},"canBePaidAfterDueDate":{"type":"boolean","description":"Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)","example":true,"deprecated":false},"pixTransaction":{"type":"string","description":"Identificador único da transação Pix à qual a cobrança pertence","deprecated":false,"example":null},"pixQrCodeId":{"type":"string","description":"Identificador único do QrCode estático gerado para determinada chave Pix","deprecated":false,"example":null},"status":{"$ref":"#/components/schemas/ApiPaymentGetResponsePaymentStatus"},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"originalDueDate":{"type":"string","description":"Vencimento original no ato da criação da cobrança","format":"date","example":"2017-06-10","deprecated":false},"paymentDate":{"type":"string","description":"Data de liquidação da cobrança no Asaas","format":"date","deprecated":false,"example":null},"clientPaymentDate":{"type":"string","description":"Data em que o cliente efetuou o pagamento do boleto","format":"date","deprecated":false,"example":null},"installmentNumber":{"type":"integer","description":"Número da parcela","format":"int32","deprecated":false,"example":null},"invoiceUrl":{"type":"string","description":"URL da fatura","example":"https://www.asaas.com/i/080225913252","deprecated":false},"invoiceNumber":{"type":"string","description":"Número da fatura","example":"00005101","deprecated":false},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"deleted":{"type":"boolean","description":"Determina se a cobrança foi removida","example":false,"deprecated":false},"anticipated":{"type":"boolean","description":"Define se a cobrança foi antecipada ou está em processo de antecipação","example":false,"deprecated":false},"anticipable":{"type":"boolean","description":"Determina se a cobrança é antecipável","example":false,"deprecated":false},"creditDate":{"type":"string","description":"Indica a data que o crédito ficou disponível","format":"date","example":"2017-06-10","deprecated":false},"estimatedCreditDate":{"type":"string","description":"Data estimada de quando o crédito ficará disponível","format":"date","example":"2017-06-10","deprecated":false},"transactionReceiptUrl":{"type":"string","description":"URL do comprovante de confirmação, recebimento, estorno ou remoção.","deprecated":false,"example":null},"nossoNumero":{"type":"string","description":"Identificação única do boleto","example":"6453","deprecated":false},"bankSlipUrl":{"type":"string","description":"URL para download do boleto","example":"https://www.asaas.com/b/pdf/080225913252","deprecated":false},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineResponseDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestResponseDTO"},"split":{"type":"array","description":"Configurações do split","deprecated":false,"items":{"type":"object","properties":{"id":{"type":"string","description":"Identificador único do split pago no Asaas","example":"fd41396a-7453-47d0-9411-c8543522591d","deprecated":false},"walletId":{"type":"string","description":"Identificador da carteira Asaas que será transferido","example":"7bafd95a-e783-4a62-9be1-23999af742c6","deprecated":false},"fixedValue":{"type":"number","description":"Valor fixo a ser transferido para a conta quando a cobrança for recebida","example":20.32,"deprecated":false},"percentualValue":{"type":"number","description":"Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida","deprecated":false,"example":null},"totalValue":{"type":"number","description":"Valor total do split que será enviado","example":20.32,"deprecated":false},"cancellationReason":{"$ref":"#/components/schemas/ApiPaymentSplitGetResponsePaymentSplitCancellationReason"},"status":{"$ref":"#/components/schemas/ApiPaymentSplitGetResponsePaymentSplitStatus"},"externalReference":{"type":"string","description":"Identificador do split no seu sistema","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do split","deprecated":false,"example":null}}}},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"daysAfterDueDateToRegistrationCancellation":{"type":"integer","description":"Dias após o vencimento para cancelamento do registro (somente para boleto bancário)","format":"int32","deprecated":false,"example":null},"chargeback":{"$ref":"#/components/schemas/ApiPaymentChargebackResponseDTO"},"escrow":{"$ref":"#/components/schemas/ApiPaymentCustodyGetResponseDTO"},"refunds":{"type":"array","description":"Informações de estorno","deprecated":false,"items":{"type":"object","properties":{"dateCreated":{"type":"string","description":"Data da criação do estorno","format":"date-time","example":"2024-10-18 10:19:06","deprecated":false},"status":{"$ref":"#/components/schemas/ApiPaymentRefundGetResponsePaymentRefundStatus"},"value":{"type":"number","description":"Valor do estorno","example":40,"deprecated":false},"endToEndIdentifier":{"type":"string","description":"(Apenas pix) Identificador da transação Pix no Banco Central","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do estorno","deprecated":false,"example":null},"effectiveDate":{"type":"string","description":"(Apenas pix) Data de efetivação do estorno","format":"date-time","example":"2024-10-19 10:19:06","deprecated":false},"transactionReceiptUrl":{"type":"string","description":"Link do recibo da transação","deprecated":false,"example":null},"refundedSplits":{"type":"array","description":"Lista de splits estornados, se houver","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentRefundedSplitResponseDTO"}}}}}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"type":"object","properties":{"code":{"type":"string","description":"Código do erro","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do erro","deprecated":false,"example":null}}}}},"example":{"errors":[{"code":"invalid_customer","description":"Customer Inválido ou não informado"}]}}}}},"401":{"description":"Unauthorized"}},"deprecated":false},"get":{"tags":["Cobranças"],"summary":"Listar cobranças","description":"","operationId":"listar-cobrancas","parameters":[{"name":"installment","in":"query","description":"Filtrar pelo Identificador único do parcelamento","schema":{"type":"string","example":null}},{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}},{"name":"customer","in":"query","description":"Filtrar pelo Identificador único do cliente","schema":{"type":"string","example":null}},{"name":"customerGroupName","in":"query","description":"Filtrar pelo nome do grupo de cliente","schema":{"type":"string","example":null}},{"name":"billingType","in":"query","description":"Filtrar por forma de pagamento","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestBillingType"}},{"name":"status","in":"query","description":"Filtrar por status","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestPaymentStatus"}},{"name":"subscription","in":"query","description":"Filtrar pelo Identificador único da assinatura","schema":{"type":"string","example":null}},{"name":"externalReference","in":"query","description":"Filtrar pelo Identificador do seu sistema","schema":{"type":"string","example":null}},{"name":"paymentDate","in":"query","description":"Filtrar pela data de pagamento","schema":{"type":"string","example":null}},{"name":"invoiceStatus","in":"query","description":"Filtro para retornar cobranças que possuem ou não nota fiscal","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestInvoiceStatus"}},{"name":"estimatedCreditDate","in":"query","description":"Filtrar pela data estimada de crédito","schema":{"type":"string","example":null}},{"name":"pixQrCodeId","in":"query","description":"Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode","schema":{"type":"string","example":null}},{"name":"anticipated","in":"query","description":"Filtrar registros antecipados ou não","schema":{"type":"boolean","example":null}},{"name":"anticipable","in":"query","description":"Filtrar registros antecipaveis ou não","schema":{"type":"boolean","example":null}},{"name":"dateCreated[ge]","in":"query","description":"Filtrar a partir da data de criação inicial","schema":{"type":"string","example":null}},{"name":"dateCreated[le]","in":"query","description":"Filtrar até a data de criação final","schema":{"type":"string","example":null}},{"name":"paymentDate[ge]","in":"query","description":"Filtrar a partir da data de recebimento inicial","schema":{"type":"string","example":null}},{"name":"paymentDate[le]","in":"query","description":"Filtrar até a data de recebimento final","schema":{"type":"string","example":null}},{"name":"estimatedCreditDate[ge]","in":"query","description":"Filtrar a partir da data estimada de crédito inicial","schema":{"type":"string","example":null}},{"name":"estimatedCreditDate[le]","in":"query","description":"Filtrar até a data estimada de crédito final","schema":{"type":"string","example":null}},{"name":"dueDate[ge]","in":"query","description":"Filtrar a partir da data de vencimento inicial","schema":{"type":"string","example":null}},{"name":"dueDate[le]","in":"query","description":"Filtrar até a data de vencimento final","schema":{"type":"string","example":null}},{"name":"user","in":"query","description":"Filtrar pelo endereço de e-mail do usuário que criou a cobrança","schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/payments/":{"post":{"tags":["Cobranças"],"summary":"Criar cobrança com cartão de crédito","description":"","operationId":"criar-cobranca-com-cartao-de-credito","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentSaveWithCreditCardRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"type":"object","properties":{"code":{"type":"string","description":"Código do erro","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do erro","deprecated":false,"example":null}}}}},"example":{"errors":[{"code":"invalid_customer","description":"Customer Inválido ou não informado"}]}}}}},"401":{"description":"Unauthorized"}},"deprecated":false}},"/v3/payments/{id}/captureAuthorizedPayment":{"post":{"tags":["Cobranças"],"summary":"Capturar cobrança com Pré-Autorização","description":"","operationId":"capturar-cobranca-com-pre-autorizacao","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/payWithCreditCard":{"post":{"tags":["Cobranças"],"summary":"Pagar uma cobrança com cartão de crédito","description":"","operationId":"pagar-uma-cobranca-com-cartao-de-credito","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"required":["creditCard","creditCardHolderInfo"],"type":"object","properties":{"creditCard":{"$ref":"#/components/schemas/ApiCreditCardRequestDTO"},"creditCardHolderInfo":{"$ref":"#/components/schemas/ApiCreditCardHolderInfoRequestDTO"},"creditCardToken":{"type":"string","description":"Token do cartão de crédito para uso da funcionalidade de tokenização de cartão de crédito. Caso informado, os campos acima não são obrigatórios.","deprecated":false,"example":null}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/billingInfo":{"get":{"tags":["Cobranças"],"summary":"Recuperar informações de pagamento de uma cobrança","description":"","operationId":"recuperar-informacoes-de-pagamento-de-uma-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"pix":{"$ref":"#/components/schemas/ApiPaymentPixQrCodeResponseDTO"},"creditCard":{"$ref":"#/components/schemas/ApiCreditCardTokenizeResponseDTO"},"bankSlip":{"$ref":"#/components/schemas/ApiBankSlipBillingInfoResponseDTO"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/viewingInfo":{"get":{"tags":["Cobranças"],"summary":"Informações sobre visualização da cobrança","description":"","operationId":"informacoes-sobre-visualizacao-da-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"invoiceViewedDate":{"type":"string","description":"Data e hora da visualização da fatura","format":"date-time","example":"2017-06-10 11:00:00","deprecated":false},"boletoViewedDate":{"type":"string","description":"Data e hora da visualização do boleto","format":"date-time","example":"2017-06-10 11:00:00","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}":{"get":{"tags":["Cobranças"],"summary":"Recuperar uma única cobrança","description":"","operationId":"recuperar-uma-unica-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false},"put":{"tags":["Cobranças"],"summary":"Atualizar cobrança existente","description":"","operationId":"atualizar-cobranca-existente","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":"pay_080225913252"}}],"requestBody":{"content":{"application/json":{"schema":{"required":["billingType","value","dueDate"],"type":"object","properties":{"billingType":{"$ref":"#/components/schemas/ApiPaymentUpdateRequestBillingType"},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"description":{"type":"string","description":"Descrição da cobrança (máx. 500 caracteres)","example":"Pedido 056984","deprecated":false},"daysAfterDueDateToRegistrationCancellation":{"type":"integer","description":"Dias após o vencimento para cancelamento do registro (somente para boleto bancário)","format":"int32","example":1,"deprecated":false},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestRequestDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineRequestDTO"},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"split":{"type":"array","description":"Configurações do split","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentSplitRequestDTO"}},"callback":{"$ref":"#/components/schemas/ApiPaymentCallbackRequestDTO"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false},"delete":{"tags":["Cobranças"],"summary":"Excluir cobrança","description":"","operationId":"excluir-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean","description":"Indica se a cobrança foi removida","example":true,"deprecated":false},"id":{"type":"string","description":"Identificador único da cobrança no Asaas","example":"pay_pCczZjBBr6RL","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/restore":{"post":{"tags":["Cobranças"],"summary":"Restaurar cobrança removida","description":"","operationId":"restaurar-cobranca-removida","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/status":{"get":{"tags":["Cobranças"],"summary":"Recuperar status de uma cobrança","description":"","operationId":"recuperar-status-de-uma-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/ApiPaymentStatusResponsePaymentStatus"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/refund":{"post":{"tags":["Cobranças"],"summary":"Estornar cobrança","description":"","operationId":"estornar-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"number","description":"Valor a ser estornado","example":5,"deprecated":false},"description":{"type":"string","description":"Motivo do estorno","example":"Valor a mais","deprecated":false}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/identificationField":{"get":{"tags":["Cobranças"],"summary":"Obter linha digitável do boleto","description":"","operationId":"obter-linha-digitavel-do-boleto","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"identificationField":{"type":"string","description":"Linha digitável do boleto","example":"00190000090275928800021932978170187890000005000","deprecated":false},"nossoNumero":{"type":"string","description":"Número de identificação do boleto","example":"6543","deprecated":false},"barCode":{"type":"string","description":"Código de barras do boleto","example":"00191878900000050000000002759288002193297817","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/pixQrCode":{"get":{"tags":["Cobranças"],"summary":"Obter QR Code para pagamentos via Pix","description":"","operationId":"obter-qr-code-para-pagamentos-via-pix","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPixQrCodeResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/receiveInCash":{"post":{"tags":["Cobranças"],"summary":"Confirmar recebimento em dinheiro","description":"","operationId":"confirmar-recebimento-em-dinheiro","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"paymentDate":{"type":"string","description":"Data em que o cliente efetuou o pagamento","format":"date","example":"08/04/2025","deprecated":false},"value":{"type":"number","description":"Valor pago pelo cliente","example":129.9,"deprecated":false},"notifyCustomer":{"type":"boolean","description":"Enviar ou não notificação de pagamento confirmado para o cliente","example":false,"deprecated":false}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/undoReceivedInCash":{"post":{"tags":["Cobranças"],"summary":"Desfazer confirmação de recebimento em dinheiro","description":"","operationId":"desfazer-confirmacao-de-recebimento-em-dinheiro","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/simulate":{"post":{"tags":["Cobranças"],"summary":"Simulador de vendas","description":"","operationId":"simulador-de-vendas","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["value","billingTypes"],"type":"object","properties":{"value":{"type":"number","description":"Valor total do parcelamento ou da cobrança","example":100,"deprecated":false},"installmentCount":{"type":"integer","description":"Quantidade de parcelas","format":"int32","example":2,"deprecated":false},"billingTypes":{"type":"array","description":"Forma de pagamento","example":["CREDIT_CARD","BOLETO","PIX"],"deprecated":false,"items":{"type":"string"}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"value":{"type":"number","description":"Valor total do parcelamento ou da cobrança","example":100,"deprecated":false},"creditCard":{"$ref":"#/components/schemas/ApiPaymentSimulateCreditCardResponseDTO"},"bankSlip":{"$ref":"#/components/schemas/ApiPaymentSimulateBankSlipResponseDTO"},"pix":{"$ref":"#/components/schemas/ApiPaymentSimulatePixResponseDTO"}}}}}},"401":{"description":"Unauthorized"}},"deprecated":false}},"/v3/payments/{id}/escrow":{"get":{"tags":["Cobranças"],"summary":"Recuperar garantia da cobrança na Conta Escrow","description":"","operationId":"recuperar-garantia-da-cobranca-na-conta-escrow","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentCustodyGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/limits":{"get":{"tags":["Cobranças"],"summary":"Recuperando limites de cobranças","description":"","operationId":"recuperando-limites-de-cobrancas","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"creation":{"$ref":"#/components/schemas/ApiPaymentLimitsResponseCreationDTO"}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/sandbox/payment/{id}/confirm":{"post":{"tags":["Ações em sandbox"],"summary":"(Apenas sandbox) Confirmar o pagamento","description":"Esse endpoint confirma o pagamento de uma cobrança no ambiente sandbox.","operationId":"confirmar-pagamento","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/sandbox/payment/{id}/overdue":{"post":{"tags":["Ações em sandbox"],"summary":"(Apenas sandbox) Forçar o vencimento de uma cobrança","description":"Esse endpoint força o vencimento de uma cobrança no ambiente sandbox.","operationId":"forcar-vencimento","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Criar nova cobrança com dados resumidos na resposta","description":"","operationId":"criar-nova-cobranca-com-dados-resumidos-na-resposta","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentSaveRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"type":"object","properties":{"code":{"type":"string","description":"Código do erro","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do erro","deprecated":false,"example":null}}}}},"example":{"errors":[{"code":"invalid_customer","description":"Customer Inválido ou não informado"}]}}}}},"401":{"description":"Unauthorized"}},"deprecated":false},"get":{"tags":["Cobranças com dados resumidos"],"summary":"Listar cobranças com dados resumidos","description":"","operationId":"listar-cobrancas-com-dados-resumidos","parameters":[{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}},{"name":"customer","in":"query","description":"Filtrar pelo Identificador único do cliente","schema":{"type":"string","example":null}},{"name":"customerGroupName","in":"query","description":"Filtrar pelo nome do grupo de cliente","schema":{"type":"string","example":null}},{"name":"billingType","in":"query","description":"Filtrar por forma de pagamento","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestBillingType"}},{"name":"status","in":"query","description":"Filtrar por status","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestPaymentStatus"}},{"name":"subscription","in":"query","description":"Filtrar pelo Identificador único da assinatura","schema":{"type":"string","example":null}},{"name":"installment","in":"query","description":"Filtrar pelo Identificador único do parcelamento","schema":{"type":"string","example":null}},{"name":"externalReference","in":"query","description":"Filtrar pelo Identificador do seu sistema","schema":{"type":"string","example":null}},{"name":"paymentDate","in":"query","description":"Filtrar pela data de pagamento","schema":{"type":"string","example":null}},{"name":"invoiceStatus","in":"query","description":"Filtro para retornar cobranças que possuem ou não nota fiscal","schema":{"$ref":"#/components/schemas/ApiPaymentListRequestInvoiceStatus"}},{"name":"estimatedCreditDate","in":"query","description":"Filtrar pela data estimada de crédito","schema":{"type":"string","example":null}},{"name":"pixQrCodeId","in":"query","description":"Filtrar recebimentos originados de um QrCode estático utilizando o id gerado na hora da criação do QrCode","schema":{"type":"string","example":null}},{"name":"anticipated","in":"query","description":"Filtrar registros antecipados ou não","schema":{"type":"boolean","example":null}},{"name":"anticipable","in":"query","description":"Filtrar registros antecipaveis ou não","schema":{"type":"boolean","example":null}},{"name":"dateCreated[ge]","in":"query","description":"Filtrar a partir da data de criação inicial","schema":{"type":"string","example":null}},{"name":"dateCreated[le]","in":"query","description":"Filtrar até a data de criação final","schema":{"type":"string","example":null}},{"name":"paymentDate[ge]","in":"query","description":"Filtrar a partir da data de recebimento inicial","schema":{"type":"string","example":null}},{"name":"paymentDate[le]","in":"query","description":"Filtrar até a data de recebimento final","schema":{"type":"string","example":null}},{"name":"estimatedCreditDate[ge]","in":"query","description":"Filtrar a partir da data estimada de crédito inicial","schema":{"type":"string","example":null}},{"name":"estimatedCreditDate[le]","in":"query","description":"Filtrar até a data estimada de crédito final","schema":{"type":"string","example":null}},{"name":"dueDate[ge]","in":"query","description":"Filtrar a partir da data de vencimento inicial","schema":{"type":"string","example":null}},{"name":"dueDate[le]","in":"query","description":"Filtrar até a data de vencimento final","schema":{"type":"string","example":null}},{"name":"user","in":"query","description":"Filtrar pelo endereço de e-mail do usuário que criou a cobrança","schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/lean/payments/":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Criar cobrança com cartão de crédito com dados resumidos na resposta","description":"","operationId":"criar-cobranca-com-cartao-de-credito-com-dados-resumidos-na-resposta","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["customer","billingType","value","dueDate","remoteIp"],"type":"object","properties":{"customer":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_G7Dvo4iphUNk","deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiPaymentSaveWithCreditCardRequestBillingType"},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"description":{"type":"string","description":"Descrição da cobrança (máx. 500 caracteres)","example":"Pedido 056984","deprecated":false},"daysAfterDueDateToRegistrationCancellation":{"type":"integer","description":"Dias após o vencimento para cancelamento do registro (somente para boleto bancário)","format":"int32","example":1,"deprecated":false},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"installmentCount":{"type":"integer","description":"Número de parcelas (somente no caso de cobrança parcelada)","format":"int32","deprecated":false,"example":null},"totalValue":{"type":"number","description":"Informe o valor total de uma cobrança que será parcelada (somente no caso de cobrança parcelada). Caso enviado este campo o installmentValue não é necessário, o cálculo por parcela será automático.","deprecated":false,"example":null},"installmentValue":{"type":"number","description":"Valor de cada parcela (somente no caso de cobrança parcelada). Envie este campo em caso de querer definir o valor de cada parcela.","deprecated":false,"example":null},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestRequestDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineRequestDTO"},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"split":{"type":"array","description":"Configurações do split","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentSplitRequestDTO"}},"callback":{"$ref":"#/components/schemas/ApiPaymentCallbackRequestDTO"},"creditCard":{"$ref":"#/components/schemas/ApiCreditCardRequestDTO"},"creditCardHolderInfo":{"$ref":"#/components/schemas/ApiCreditCardHolderInfoRequestDTO"},"creditCardToken":{"type":"string","description":"Token do cartão de crédito para uso da funcionalidade de tokenização de cartão de crédito","deprecated":false,"example":null},"authorizeOnly":{"type":"boolean","description":"Realizar apenas a Pré-Autorização da cobrança","deprecated":false,"example":null},"remoteIp":{"type":"string","description":"IP de onde o cliente está fazendo a compra. Não deve ser informado o IP do seu servidor.","deprecated":false,"example":null}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo do objeto","example":"payment","deprecated":false},"id":{"type":"string","description":"Identificador único da cobrança no Asaas","example":"pay_080225913252","deprecated":false},"dateCreated":{"type":"string","description":"Data de criação da cobrança","format":"date","example":"2017-03-10","deprecated":false},"customerId":{"type":"string","description":"Identificador único do cliente ao qual a cobrança pertence","example":"cus_G7Dvo4iphUNk","deprecated":false},"subscriptionId":{"type":"string","description":"Identificador único da assinatura (quando cobrança recorrente)","deprecated":false,"example":null},"installmentId":{"type":"string","description":"Identificador único do parcelamento (quando cobrança parcelada)","deprecated":false,"example":null},"paymentLinkId":{"type":"string","description":"Identificador único do link de pagamentos ao qual a cobrança pertence","deprecated":false,"example":null},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"netValue":{"type":"number","description":"Valor líquido da cobrança após desconto da tarifa do Asaas","example":124.9,"deprecated":false},"originalValue":{"type":"number","description":"Valor original da cobrança (preenchido quando paga com juros e multa)","deprecated":false,"example":null},"interestValue":{"type":"number","description":"Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição da cobrança","example":"Pedido 056984","deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiPaymentLeanSaveWithCreditCardResponseBillingType"},"canBePaidAfterDueDate":{"type":"boolean","description":"Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)","example":true,"deprecated":false},"confirmedDate":{"type":"string","description":"Data de confirmação da cobrança","format":"date","example":"2017-03-10","deprecated":false},"pixTransactionId":{"type":"string","description":"Identificador único da transação Pix à qual a cobrança pertence","deprecated":false,"example":null},"status":{"$ref":"#/components/schemas/ApiPaymentLeanSaveWithCreditCardResponsePaymentStatus"},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"originalDueDate":{"type":"string","description":"Vencimento original no ato da criação da cobrança","format":"date","example":"2017-06-10","deprecated":false},"paymentDate":{"type":"string","description":"Data de liquidação da cobrança no Asaas","format":"date","deprecated":false,"example":null},"customerPaymentDate":{"type":"string","description":"Data em que o cliente efetuou o pagamento do boleto","format":"date","deprecated":false,"example":null},"installmentNumber":{"type":"integer","description":"Número da parcela","format":"int32","deprecated":false,"example":null},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"deleted":{"type":"boolean","description":"Determina se a cobrança foi removida","example":false,"deprecated":false},"anticipated":{"type":"boolean","description":"Define se a cobrança foi antecipada ou está em processo de antecipação","example":false,"deprecated":false},"anticipable":{"type":"boolean","description":"Determina se a cobrança é antecipável","example":false,"deprecated":false},"creditDate":{"type":"string","description":"Data de crédito da cobrança","example":"2017-03-10","deprecated":false},"transactionReceiptUrl":{"type":"string","description":"URL do comprovante de confirmação, recebimento, estorno ou remoção.","deprecated":false,"example":null},"duplicatedPaymentId":{"type":"string","description":"Identificador de cobrança duplicada (caso verdadeiro)","deprecated":false,"example":null},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineResponseDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestResponseDTO"},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"creditCard":{"$ref":"#/components/schemas/ApiPaymentSaveWithCreditCardCreditCardDTO"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"type":"object","properties":{"code":{"type":"string","description":"Código do erro","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do erro","deprecated":false,"example":null}}}}},"example":{"errors":[{"code":"invalid_customer","description":"Customer Inválido ou não informado"}]}}}}},"401":{"description":"Unauthorized"}},"deprecated":false}},"/v3/lean/payments/{id}/captureAuthorizedPayment":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Capturar cobrança com Pré-Autorização com dados resumidos na resposta","description":"","operationId":"capturar-cobranca-com-pre-autorizacao-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments/{id}":{"get":{"tags":["Cobranças com dados resumidos"],"summary":"Recuperar uma única cobrança com dados resumidos","description":"","operationId":"recuperar-uma-unica-cobranca-com-dados-resumidos","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false},"put":{"tags":["Cobranças com dados resumidos"],"summary":"Atualizar cobrança existente com dados resumidos na resposta","description":"","operationId":"atualizar-cobranca-existente-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false},"delete":{"tags":["Cobranças com dados resumidos"],"summary":"Excluir cobrança com dados resumidos","description":"","operationId":"excluir-cobranca-com-dados-resumidos","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentDeleteResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments/{id}/restore":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Restaurar cobrança removida com dados resumidos na resposta","description":"","operationId":"restaurar-cobranca-removida-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments/{id}/refund":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Estornar cobrança com dados resumidos na resposta","description":"","operationId":"estornar-cobranca-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentRefundRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments/{id}/receiveInCash":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Confirmar recebimento em dinheiro com dados resumidos na resposta","description":"","operationId":"confirmar-recebimento-em-dinheiro-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentReceiveInCashRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo do objeto","example":"payment","deprecated":false},"id":{"type":"string","description":"Identificador único da cobrança no Asaas","example":"pay_080225913252","deprecated":false},"dateCreated":{"type":"string","description":"Data de criação da cobrança","format":"date","example":"2017-03-10","deprecated":false},"customerId":{"type":"string","description":"Identificador único do cliente ao qual a cobrança pertence","example":"cus_G7Dvo4iphUNk","deprecated":false},"subscriptionId":{"type":"string","description":"Identificador único da assinatura (quando cobrança recorrente)","deprecated":false,"example":null},"installmentId":{"type":"string","description":"Identificador único do parcelamento (quando cobrança parcelada)","deprecated":false,"example":null},"paymentLinkId":{"type":"string","description":"Identificador único do link de pagamentos ao qual a cobrança pertence","deprecated":false,"example":null},"value":{"type":"number","description":"Valor da cobrança","example":129.9,"deprecated":false},"netValue":{"type":"number","description":"Valor líquido da cobrança após desconto da tarifa do Asaas","example":124.9,"deprecated":false},"originalValue":{"type":"number","description":"Valor original da cobrança (preenchido quando paga com juros e multa)","deprecated":false,"example":null},"interestValue":{"type":"number","description":"Valor calculado de juros e multa que deve ser pago após o vencimento da cobrança","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição da cobrança","example":"Pedido 056984","deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseBillingType"},"canBePaidAfterDueDate":{"type":"boolean","description":"Informa se a cobrança pode ser paga após o vencimento (Somente para boleto)","example":true,"deprecated":false},"confirmedDate":{"type":"string","description":"Data de confirmação da cobrança","format":"date","example":"2017-03-10","deprecated":false},"pixTransactionId":{"type":"string","description":"Identificador único da transação Pix à qual a cobrança pertence","deprecated":false,"example":null},"status":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponsePaymentStatus"},"dueDate":{"type":"string","description":"Data de vencimento da cobrança","format":"date","example":"2017-06-10","deprecated":false},"originalDueDate":{"type":"string","description":"Vencimento original no ato da criação da cobrança","format":"date","example":"2017-06-10","deprecated":false},"paymentDate":{"type":"string","description":"Data de liquidação da cobrança no Asaas","format":"date","deprecated":false,"example":null},"customerPaymentDate":{"type":"string","description":"Data em que o cliente efetuou o pagamento do boleto","format":"date","deprecated":false,"example":null},"installmentNumber":{"type":"integer","description":"Número da parcela","format":"int32","deprecated":false,"example":null},"externalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"deleted":{"type":"boolean","description":"Determina se a cobrança foi removida","example":false,"deprecated":false},"anticipated":{"type":"boolean","description":"Define se a cobrança foi antecipada ou está em processo de antecipação","example":false,"deprecated":false},"anticipable":{"type":"boolean","description":"Determina se a cobrança é antecipável","example":false,"deprecated":false},"creditDate":{"type":"string","description":"Data de crédito da cobrança","example":"2017-03-10","deprecated":false},"transactionReceiptUrl":{"type":"string","description":"URL do comprovante de confirmação, recebimento, estorno ou remoção.","deprecated":false,"example":null},"duplicatedPaymentId":{"type":"string","description":"Identificador de cobrança duplicada (caso verdadeiro)","deprecated":false,"example":null},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineResponseDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestResponseDTO"},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/lean/payments/{id}/undoReceivedInCash":{"post":{"tags":["Cobranças com dados resumidos"],"summary":"Desfazer confirmação de recebimento em dinheiro com dados resumidos na resposta","description":"","operationId":"desfazer-confirmacao-de-recebimento-em-dinheiro-com-dados-resumidos-na-resposta","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentLeanGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/creditCard/tokenizeCreditCard":{"post":{"tags":["Cartão de crédito"],"summary":"Tokenização de cartão de crédito","description":"","operationId":"tokenizacao-de-cartao-de-credito","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["customer","creditCard","creditCardHolderInfo","remoteIp"],"type":"object","properties":{"customer":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_G7Dvo4iphUNk","deprecated":false},"creditCard":{"$ref":"#/components/schemas/ApiCreditCardRequestDTO"},"creditCardHolderInfo":{"$ref":"#/components/schemas/ApiCreditCardHolderInfoRequestDTO"},"remoteIp":{"type":"string","description":"IP de onde o cliente está fazendo a compra. Não deve ser informado o IP do seu servidor.","example":"116.213.42.532","deprecated":false}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"creditCardNumber":{"type":"string","description":"Últimos 4 dígitos do cartão utilizado","example":"8829","deprecated":false},"creditCardBrand":{"$ref":"#/components/schemas/ApiCreditCardTokenizeResponseCreditCardBrand"},"creditCardToken":{"type":"string","description":"Token do cartão de crédito que poderá ser enviado nas próximas transações sem a necessidade de informar novamente os dados de cartão e do titular","example":"a75a1d98-c52d-4a6b-a413-71e00b193c99","deprecated":false}}}}}},"401":{"description":"Unauthorized"}},"deprecated":false}},"/v3/payments/{id}/refunds":{"get":{"tags":["Estornos"],"summary":"Listar estornos de uma cobrança","description":"","operationId":"listar-estornos-de-uma-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentRefundGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/bankSlip/refund":{"post":{"tags":["Estornos"],"summary":"Estornar boleto","description":"","operationId":"estornar-boleto","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentPathIdRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"requestUrl":{"type":"string","description":"Link para informar os dados de estorno","example":"https://sandbox.asaas.com/solicitar-estorno/37ij5mdxwo1234","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/splits/paid/{id}":{"get":{"tags":["Splits"],"summary":"Recuperar um único split pago","description":"","operationId":"recuperar-um-unico-split-pago","parameters":[{"name":"id","in":"path","description":"Identificador único do split pago no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentSplitGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/splits/paid":{"get":{"tags":["Splits"],"summary":"Listar splits pagos","description":"","operationId":"listar-splits-pagos","parameters":[{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}},{"name":"paymentId","in":"query","description":"Filtrar pelo ID da cobrança","schema":{"type":"string","example":null}},{"name":"status","in":"query","description":"Filtrar por status","schema":{"$ref":"#/components/schemas/ApiPaymentSplitListPaidRequestPaymentSplitStatus"}},{"name":"paymentConfirmedDate[ge]","in":"query","description":"Filtrar a partir da data de confirmação da cobrança inicial","schema":{"type":"string","example":null}},{"name":"paymentConfirmedDate[le]","in":"query","description":"Filtrar a partir da data de confirmação da cobrança final","schema":{"type":"string","example":null}},{"name":"creditDate[ge]","in":"query","description":"Filtrar a partir da data de envio do split inicial","schema":{"type":"string","example":null}},{"name":"creditDate[le]","in":"query","description":"Filtrar a partir da data de envio do split final","schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentSplitGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/payments/splits/received/{id}":{"get":{"tags":["Splits"],"summary":"Recuperar um único split recebido","description":"","operationId":"recuperar-um-unico-split-recebido","parameters":[{"name":"id","in":"path","description":"Identificador único do split pago no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentSplitGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/splits/received":{"get":{"tags":["Splits"],"summary":"Listar splits recebidos","description":"","operationId":"listar-splits-recebidos","parameters":[{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}},{"name":"paymentId","in":"query","description":"Filtrar pelo ID da cobrança","schema":{"type":"string","example":null}},{"name":"status","in":"query","description":"Filtrar por status","schema":{"$ref":"#/components/schemas/ApiPaymentSplitListReceivedRequestPaymentSplitStatus"}},{"name":"paymentConfirmedDate[ge]","in":"query","description":"Filtrar a partir da data de confirmação da cobrança inicial","schema":{"type":"string","example":null}},{"name":"paymentConfirmedDate[le]","in":"query","description":"Filtrar a partir da data de confirmação da cobrança final","schema":{"type":"string","example":null}},{"name":"creditDate[ge]","in":"query","description":"Filtrar a partir da data de recebimento do split inicial","schema":{"type":"string","example":null}},{"name":"creditDate[le]","in":"query","description":"Filtrar a partir da data de recebimento do split final","schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentSplitListResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/escrow/{id}/finish":{"post":{"tags":["Conta Escrow"],"summary":"Encerrar garantia da cobrança na Conta Escrow","description":"","operationId":"encerrar-garantia-da-cobranca-na-conta-escrow","parameters":[{"name":"id","in":"path","description":"Identificador único da garantia da cobrança na Conta Escrow do Asaas","required":true,"schema":{"type":"string","example":"4f468235-cec3-482f-b3d0-348af4c7194"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/documents":{"post":{"tags":["Documentos de cobranças"],"summary":"Fazer upload de documentos da cobrança","description":"","operationId":"fazer-upload-de-documentos-da-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["availableAfterPayment","type","file"],"type":"object","properties":{"availableAfterPayment":{"type":"boolean","description":"true para disponibilizar o documento apenas após o pagamento","example":true,"deprecated":false},"type":{"$ref":"#/components/schemas/ApiPaymentDocumentSaveRequestPaymentDocumentType"},"file":{"$ref":"#/components/schemas/File"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo do objeto","example":"paymentDocument","deprecated":false},"id":{"type":"string","description":"Identificador único do documento","example":"609a3f98-8db7-4a89-b511-de4c3be6d462","deprecated":false},"name":{"type":"string","description":"Nome do documento","example":"Nota Fiscal.pdf","deprecated":false},"type":{"$ref":"#/components/schemas/ApiPaymentDocumentGetResponsePaymentDocumentType"},"availableAfterPayment":{"type":"boolean","description":"Disponível somente após o pagamento","example":true,"deprecated":false},"file":{"$ref":"#/components/schemas/ApiPaymentDocumentFileResponseDTO"},"deleted":{"type":"boolean","description":"Indica se o arquivo foi removido","example":false,"deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false},"get":{"tags":["Documentos de cobranças"],"summary":"Listar documentos de uma cobrança","description":"","operationId":"listar-documentos-de-uma-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiPaymentDocumentGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/payments/{id}/documents/{documentId}":{"put":{"tags":["Documentos de cobranças"],"summary":"Atualizar definições de um documento da cobrança","description":"","operationId":"atualizar-definicoes-de-um-documento-da-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}},{"name":"documentId","in":"path","description":"Identificador único do documento","required":true,"schema":{"type":"string","example":null}}],"requestBody":{"content":{"application/json":{"schema":{"required":["id","documentId","availableAfterPayment","type"],"type":"object","properties":{"availableAfterPayment":{"type":"boolean","description":"true para disponibilizar o documento apenas após o pagamento","example":true,"deprecated":false},"type":{"$ref":"#/components/schemas/ApiPaymentDocumentUpdateRequestPaymentDocumentType"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentDocumentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false},"get":{"tags":["Documentos de cobranças"],"summary":"Recuperar um único documento da cobrança","description":"","operationId":"recuperar-um-unico-documento-da-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}},{"name":"documentId","in":"path","description":"Identificador único do documento","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiPaymentDocumentGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false},"delete":{"tags":["Documentos de cobranças"],"summary":"Excluir documento de uma cobrança","description":"","operationId":"excluir-documento-de-uma-cobranca","parameters":[{"name":"id","in":"path","description":"Identificador único da cobrança no Asaas","required":true,"schema":{"type":"string","example":null}},{"name":"documentId","in":"path","description":"Identificador único do documento","required":true,"schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean","description":"Indica se o arquivo foi removido","example":true,"deprecated":false},"id":{"type":"string","description":"Identificador único do documento","example":"609a3f98-8db7-4a89-b511-de4c3be6d462","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/customers":{"post":{"tags":["Clientes"],"summary":"Criar novo cliente","description":"","operationId":"criar-novo-cliente","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["name","cpfCnpj"],"type":"object","properties":{"name":{"type":"string","description":"Nome do cliente","example":"John Doe","deprecated":false},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente","example":"24971563792","deprecated":false},"email":{"type":"string","description":"Email do cliente","example":"john.doe@asaas.com.br","deprecated":false},"phone":{"type":"string","description":"Fone fixo","example":"4738010919","deprecated":false},"mobilePhone":{"type":"string","description":"Fone celular","example":"4799376637","deprecated":false},"address":{"type":"string","description":"Logradouro","example":"Av. Paulista","deprecated":false},"addressNumber":{"type":"string","description":"Número do endereço","example":"150","deprecated":false},"complement":{"type":"string","description":"Complemento do endereço (máx. 255 caracteres)","example":"Sala 201","deprecated":false},"province":{"type":"string","description":"Bairro","example":"Centro","deprecated":false},"postalCode":{"type":"string","description":"CEP do endereço","example":"01310-000","deprecated":false},"externalReference":{"type":"string","description":"Identificador do cliente no seu sistema","example":"12987382","deprecated":false},"notificationDisabled":{"type":"boolean","description":"true para desabilitar o envio de notificações de cobrança","example":false,"deprecated":false},"additionalEmails":{"type":"string","description":"Emails adicionais para envio de notificações de cobrança separados por \",\"","example":"john.doe@asaas.com,john.doe.silva@asaas.com.br","deprecated":false},"municipalInscription":{"type":"string","description":"Inscrição municipal do cliente","example":"46683695908","deprecated":false},"stateInscription":{"type":"string","description":"Inscrição estadual do cliente","example":"646681195275","deprecated":false},"observations":{"type":"string","description":"Observações adicionais","example":"ótimo pagador, nenhum problema até o momento","deprecated":false},"groupName":{"type":"string","description":"Nome do grupo ao qual o cliente pertence","deprecated":false,"example":null},"company":{"type":"string","description":"Empresa","deprecated":false,"example":null},"foreignCustomer":{"type":"boolean","description":"informe true caso seja pagador estrangeiro","example":false,"deprecated":false}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCustomerAccountGetResponseDTO"}}}},"401":{"description":"Unauthorized"}},"deprecated":false},"get":{"tags":["Clientes"],"summary":"Listar clientes","description":"","operationId":"listar-clientes","parameters":[{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}},{"name":"name","in":"query","description":"Filtrar por nome","schema":{"type":"string","example":"John Doe"}},{"name":"email","in":"query","description":"Filtrar por email","schema":{"type":"string","example":"john.doe@asaas.com.br"}},{"name":"cpfCnpj","in":"query","description":"Filtrar por CPF ou CNPJ","schema":{"type":"string","example":"24971563792"}},{"name":"groupName","in":"query","description":"Filtrar por grupo","schema":{"type":"string","example":null}},{"name":"externalReference","in":"query","description":"Filtrar pelo Identificador do seu sistema","schema":{"type":"string","example":null}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiCustomerAccountGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."}},"deprecated":false}},"/v3/customers/{id}":{"get":{"tags":["Clientes"],"summary":"Recuperar um único cliente","description":"","operationId":"recuperar-um-unico-cliente","parameters":[{"name":"id","in":"path","description":"Identificador único do cliente no Asaas","required":true,"schema":{"type":"string","example":"cus_000005401844"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCustomerAccountGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false},"put":{"tags":["Clientes"],"summary":"Atualizar cliente existente","description":"","operationId":"atualizar-cliente-existente","parameters":[{"name":"id","in":"path","description":"Identificador único do cliente a ser atualizado","required":true,"schema":{"type":"string","example":"cus_000005401844"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Nome do cliente","example":"John Doe","deprecated":false},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente","example":"24971563792","deprecated":false},"email":{"type":"string","description":"Email do cliente","example":"john.doe@asaas.com.br","deprecated":false},"phone":{"type":"string","description":"Fone fixo","example":"4738010919","deprecated":false},"mobilePhone":{"type":"string","description":"Fone celular","example":"4799376637","deprecated":false},"address":{"type":"string","description":"Logradouro","example":"Av. Paulista","deprecated":false},"addressNumber":{"type":"string","description":"Número do endereço","example":"150","deprecated":false},"complement":{"type":"string","description":"Complemento do endereço","example":"Sala 201","deprecated":false},"province":{"type":"string","description":"Bairro","example":"Centro","deprecated":false},"postalCode":{"type":"string","description":"CEP do endereço","example":"01310-000","deprecated":false},"externalReference":{"type":"string","description":"Identificador do cliente no seu sistema","example":"12987382","deprecated":false},"notificationDisabled":{"type":"boolean","description":"true para desabilitar o envio de notificações de cobrança","example":false,"deprecated":false},"additionalEmails":{"type":"string","description":"Emails adicionais para envio de notificações de cobrança separados por \",\"","example":"john.doe@asaas.com,john.doe.silva@asaas.com.br","deprecated":false},"municipalInscription":{"type":"string","description":"Inscrição municipal do cliente","example":"46683695908","deprecated":false},"stateInscription":{"type":"string","description":"Inscrição estadual do cliente","example":"646681195275","deprecated":false},"observations":{"type":"string","description":"Observações adicionais","example":"ótimo pagador, nenhum problema até o momento","deprecated":false},"groupName":{"type":"string","description":"Nome do grupo ao qual o cliente pertence","deprecated":false,"example":null},"company":{"type":"string","description":"Empresa","deprecated":false,"example":null},"foreignCustomer":{"type":"boolean","description":"informe true caso seja pagador estrangeiro","example":false,"deprecated":false}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCustomerAccountGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false},"delete":{"tags":["Clientes"],"summary":"Remover cliente","description":"","operationId":"remover-cliente","parameters":[{"name":"id","in":"path","description":"Identificador único do cliente a ser removido.","required":true,"schema":{"type":"string","example":"cus_000005401844"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean","description":"Indica se o cliente foi removido","example":true,"deprecated":false},"id":{"type":"string","description":"Identificador único do cliente","example":"cus_000005401844","deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/customers/{id}/restore":{"post":{"tags":["Clientes"],"summary":"Restaurar cliente removido","description":"","operationId":"restaurar-cliente-removido","parameters":[{"name":"id","in":"path","description":"Identificador único do cliente a ser restaurado.","required":true,"schema":{"type":"string","example":"cus_000005401844"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"customer","deprecated":false},"id":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_000005401844","deprecated":false},"dateCreated":{"type":"string","description":"Data de criação do cliente","example":"2024-07-12","deprecated":false},"name":{"type":"string","description":"Nome do cliente","example":"John Doe","deprecated":false},"email":{"type":"string","description":"E-mail do cliente","example":"john.doe@asaas.com.br","deprecated":false},"phone":{"type":"string","description":"Telefone do cliente","example":"90999999999","deprecated":false},"mobilePhone":{"type":"string","description":"Celular do cliente","example":"90999999999","deprecated":false},"address":{"type":"string","description":"Endereço do cliente","example":"Av. Paulista","deprecated":false},"addressNumber":{"type":"string","description":"Número do endereço do cliente","example":"150","deprecated":false},"complement":{"type":"string","description":"Complemento do endereço do cliente","example":"Sala 201","deprecated":false},"province":{"type":"string","description":"Bairro do endereço do cliente","example":"Centro","deprecated":false},"city":{"type":"string","description":"Identificador único da cidade no Asaas","example":"12565","deprecated":false},"cityName":{"type":"string","description":"Cidade do endereço do cliente","example":"São Paulo","deprecated":false},"state":{"type":"string","description":"Estado do endereço do cliente","example":"SP","deprecated":false},"country":{"type":"string","description":"País do cliente","example":"Brasil","deprecated":false},"postalCode":{"type":"string","description":"CEP do endereço do cliente","example":"01310000","deprecated":false},"cpfCnpj":{"type":"string","description":"CPF ou CNPJ do cliente","example":"24971563792","deprecated":false},"personType":{"$ref":"#/components/schemas/ApiCustomerAccountGetResponsePersonType"},"deleted":{"type":"boolean","description":"Indica se é um cliente deletado","example":false,"deprecated":false},"additionalEmails":{"type":"string","description":"E-mails adicionais do cliente","example":"john.doe@asaas.com,john.doe.silva@asaas.com.br","deprecated":false},"externalReference":{"type":"string","description":"Referência externa do cliente","example":"12987382","deprecated":false},"notificationDisabled":{"type":"boolean","description":"Indica se as notificações estão desabilitadas","example":false,"deprecated":false},"observations":{"type":"string","description":"Observações do cliente","example":"ótimo pagador, nenhum problema até o momento","deprecated":false},"foreignCustomer":{"type":"boolean","description":"indica se o pagador é estrangeiro","example":false,"deprecated":false}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/customers/{id}/notifications":{"get":{"tags":["Clientes"],"summary":"Recuperar notificações de um cliente","description":"","operationId":"recuperar-notificacoes-de-um-cliente","parameters":[{"name":"id","in":"path","description":"Identificador único do cliente no Asaas","required":true,"schema":{"type":"string","example":"cus_000005401844"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","description":"Posição do objeto a partir do qual a página deve ser carregada","format":"int32","example":0,"deprecated":false},"data":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"$ref":"#/components/schemas/ApiNotificationGetResponseDTO"}}}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden. Ocorre quando o body da requisição está preenchido, chamadas de método GET precisam ter um body vazio."},"404":{"description":"Not found"}},"deprecated":false}},"/v3/notifications/{id}":{"put":{"tags":["Notificações"],"summary":"Atualizar notificação existente","description":"","operationId":"atualizar-notificacao-existente","parameters":[{"name":"id","in":"path","description":"Identificador único da notificação a ser atualizada","required":true,"schema":{"type":"string","example":"not_wuGp97JeCr7G"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiNotificationUpdateRequestDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiNotificationGetResponseDTO"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Not found"}},"deprecated":false}},"/v3/notifications/batch":{"put":{"tags":["Notificações"],"summary":"Atualizar notificações existentes em lote","description":"É possível personalizar várias notificações, independente do canal de comunicação que utilizar (email, SMS e voz) e quem deve receber a notificação(você e/ou seu cliente) enviando qual o id do cliente e as notificações a serem atualizadas.","operationId":"atualizar-notificacoes-existentes-em-lote","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["customer"],"type":"object","properties":{"customer":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_000005401844","deprecated":false},"notifications":{"type":"array","description":"Lista de informações das notificações","deprecated":false,"items":{"required":["id"],"type":"object","properties":{"id":{"type":"string","description":"Identificador único da notificação a ser atualizada","example":"not_wuGp97JeCr7G","deprecated":false},"enabled":{"type":"boolean","description":"Habilita/desabilita a notificação","example":true,"deprecated":false},"emailEnabledForProvider":{"type":"boolean","description":"habilita/desabilita o email enviado para você","example":true,"deprecated":false},"smsEnabledForProvider":{"type":"boolean","description":"habilita/desabilita o SMS enviado para você","example":true,"deprecated":false},"emailEnabledForCustomer":{"type":"boolean","description":"habilita/desabilita o email enviado para o seu cliente","example":true,"deprecated":false},"smsEnabledForCustomer":{"type":"boolean","description":"habilita/desabilita o SMS enviado para o seu cliente","example":true,"deprecated":false},"phoneCallEnabledForCustomer":{"type":"boolean","description":"habilita/desabilita a notificação por voz enviada para o seu cliente","example":false,"deprecated":false},"whatsappEnabledForCustomer":{"type":"boolean","description":"habilita/desabilita a mensagem de WhatsApp para seu cliente","example":false,"deprecated":false},"scheduleOffset":{"type":"integer","description":"Especifica quantos dias antes do vencimento a notificação deve se enviada.\n Para o evento  `PAYMENT_DUEDATE_WARNING` os valores aceitos são: `0`, `5`, `10`, `15` e `30`\n Para o evento `PAYMENT_OVERDUE` os valores aceitos são: `1`, `7`, `15` e `30`","format":"int32","example":1,"deprecated":false,"enum":[0,1,5,7,10,15,30]}}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"notifications":{"type":"array","description":"Lista de informações das notificações","deprecated":false,"items":{"type":"object","properties":{"object":{"type":"string","description":"Tipo do objeto","example":"notification","deprecated":false},"id":{"type":"string","description":"Identificador único da notificação","example":"not_wuGp97JeCr7G","deprecated":false},"customer":{"type":"string","description":"Identificador único do cliente","example":"cus_000005401844","deprecated":false},"enabled":{"type":"boolean","description":"Indica se a notificação está habilitada","example":true,"deprecated":false},"emailEnabledForProvider":{"type":"boolean","description":"Indica se o e-mail enviado para você está habilitado ou desabilitado","example":true,"deprecated":false},"smsEnabledForProvider":{"type":"boolean","description":"Indica se o SMS enviado para você está habilitado ou desabilitado","example":true,"deprecated":false},"emailEnabledForCustomer":{"type":"boolean","description":"Indica se o e-mail enviado para o cliente está habilitado ou desabilitado","example":true,"deprecated":false},"smsEnabledForCustomer":{"type":"boolean","description":"Indica se o SMS enviado para o cliente está habilitado ou desabilitado","example":true,"deprecated":false},"phoneCallEnabledForCustomer":{"type":"boolean","description":"Indica se notificação por voz para o cliente está habilitada ou desabilitada","example":false,"deprecated":false},"whatsappEnabledForCustomer":{"type":"boolean","description":"Indica se a notificação por Whatsapp enviado para o cliente está habilitada ou desabilitada","example":false,"deprecated":false},"event":{"$ref":"#/components/schemas/ApiNotificationGetResponseNotificationEvent"},"scheduleOffset":{"type":"integer","description":"Especifica quantos dias antes do vencimento a notificação deve se enviada. Válido para os eventos `PAYMENT_DUEDATE_WARNING` e `PAYMENT_OVERDUE`","format":"int32","example":1,"deprecated":false,"enum":[0,1,5,7,10,15,30]},"deleted":{"type":"boolean","description":"Indica se a notificação foi deletada","example":true,"deprecated":false,"default":true}}}}}}}}},"401":{"description":"Unauthorized"}},"deprecated":false}},"/v3/installments":{"post":{"tags":["Parcelamentos"],"summary":"Criar parcelamento","description":"","operationId":"criar-parcelamento","parameters":[],"requestBody":{"content":{"application/json":{"schema":{"required":["installmentCount","customer","value","billingType","dueDate"],"type":"object","properties":{"installmentCount":{"type":"integer","description":"Número de parcelas","format":"int32","example":3,"deprecated":false},"customer":{"type":"string","description":"Identificador único do cliente no Asaas","example":"cus_G7Dvo4iphUNk","deprecated":false},"value":{"type":"number","description":"Valor de cada parcela","example":100,"deprecated":false},"totalValue":{"type":"number","description":"Valor total do parcelamento","example":150,"deprecated":false},"billingType":{"$ref":"#/components/schemas/ApiInstallmentSaveRequestBillingType"},"dueDate":{"type":"string","description":"Data de vencimento da primeira parcela","format":"date","example":"2025-07-08","deprecated":false},"description":{"type":"string","description":"Descrição do parcelamento (máx. 500 caracteres)","example":"Parcelamento 08652","deprecated":false},"postalService":{"type":"boolean","description":"Define se a cobrança será enviada via Correios","example":false,"deprecated":false},"daysAfterDueDateToRegistrationCancellation":{"type":"integer","description":"Dias após o vencimento para cancelamento do registro (somente para boleto bancário)","format":"int32","example":1,"deprecated":false},"paymentExternalReference":{"type":"string","description":"Campo livre para busca","example":"056984","deprecated":false},"discount":{"$ref":"#/components/schemas/ApiPaymentDiscountDTO"},"interest":{"$ref":"#/components/schemas/ApiPaymentInterestRequestDTO"},"fine":{"$ref":"#/components/schemas/ApiPaymentFineRequestDTO"},"splits":{"type":"array","description":"Configurações do split","deprecated":false,"items":{"required":["walletId"],"type":"object","properties":{"walletId":{"type":"string","description":"Identificador da carteira Asaas que será transferido","deprecated":false,"example":null},"fixedValue":{"type":"number","description":"Valor fixo a ser transferido para a conta quando a cobrança for recebida","deprecated":false,"example":null},"percentualValue":{"type":"number","description":"Percentual sobre o valor líquido da cobrança a ser transferido quando for recebida","deprecated":false,"example":null},"totalFixedValue":{"type":"number","description":"(Somente parcelamentos). Valor que será feito split referente ao valor total que será parcelado.","deprecated":false,"example":null},"externalReference":{"type":"string","description":"Identificador do split no seu sistema","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do split","deprecated":false,"example":null},"installmentNumber":{"type":"integer","description":"Número da parcela em que o split será vinculado. Não pode ser informado junto com o campo 'totalFixedValue'","format":"int32","deprecated":false,"example":null}}}}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiInstallmentGetResponseDTO"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"errors":{"type":"array","description":"Lista de objetos","deprecated":false,"items":{"type":"object","properties":{"code":{"type":"string","description":"Código do erro","deprecated":false,"example":null},"description":{"type":"string","description":"Descrição do erro","deprecated":false,"example":null}}}}},"example":{"errors":[{"code":"invalid_object","description":"Informe o número de parcelas."}]}}}}},"401":{"description":"Unauthorized"}},"deprecated":false},"get":{"tags":["Parcelamentos"],"summary":"Listar parcelamentos","description":"","operationId":"listar-parcelamentos","parameters":[{"name":"offset","in":"query","description":"Elemento inicial da lista","schema":{"type":"integer","example":0}},{"name":"limit","in":"query","description":"Número de elementos da lista (max: 100)","schema":{"maximum":100,"type":"integer","example":10}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"object":{"type":"string","description":"Tipo de objeto","example":"list","deprecated":false},"hasMore":{"type":"boolean","description":"Indica se há mais uma página a ser buscada","example":false,"deprecated":false},"totalCount":{"type":"integer","description":"Quantidade total de itens para os filtros informados","format":"int32","example":2,"deprecated":false},"limit":{"type":"integer","description":"Quantidade de objetos por página","format":"int32","example":10,"deprecated":false},"offset":{"type":"integer","de
[...]
