{
    "swagger": "2.0",
    "info": {
        "version": "",
        "title": "TMS Embarcador",
        "description": "## Welcome\n\nThis is a place to put general notes and extra information, for internal use.\n\nTo get started designing/documenting this API, select a version on the left. # Title\nNo Description"
    },
    "host": "api.intelipost.com.br",
    "basePath": "/api/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "api-key": {
            "name": "api-key",
            "type": "apiKey",
            "in": "header"
        },
        "platform": {
            "name": "platform",
            "type": "apiKey",
            "in": "header"
        },
        "platform-version": {
            "name": "platform-version",
            "type": "apiKey",
            "in": "header"
        },
        "plugin": {
            "name": "plugin",
            "type": "apiKey",
            "in": "header"
        },
        "plugin-version": {
            "name": "plugin-version",
            "type": "apiKey",
            "in": "header"
        },
        "Content-Type": {
            "name": "Content-Type",
            "type": "apiKey",
            "in": "header"
        }
    },
    "paths": {
        "/shipment_order": {
            "post": {
                "summary": "Criar pedido de entrega/reversa",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "x-examples": {
                                "example-1": {
                                    "status": "OK",
                                    "messages": [
                                        {
                                            "type": "SUCCESS",
                                            "text": "Operação realizada com sucesso.",
                                            "key": "success.message"
                                        }
                                    ],
                                    "content": {
                                        "id": 228323,
                                        "client_id": 213,
                                        "quote_id": null,
                                        "delivery_method_id": 1,
                                        "estimated_delivery_days_lp": null,
                                        "provider_shipping_costs": null,
                                        "customer_shipping_costs": 44,
                                        "order_number": "PEDIDO0001",
                                        "sales_order_number": "PEDIDODEVENDA01",
                                        "estimated_delivery_date": 1467315041000,
                                        "estimated_delivery_date_iso": "2016-06-30T16:30:41.000-03:00",
                                        "estimated_delivery_date_lp": 1467304241000,
                                        "estimated_delivery_date_lp_iso": "2016-06-30T13:30:41.000-03:00",
                                        "shipped_date": 1467045042000,
                                        "shipped_date_iso": "2016-06-27T13:30:42.000-03:00",
                                        "created": 1467045041000,
                                        "created_iso": "2016-06-27T13:30:41.000-03:00",
                                        "modified": 1467066905314,
                                        "modified_iso": "2016-06-27T19:35:05.314-03:00",
                                        "carrier": {
                                            "driver": {
                                                "federal_tax_id": "7884789238743",
                                                "license": 123456789,
                                                "first_name": "Marcos",
                                                "last_name": "Silva",
                                                "email": "marcos.silva@mail.com",
                                                "cell_phone": "11912345678"
                                            },
                                            "vehicle": {
                                                "licence_plate": "BRT8982",
                                                "manufacturer": "Fiat",
                                                "model": "Fiorino",
                                                "color": "amarelo",
                                                "category": "VUC"
                                            }
                                        },
                                        "end_customer": {
                                            "first_name": "CHUCK",
                                            "last_name": "BRITTO",
                                            "email": "endcustomer@intelipost.com.br",
                                            "phone": "00231424551",
                                            "cellphone": "5511988776655",
                                            "is_company": false,
                                            "federal_tax_payer_id": "44611341801",
                                            "state_tax_payer_id": "2314234",
                                            "shipping_address": "Rua ABCD",
                                            "shipping_number": "2",
                                            "shipping_additional": "Apto 202",
                                            "shipping_reference": "Supermercado S",
                                            "shipping_quarter": "Consolacaoo",
                                            "shipping_city": "Sao Paulo",
                                            "shipping_zip_code": "01311-000",
                                            "shipping_state": "Sao Paulo",
                                            "shipping_state_code": "SP",
                                            "shipping_country": "BR"
                                        },
                                        "origin_warehouse_code": "CD0001",
                                        "origin_name": "CD0001",
                                        "origin_federal_tax_payer_id": "36658400000000",
                                        "origin_customer_phone": "551150505050",
                                        "origin_customer_email": "cd0001@deposito.com",
                                        "origin_street": "Rua CD0001",
                                        "origin_number": "1000",
                                        "origin_additional": "",
                                        "origin_reference": "",
                                        "origin_zip_code": "01311300",
                                        "origin_city": "SP",
                                        "origin_quarter": "Consolação",
                                        "origin_state_code": "SP",
                                        "shipment_order_type": "NORMAL",
                                        "parent_shipment_order_number": null,
                                        "sales_channel": "MEU_CANALDEVENDAS",
                                        "scheduling_window_start": null,
                                        "scheduling_window_end": null,
                                        "scheduled": false,
                                        "shipment_order_volume_state": "SHIPPED",
                                        "delivered_date": null,
                                        "shipment_order_volume_array": [
                                            {
                                                "shipment_order_volume_number": "1",
                                                "shipment_order_id": 228323,
                                                "shipment_order_volume_state": "SHIPPED",
                                                "weight": 1.5,
                                                "volume_type_code": "BOX",
                                                "width": 10,
                                                "height": 20,
                                                "length": 20,
                                                "products_nature": "beverages",
                                                "products_quantity": 1,
                                                "is_icms_exempt": false,
                                                "created": 1467045041000,
                                                "created_iso": "2016-06-27T13:30:41.000-03:00",
                                                "modified": 1467066905314,
                                                "modified_iso": "2016-06-27T19:35:05.314-03:00",
                                                "logistics_provider_data": null,
                                                "logistic_provider_tracking_code": "DM802337000BR",
                                                "estimated_delivery_date_lp": 1467304241000,
                                                "estimated_delivery_date_lp_iso": "2016-06-30T13:30:41.000-03:00",
                                                "shipment_order_volume_invoice": {
                                                    "shipment_order_volume_number": "1",
                                                    "shipment_order_volume_id": 230219,
                                                    "invoice_series": "1",
                                                    "invoice_number": "1000",
                                                    "invoice_key": "41140502834982004563550010000084111000132317",
                                                    "invoice_date": 1467045041000,
                                                    "invoice_date_iso": "2016-06-27T13:30:41.000-03:00",
                                                    "invoice_total_value": 45.99,
                                                    "invoice_products_value": 39.99,
                                                    "invoice_cfop": "2890"
                                                },
                                                "products": [
                                                    {
                                                        "weight": 0.15,
                                                        "width": 0.5,
                                                        "height": 0.6,
                                                        "length": 0.5,
                                                        "price": 25,
                                                        "description": "Camiseta - Preta - M",
                                                        "sku": "CPM",
                                                        "category": "Roupa",
                                                        "quantity": 1,
                                                        "image_url": "http://foo.bar/fooImg.jpg"
                                                    }
                                                ],
                                                "pre_shipment_list_state": "NOT_SENT",
                                                "has_clarify_delivery_fail": false,
                                                "delivered_late": false,
                                                "delivered_late_lp": false,
                                                "estimated_delivery_date": 1467315041000,
                                                "estimated_delivery_date_iso": "2016-06-30T16:30:41.000-03:00",
                                                "delivered": false,
                                                "pre_shipment_list_id": null,
                                                "logistic_provider_pre_shipment_list_id": null,
                                                "name": "nome-volume-1",
                                                "original_estimated_delivery_date": 1467315041000,
                                                "original_estimated_delivery_date_iso": "2016-06-30T16:30:41.000-03:00",
                                                "original_estimated_delivery_date_lp": 1467304241000,
                                                "original_estimated_delivery_date_lp_iso": "2016-06-30T13:30:41.000-03:00",
                                                "shipped_date": 1467045042000,
                                                "shipped_date_iso": "2016-06-27T13:30:42.000-03:00",
                                                "delivered_date": null,
                                                "shipment_order_volume_state_localized": "Despachado",
                                                "shipment_order_volume_id": 230219,
                                                "shipment_order_volume_state_history_array": [
                                                    {
                                                        "shipment_order_volume_id": 230219,
                                                        "shipment_order_volume_state": "SHIPPED",
                                                        "tracking_state": null,
                                                        "created": 1467066905327,
                                                        "created_iso": "2016-06-27T19:35:05.327-03:00",
                                                        "provider_message": null,
                                                        "provider_state": null,
                                                        "esprinter_message": null,
                                                        "shipment_volume_micro_state": null,
                                                        "shipment_order_volume_state_localized": "Despachado",
                                                        "shipment_order_volume_state_history": 1382984,
                                                        "event_date": 1467045042000,
                                                        "event_date_iso": "2016-06-27T13:30:42.000-03:00"
                                                    },
                                                    {
                                                        "shipment_order_volume_id": 230219,
                                                        "shipment_order_volume_state": "NEW",
                                                        "tracking_state": null,
                                                        "created": 1467066905332,
                                                        "created_iso": "2016-06-27T19:35:05.332-03:00",
                                                        "provider_message": null,
                                                        "provider_state": null,
                                                        "esprinter_message": null,
                                                        "shipment_volume_micro_state": null,
                                                        "shipment_order_volume_state_localized": "Criado",
                                                        "shipment_order_volume_state_history": 1382985,
                                                        "event_date": 1467045041000,
                                                        "event_date_iso": "2016-06-27T13:30:41.000-03:00"
                                                    }
                                                ],
                                                "tracking_code": "DM802337000BR"
                                            }
                                        ],
                                        "additional_information": {
                                            "key": "valor",
                                            "key2": "valor key 2"
                                        },
                                        "delivery_address": {
                                            "name": "Nome do PickUp",
                                            "street": "Av Dr Amancio de Carvalho",
                                            "number": "182",
                                            "reference": "prox. Ibirapuera",
                                            "additional": "Intelipost",
                                            "country": "BRA",
                                            "state_code": "SP",
                                            "city": "São Paulo",
                                            "quarter": "Bela Vista",
                                            "zip_code": "04012-080",
                                            "latitude": "-23.5570315",
                                            "longitude": "-46.6644769"
                                        }
                                    },
                                    "time": "35.7 ms",
                                    "timezone": "America/Sao_Paulo",
                                    "locale": "pt_BR"
                                }
                            },
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ]
                                    }
                                },
                                "content": {
                                    "type": "object",
                                    "required": [
                                        "id",
                                        "client_id",
                                        "delivery_method_id",
                                        "customer_shipping_costs",
                                        "order_number",
                                        "sales_order_number",
                                        "estimated_delivery_date",
                                        "estimated_delivery_date_iso",
                                        "estimated_delivery_date_lp",
                                        "estimated_delivery_date_lp_iso",
                                        "shipped_date",
                                        "shipped_date_iso",
                                        "created",
                                        "created_iso",
                                        "modified",
                                        "modified_iso",
                                        "carrier",
                                        "end_customer",
                                        "origin_warehouse_code",
                                        "origin_name",
                                        "origin_federal_tax_payer_id",
                                        "origin_customer_phone",
                                        "origin_customer_email",
                                        "origin_street",
                                        "origin_number",
                                        "origin_additional",
                                        "origin_reference",
                                        "origin_zip_code",
                                        "origin_city",
                                        "origin_quarter",
                                        "origin_state_code",
                                        "shipment_order_type",
                                        "sales_channel",
                                        "scheduled",
                                        "shipment_order_volume_state",
                                        "shipment_order_volume_array",
                                        "additional_information",
                                        "delivery_address"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "number"
                                        },
                                        "client_id": {
                                            "type": "number"
                                        },
                                        "quote_id": {},
                                        "delivery_method_id": {
                                            "type": "number"
                                        },
                                        "estimated_delivery_days_lp": {},
                                        "provider_shipping_costs": {},
                                        "customer_shipping_costs": {
                                            "type": "number"
                                        },
                                        "order_number": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "sales_order_number": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "estimated_delivery_date": {
                                            "type": "number"
                                        },
                                        "estimated_delivery_date_iso": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "estimated_delivery_date_lp": {
                                            "type": "number"
                                        },
                                        "estimated_delivery_date_lp_iso": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "shipped_date": {
                                            "type": "number"
                                        },
                                        "shipped_date_iso": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "created": {
                                            "type": "number"
                                        },
                                        "created_iso": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "modified": {
                                            "type": "number"
                                        },
                                        "modified_iso": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "carrier": {
                                            "type": "object",
                                            "required": [
                                                "driver",
                                                "vehicle"
                                            ],
                                            "properties": {
                                                "driver": {
                                                    "type": "object",
                                                    "required": [
                                                        "federal_tax_id",
                                                        "license",
                                                        "first_name",
                                                        "last_name",
                                                        "email",
                                                        "cell_phone"
                                                    ],
                                                    "properties": {
                                                        "federal_tax_id": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "license": {
                                                            "type": "number"
                                                        },
                                                        "first_name": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "last_name": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "cell_phone": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        }
                                                    }
                                                },
                                                "vehicle": {
                                                    "type": "object",
                                                    "required": [
                                                        "licence_plate",
                                                        "manufacturer",
                                                        "model",
                                                        "color",
                                                        "category"
                                                    ],
                                                    "properties": {
                                                        "licence_plate": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "manufacturer": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "model": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "color": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        },
                                                        "category": {
                                                            "type": "string",
                                                            "minLength": 1
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "end_customer": {
                                            "type": "object",
                                            "required": [
                                                "first_name",
                                                "last_name",
                                                "email",
                                                "phone",
                                                "cellphone",
                                                "is_company",
                                                "federal_tax_payer_id",
                                                "state_tax_payer_id",
                                                "shipping_address",
                                                "shipping_number",
                                                "shipping_additional",
                                                "shipping_reference",
                                                "shipping_quarter",
                                                "shipping_city",
                                                "shipping_zip_code",
                                                "shipping_state",
                                                "shipping_state_code",
                                                "shipping_country"
                                            ],
                                            "properties": {
                                                "first_name": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "last_name": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "cellphone": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "is_company": {
                                                    "type": "boolean"
                                                },
                                                "federal_tax_payer_id": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "state_tax_payer_id": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_address": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_number": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_additional": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_reference": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_quarter": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_city": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_zip_code": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_state": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_state_code": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "shipping_country": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            }
                                        },
                                        "origin_warehouse_code": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_name": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_federal_tax_payer_id": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_customer_phone": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_customer_email": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_street": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_number": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_additional": {
                                            "type": "string"
                                        },
                                        "origin_reference": {
                                            "type": "string"
                                        },
                                        "origin_zip_code": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_city": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_quarter": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "origin_state_code": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "shipment_order_type": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "parent_shipment_order_number": {},
                                        "sales_channel": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "scheduling_window_start": {},
                                        "scheduling_window_end": {},
                                        "scheduled": {
                                            "type": "boolean"
                                        },
                                        "shipment_order_volume_state": {
                                            "type": "string",
                                            "minLength": 1
                                        },
                                        "delivered_date": {},
                                        "shipment_order_volume_array": {
                                            "type": "array",
                                            "uniqueItems": true,
                                            "minItems": 1,
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "shipment_order_volume_number": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "shipment_order_id": {
                                                        "type": "number"
                                                    },
                                                    "shipment_order_volume_state": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "weight": {
                                                        "type": "number"
                                                    },
                                                    "volume_type_code": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "width": {
                                                        "type": "number"
                                                    },
                                                    "height": {
                                                        "type": "number"
                                                    },
                                                    "length": {
                                                        "type": "number"
                                                    },
                                                    "products_nature": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "products_quantity": {
                                                        "type": "number"
                                                    },
                                                    "is_icms_exempt": {
                                                        "type": "boolean"
                                                    },
                                                    "created": {
                                                        "type": "number"
                                                    },
                                                    "created_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "modified": {
                                                        "type": "number"
                                                    },
                                                    "modified_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "logistics_provider_data": {},
                                                    "logistic_provider_tracking_code": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "estimated_delivery_date_lp": {
                                                        "type": "number"
                                                    },
                                                    "estimated_delivery_date_lp_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "shipment_order_volume_invoice": {
                                                        "type": "object",
                                                        "properties": {
                                                            "shipment_order_volume_number": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            },
                                                            "shipment_order_volume_id": {
                                                                "type": "number"
                                                            },
                                                            "invoice_series": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            },
                                                            "invoice_number": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            },
                                                            "invoice_key": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            },
                                                            "invoice_date": {
                                                                "type": "number"
                                                            },
                                                            "invoice_date_iso": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            },
                                                            "invoice_total_value": {
                                                                "type": "number"
                                                            },
                                                            "invoice_products_value": {
                                                                "type": "number"
                                                            },
                                                            "invoice_cfop": {
                                                                "type": "string",
                                                                "minLength": 1
                                                            }
                                                        },
                                                        "required": [
                                                            "shipment_order_volume_number",
                                                            "shipment_order_volume_id",
                                                            "invoice_series",
                                                            "invoice_number",
                                                            "invoice_key",
                                                            "invoice_date",
                                                            "invoice_date_iso",
                                                            "invoice_total_value",
                                                            "invoice_products_value",
                                                            "invoice_cfop"
                                                        ]
                                                    },
                                                    "products": {
                                                        "type": "array",
                                                        "uniqueItems": true,
                                                        "minItems": 1,
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "weight": {
                                                                    "type": "number"
                                                                },
                                                                "width": {
                                                                    "type": "number"
                                                                },
                                                                "height": {
                                                                    "type": "number"
                                                                },
                                                                "length": {
                                                                    "type": "number"
                                                                },
                                                                "price": {
                                                                    "type": "number"
                                                                },
                                                                "description": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "sku": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "category": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "quantity": {
                                                                    "type": "number"
                                                                },
                                                                "image_url": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                }
                                                            },
                                                            "required": [
                                                                "weight",
                                                                "width",
                                                                "height",
                                                                "length",
                                                                "price",
                                                                "description",
                                                                "sku",
                                                                "category",
                                                                "quantity",
                                                                "image_url"
                                                            ]
                                                        }
                                                    },
                                                    "pre_shipment_list_state": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "has_clarify_delivery_fail": {
                                                        "type": "boolean"
                                                    },
                                                    "delivered_late": {
                                                        "type": "boolean"
                                                    },
                                                    "delivered_late_lp": {
                                                        "type": "boolean"
                                                    },
                                                    "estimated_delivery_date": {
                                                        "type": "number"
                                                    },
                                                    "estimated_delivery_date_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "delivered": {
                                                        "type": "boolean"
                                                    },
                                                    "pre_shipment_list_id": {},
                                                    "logistic_provider_pre_shipment_list_id": {},
                                                    "name": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "original_estimated_delivery_date": {
                                                        "type": "number"
                                                    },
                                                    "original_estimated_delivery_date_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "original_estimated_delivery_date_lp": {
                                                        "type": "number"
                                                    },
                                                    "original_estimated_delivery_date_lp_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "shipped_date": {
                                                        "type": "number"
                                                    },
                                                    "shipped_date_iso": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "delivered_date": {},
                                                    "shipment_order_volume_state_localized": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    },
                                                    "shipment_order_volume_id": {
                                                        "type": "number"
                                                    },
                                                    "shipment_order_volume_state_history_array": {
                                                        "type": "array",
                                                        "uniqueItems": true,
                                                        "minItems": 1,
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "shipment_order_volume_id": {
                                                                    "type": "number"
                                                                },
                                                                "shipment_order_volume_state": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "tracking_state": {},
                                                                "created": {
                                                                    "type": "number"
                                                                },
                                                                "created_iso": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "provider_message": {},
                                                                "provider_state": {},
                                                                "esprinter_message": {},
                                                                "shipment_volume_micro_state": {},
                                                                "shipment_order_volume_state_localized": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                },
                                                                "shipment_order_volume_state_history": {
                                                                    "type": "number"
                                                                },
                                                                "event_date": {
                                                                    "type": "number"
                                                                },
                                                                "event_date_iso": {
                                                                    "type": "string",
                                                                    "minLength": 1
                                                                }
                                                            },
                                                            "required": [
                                                                "shipment_order_volume_id",
                                                                "shipment_order_volume_state",
                                                                "created",
                                                                "created_iso",
                                                                "shipment_order_volume_state_localized",
                                                                "shipment_order_volume_state_history",
                                                                "event_date",
                                                                "event_date_iso"
                                                            ]
                                                        }
                                                    },
                                                    "tracking_code": {
                                                        "type": "string",
                                                        "minLength": 1
                                                    }
                                                },
                                                "required": [
                                                    "shipment_order_volume_number",
                                                    "shipment_order_id",
                                                    "shipment_order_volume_state",
                                                    "weight",
                                                    "volume_type_code",
                                                    "width",
                                                    "height",
                                                    "length",
                                                    "products_nature",
                                                    "products_quantity",
                                                    "is_icms_exempt",
                                                    "created",
                                                    "created_iso",
                                                    "modified",
                                                    "modified_iso",
                                                    "logistic_provider_tracking_code",
                                                    "estimated_delivery_date_lp",
                                                    "estimated_delivery_date_lp_iso",
                                                    "pre_shipment_list_state",
                                                    "has_clarify_delivery_fail",
                                                    "delivered_late",
                                                    "delivered_late_lp",
                                                    "estimated_delivery_date",
                                                    "estimated_delivery_date_iso",
                                                    "delivered",
                                                    "name",
                                                    "original_estimated_delivery_date",
                                                    "original_estimated_delivery_date_iso",
                                                    "original_estimated_delivery_date_lp",
                                                    "original_estimated_delivery_date_lp_iso",
                                                    "shipped_date",
                                                    "shipped_date_iso",
                                                    "shipment_order_volume_state_localized",
                                                    "shipment_order_volume_id",
                                                    "tracking_code"
                                                ]
                                            }
                                        },
                                        "additional_information": {
                                            "type": "object",
                                            "required": [
                                                "key",
                                                "key2"
                                            ],
                                            "properties": {
                                                "key": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "key2": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            }
                                        },
                                        "delivery_address": {
                                            "type": "object",
                                            "required": [
                                                "name",
                                                "street",
                                                "number",
                                                "reference",
                                                "additional",
                                                "country",
                                                "state_code",
                                                "city",
                                                "quarter",
                                                "zip_code",
                                                "latitude",
                                                "longitude"
                                            ],
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "reference": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "additional": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "country": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "state_code": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "city": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "quarter": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "zip_code": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "latitude": {
                                                    "type": "string",
                                                    "minLength": 1
                                                },
                                                "longitude": {
                                                    "type": "string",
                                                    "minLength": 1
                                                }
                                            }
                                        }
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "timezone": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "locale": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "content",
                                "time",
                                "timezone",
                                "locale"
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        }
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "time"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "status": "ERROR",
                                    "messages": [
                                        {
                                            "type": "ERROR",
                                            "text": "Este pedido requer autenticação HTTP.",
                                            "key": "error.401"
                                        }
                                    ],
                                    "time": "0.3 ms"
                                }
                            }
                        },
                        "examples": {
                            "example-1": {
                                "status": "string",
                                "messages": [
                                    {
                                        "type": "string",
                                        "text": "string",
                                        "key": "string"
                                    }
                                ],
                                "time": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        }
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "time"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "status": "ERROR",
                                    "messages": [
                                        {
                                            "type": "ERROR",
                                            "text": "Este pedido requer autenticação HTTP.",
                                            "key": "error.401"
                                        }
                                    ],
                                    "time": "0.3 ms"
                                }
                            }
                        },
                        "examples": {
                            "example-1": {}
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        }
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "timezone": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "locale": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "time",
                                "timezone",
                                "locale"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "status": "ERROR",
                                    "messages": [
                                        {
                                            "type": "ERROR",
                                            "text": "Você não tem permissão para executar esta ação.",
                                            "key": "error.403"
                                        }
                                    ],
                                    "time": "0.2 ms",
                                    "timezone": "America/Sao_Paulo",
                                    "locale": "pt_BR"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        }
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "timezone": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "locale": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "time",
                                "timezone",
                                "locale"
                            ],
                            "x-examples": {
                                "example-1": {
                                    "status": "ERROR",
                                    "messages": [
                                        {
                                            "type": "ERROR",
                                            "text": "Sem página ou api, tal chamada não foi encontrada.",
                                            "key": "error.404"
                                        }
                                    ],
                                    "time": "26.2 ms",
                                    "timezone": "America/Sao_Paulo",
                                    "locale": "pt_BR"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "description": "",
                            "type": "object",
                            "x-examples": {
                                "example-1": {
                                    "status": "ERROR",
                                    "messages": [
                                        {
                                            "type": "ERROR",
                                            "text": "Sorry, an internal error has occurred. If you need support then please send an email to support@intelipost.com.br and provide this errorCode fd53bb38-83f7-4640-9650-1e2116d32ae6.",
                                            "key": "internal.error"
                                        }
                                    ],
                                    "time": "0.7 ms",
                                    "timezone": "America/Sao_Paulo",
                                    "locale": "pt_BR"
                                }
                            },
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "messages": {
                                    "type": "array",
                                    "uniqueItems": true,
                                    "minItems": 1,
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "text": {
                                                "type": "string",
                                                "minLength": 1
                                            },
                                            "key": {
                                                "type": "string",
                                                "minLength": 1
                                            }
                                        },
                                        "required": [
                                            "type",
                                            "text",
                                            "key"
                                        ]
                                    }
                                },
                                "time": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "timezone": {
                                    "type": "string",
                                    "minLength": 1
                                },
                                "locale": {
                                    "type": "string",
                                    "minLength": 1
                                }
                            },
                            "required": [
                                "status",
                                "messages",
                                "time",
                                "timezone",
                                "locale"
                            ]
                        }
                    }
                },
                "operationId": "POST_shipment_order",
                "description": "<h2>Introdução</h2>\n \nA criação dos pedidos de envio é essencial para a maioria dos produtos da Intelipost funcionarem, por conta disto, alguns fluxos devem ser considerados para atender a solução por completo. Este documento tem como intenção principal guiar o integrador a criar uma solução já totalmente voltada para as necessidades dos embarcadores e entregar todo o potencial da integração.\n\n<h2>Criação dos Pedidos de Envio via API</h2>\n\nAs criações dos pedidos de envio tais como movimentações de status precisam ser automáticas e de acordo com condições definidas pelo embarcador.\n\nPor exemplo \"Criar pedido na Intelipost no status \"Em separação\":\n\nA configuração do \"Status p/ Pronto para envio\" deve ser opcional, o status para criação deve ser configurado obrigatoriamente.\n\n<h3>Identificação do Pedido</h3>\n\nOs dados para identificação do pedido são muito importantes para integrações com sistemas que estão envolvidos na vida útil do pedido (Ex: ERP, Plataforma, Hub, Marketplace), desta maneira é necessário informar todos os números do pedido para que torne possível a identificação nos respectivos sistemas.\n\n<span>1. Número único de identificação do pedido de envio na Intelipost no campo \"order_number\"\n<li>Deve ser possível alterar o número de referência para dar a opção de escolha ao embarcador sobre qual a identificação usar para integrar os pedidos.</li></span>\n\n<span>2. Números Externos\n<li>Este objeto deve conter todos os números deste pedido em outros sistemas integrados com o sistema integrador. Ex: erp, marketplace, plataforma etc.</li>\n<li>Os Números previstos são: sales, erp, marketplace, hub e platform, conforme demonstrado no json de exemplo.</li></span>\n\n<h3>Notificações</h3>\n<hr>\n\nNesta sessão destacaremos todos as informações necessárias para realizar as notificações de status de entrega para o consumidor.\n\n<span>1. O Canal da venda deve indicar no campo \"sales_channel\" qual o canal em que aquela venda aconteceu. Ex: Marketplace-B2W, Televendas, Site, Loja.</span>\n\n<span>2. Dados do Consumidor</span>\n<li>E-mail utilizado para notificar o cliente sobre atualizações no pedido de envio.</li>\n<li>Celular c/ DDD para notificação de atualização do pedido via SMS.</li>\n\n<h3>Múltiplos Depósitos</h3>\n<hr>\nPara operações que operam com mais de um deposito é necessário que no momento de criação do pedido seja informada qual a origem de despacho daquele pedido. Mais detalhes podem ser consultados <url=https://docs.intelipost.com.br/docs/tms-embarcador/bab2afb7f67fe-criar-pedido-de-entrega-reversa#undefined>aqui</url>\n\nPara isto existem duas soluções:\n\n<span>1. Enviar o código do warehouse cadastrado na Intelipost no campo \"origin_warehouse_code\". É necessário de/para dos códigos. Para obter os códigos é necessário pedir para o consultor Intelipost.</span>\n\n<span>2. Enviar o CEP de origem do deposito no campo \"origin_zip_code\".</span>\n\n<h3>Tipos de Pedidos</h3>\n<hr>\nPedidos de envio podem contemplar alguns tipos, por exemplo pedidos de retirada em loja, pedidos para retirada em locker e também pedidos que tem outros objetivos, por exemplo pedidos de logística reversa e reenvio.\n\n<span>1. Pedidos de Reversa e Reenvio</span>\n\n<li>Tipo do pedido de envio deve ser enviado no campo \"shipment_order_type\". Ex: Reenvio & Reversa (RESEND / RETURN)</li>\n<li>Em casos de reenvio e reversa para vincular o pedido original ao novo pedido é necessário que informe o número do pedido original no campo \"parent_shipment_order_number\".</li>\n\n<span>2. Pedidos de Retirada</span>\n\n<li>Necessário indicar se será retirada em loja ou retirada em locker (pickup / dropoff) no campo \"shipment_order_sub_type\".</li>\n<li>Nestes casos o endereço de entrega deve ser do ponto de retirada, não do consumidor.</li>\n\n<h3>Entrega Agendada</h3>\n<hr>\n<span>1. Preencher o flag para indicar o pedido agendado no campo \"scheduled\"</span>\n\n<span>2. Horário de início e término da janela de entrega informada nos campos \"scheduling_window_start\" eamp; \"scheduling_window_end\"</span>\n\n<span>3. Data de agendamento indicado no campo \"estimated_delivery_date\"</span>\n\n<h4>Dados do Consumidor</h4>\n\n<span>1. Endereço completo;</span>\n\n<span>2. CPF ou CNPJ, utilizado para envio de notfis ou PLP para as transportadoras, enviado no campo \"federal_tax_payer_id\".</span>\n\n<span>3. Inscrição estadual, utilizado para envio de notfis ou PLP para as transportadoras, enviado no campo \"state_tax_payer_id\".</span>\n\n<h3>Volumes</h3>\n<hr>\n<span>1. Dimensões reais do volume \"height\", \"width\" e \"Lengh\". Não enviar as dimensões do produto, nem as dimensões somadas dos volumes da nota fiscal.</span>\n\n<span>2. Peso bruto real do volume no campo \"weight\". Não enviar o peso do produto, nem o peso somado dos volumes da nota fiscal.</span>\n\n<span>3. Quantidade de peças (unidades) de cada produto acondicionado no volume.</span>\n\n<span>4. Número de rastreamento é um campo bidirecional. Se gerado pela Intelipost, será enviado na resposta. Se gerado em outro sistema e não internamente pela Intelipost, este deve ser indicado na criação do pedido. Ambos os sentidos da informação trabalham com o campo \"tracking_code\" do volume.</span>\n\n<h3>Nota Fiscal</h3>\n<hr>\nNa nossa modelagem, os dados da nota fiscal estão abaixo do volume. Todos os dados são obrigatórios e devem ser os dados reais da nota fiscal ao qual o volume está vinculado.\n\n<h3>Relatórios e Acompanhamento de Performance</h3>\n1. A data estimada de entrega combinada com o consumidor é essencial para medir a performance das entregas de acordo com o esperado pelo cliente. A data deve ser informada no campo \"estimated_delivery_date\".\n\n<span>2. A data de despacho influencia em todas as métricas de performance, ou seja, é mandatório que esta data seja enviada e seja a real. A data deve ser enviada no campo \"shipped_date\". *</span>\n\n<span>3. Identificação da cotação que converteu o pedido. O id da cotação deve ser enviado no campo \"quote_id\". *</span>\n\n4. Preço do frete pago pelo cliente. Deve ser informado no campo \"customer_shipping_costs\".\n\n<p><i>* Avaliar necessidade com o consultor Intelipost responsável pela integração. integracoes@intelipost.com.br</i></p>\n\n<h2>Retorno de Rastreamento</h2>\n<hr>\n<h3>Como implementar?</h3>\n<hr>\nO retorno de rastreamento tem como finalidade comunicar o sistema integrado quando o pedido de envio é atualizado com novos eventos, porém, alguns integradores preferem não receber este retorno, mas sim consultar ativamente o pedido na API da Intelipost sempre que precisar da informação.\n\nOu seja, existem duas maneiras de obter os dados de rastreamento e a integração deve contemplar ao menos uma delas:\n\n<span>1. Implementar um end-point para receber as atualizações automaticamente.</span>\n<li>Acesse a documentação  para ler todos os requisitos.</li>\n\n<span>2. Consultar o rastreamento via API da Intelipost.</span>\n<p><i>* Em alguns casos, o sistema que está integrando já tem um end-point para receber informações de rastreamento, porém, em outro modelo de requisição diferente do modelo pré-definido pela Intelipost. Nestes casos é necessário que seja alinhado no início do projeto.</i></p>",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "x-examples": {
                                "example-1": {
                                    "order_number": "PEDIDO-001",
                                    "parent_shipment_order_number": "PEDIDO-PAI-001",
                                    "customer_shipping_costs": 19.2,
                                    "sales_channel": "Marketplace",
                                    "scheduled": false,
                                    "created": "2019-03-12T14:00:00.000Z",
                                    "shipped_date": "2019-03-13T14:00:00.000Z",
                                    "shipment_order_type": "RETURN",
                                    "delivery_method_id": 1,
                                    "delivery_method_external_id": 1,
                                    "carrier": {
                                        "driver": {
                                            "federal_tax_id": "78847892387"
                                        },
                                        "vehicle": {
                                            "licence_plate": "BRT-8982"
                                        }
                                    },
                                    "end_customer": {
                                        "first_name": "Nome",
                                        "last_name": "Sobrenome",
                                        "email": "email@intelipost.com.br",
                                        "phone": "1112345678",
                                        "cellphone": "11987654321",
                                        "is_company": false,
                                        "federal_tax_payer_id": "97586646112",
                                        "shipping_country": "Brasil",
                                        "shipping_state": "SP",
                                        "shipping_city": "São Paulo",
                                        "shipping_address": "Rua Dr Amancio de Carvalho",
                                        "shipping_number": "182",
                                        "shipping_quarter": "Vila Mariana",
                                        "shipping_reference": "Referencia",
                                        "shipping_additional": "Infos Adicionais",
                                        "shipping_zip_code": "04012080"
                                    },
                                    "origin_zip_code": "04012080",
                                    "origin_warehouse_code": "CD01",
                                    "shipment_order_volume_array": [
                                        {
                                            "name": "nome-volume-1",
                                            "shipment_order_volume_number": 1,
                                            "volume_type_code": "BOX",
                                            "weight": 12,
                                            "width": 20,
                                            "height": 25,
                                            "length": 20,
                                            "products_quantity": 1,
                                            "products_nature": "porducts",
                                            "products": [
                                                {
                                                    "weight": 0.15,
                                                    "width": 0.5,
                                                    "height": 0.6,
                                                    "length": 0.5,
                                                    "price": 25,
                                                    "description": "Camiseta - Preta - M",
                                                    "sku": "CPM995324",
                                                    "category": "Roupa",
                                                    "quantity": 1,
                                                    "image_url": "http://foo.bar/fooImg.jpg"
                                                }
                                            ],
                                            "shipment_order_volume_invoice": {
                                                "invoice_series": "1",
[...]
