{
  "openapi": "3.0.1",
  "info": {
    "title": "Catalogo API (Corrigido Completo)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lexos.com.br/Catalogo"
    }
  ],
  "tags": [
    {
      "name": "Catalogo"
    }
  ],
  "security": [
    { "BearerAuth": [] },
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/Produto": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postProduto",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProdutoArray" }
            }
          }
        },
        "responses": {
          "202": { "description": "OK" }
        }
      }
    },
    "/Estoque": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postEstoque",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EstoqueArray" }
            }
          }
        },
        "responses": {
          "202": { "description": "OK" }
        }
      }
    },
    "/Preco": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postPreco",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PrecoArray" }
            }
          }
        },
        "responses": {
          "202": { "description": "OK" }
        }
      }
    },
    "/ObterProdutoId": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getProdutoById",
        "parameters": [
          {
            "name": "ProdutoId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Produto" }
              }
            }
          }
        }
      }
    },
    "/ObterProdutoSku": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getProdutoBySku",
        "parameters": [
          {
            "name": "Sku",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/ObterAnuncioPorProdutoId": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getAnuncioPorProdutoId",
        "parameters": [
          {
            "name": "ProdutoId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/AtualizarPrecoAnuncio": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postAtualizarPrecoAnuncio",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AtualizarPrecoAnuncioRequest" }
            }
          }
        },
        "responses": {
          "202": { "description": "OK" }
        }
      }
    },
    "/ObterAnuncioPorId": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getAnuncioPorId",
        "parameters": [
          {
            "name": "AnuncioId",
            "in": "query",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/ObterProdutos": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getProdutos",
        "parameters": [
          {
            "name": "Pagina",
            "in": "query",
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/ObterAnuncioPorAnuncioIdPlataforma": {
      "get": {
        "tags": ["Catalogo"],
        "operationId": "getAnuncioPorPlataforma",
        "parameters": [
          {
            "name": "AnuncioIdPlataforma",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/{ProdutoId}/OutrosEans": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postOutrosEans",
        "parameters": [
          {
            "name": "ProdutoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EansRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      },
      "delete": {
        "tags": ["Catalogo"],
        "operationId": "deleteOutrosEans",
        "parameters": [
          {
            "name": "ProdutoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EansRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/IncluirImagens/{produtoId}": {
      "post": {
        "tags": ["Catalogo"],
        "operationId": "postIncluirImagens",
        "parameters": [
          {
            "name": "produtoId",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IncluirImagensRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Chave"
      }
    },
    "schemas": {
      "ProdutoArray": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/Produto" }
      },
      "Produto": {
        "type": "object",
        "properties": {
          "sku": { "type": "string" },
          "nome": { "type": "string" }
        }
      },
      "EstoqueArray": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/Estoque" }
      },
      "Estoque": {
        "type": "object",
        "properties": {
          "sku": { "type": "string" },
          "quantidade": { "type": "integer" }
        }
      },
      "PrecoArray": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/Preco" }
      },
      "Preco": {
        "type": "object",
        "properties": {
          "sku": { "type": "string" },
          "preco": { "type": "number" }
        }
      },
      "AtualizarPrecoAnuncioRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "anuncioId": { "type": "integer" },
            "preco": { "type": "number" }
          }
        }
      },
      "EansRequest": {
        "type": "object",
        "properties": {
          "eans": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      },
      "IncluirImagensRequest": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "url": { "type": "string" },
            "position": { "type": "integer" }
          }
        }
      }
    }
  }
}