openapi: 3.0.0
info:
  title: API Loja Integrada
  description: >-
    Para que possa acessar a API da Loja Integrada, você precisará de uma chave
    de aplicação, que o identificará como integrador, e de uma chave de API, que
    identificará a loja que está sendo integrada.


    [<b>Como gerar a chave de
    aplicação?</b>](https://ajuda.lojaintegrada.com.br/pt-BR/articles/5360466-como-o-integrador-gera-a-chave-de-aplicacao)


    [<b>Como gerar a chave de
    API?</b>](https://ajuda.lojaintegrada.com.br/pt-BR/articles/931152-como-gerar-a-chave-api-da-minha-loja)
  version: 1.0.0
servers:
  - url: https://api.awsli.com.br
tags:
  - name: Novidades
    description: >-
      **Últimos lançamentos:**


      - [Busca de clientes através do
      e-mail](https://api-docs.lojaintegrada.com.br/#58903e73-9d25-467b-abfa-4e425927be60)

      - [API de
      Newsletter](https://api-docs.lojaintegrada.com.br/#1e0424d6-81b5-4f18-918e-c539af178c25)

      - [Webhook de
      pedidos](https://api-docs.lojaintegrada.com.br/#94b75b30-cfff-4b17-8dc5-e4dd17ebf6d9)

      - [Webhook de
      produtos](https://api-docs.lojaintegrada.com.br/#37889972-f595-41b4-b541-9a0e56843c7b)
          
      - [API do
      Enviali](https://api-docs.lojaintegrada.com.br/#eb2218c0-6488-486d-a568-96cc78122da3)
  - name: Autenticação
    description: >-
      A autenticação pode ser feita enviando as chaves no header Authorization
      ou como parâmetros da requisição.


      Exemplos:


      Via HTTP Authorization


      > curl -H "Content-Type: application/json" -H "Authorization:
      **chave_api** 10d674b6e5834dbc **aplicacao**
      ed102c0b-ff23-4826-b296-cfd2c913b133" -X GET
      [https://api.awsli.com.br/v1/categoria/](https://api.awsli.com.br/v1/categoria/)


      Via parâmetros:


      > curl -X GET
      [https://api.awsli.com.br/v1/categoria/?format=json&**chave_api**\=10d674b6e5834dbc&**chave_aplicacao**\=ed102c0b-ff23-4826-b296-cfd2c913b133](https://api.awsli.com.br/v1/categoria/?format=json&chave_api=10d674b6e5834dbc&chave_aplicacao=ed102c0b-ff23-4826-b296-cfd2c913b133As)


      \*As chaves devem ser enviadas em todas as requisições feitas na API.
  - name: Limites (throttling)
    description: |-
      A API possui os seguintes limites de requisições:

      - por aplicação (chave_aplicacao) - 3000 requisições / minuto (Err 533)  
          
      - por loja (chave_api) - 100 requisições / minuto (Err 633)  
          
      - por ip - 1200 requisições / minuto (Err 133)
          

      Ao exceder o limite, a API retornará status 429 e o erro específico.
  - name: Produtos
  - name: Imagens do produto
    description: Consulta e cadastro de imagens de produtos.
  - name: Preço
    description: Consulta e alteração de preço dos produtos.
  - name: Grade
    description: Consulta e cadastro de grades da loja.
  - name: Estoque
    description: >-
      O estoque do produto é definido por quatro campos no banco de dados:
      **gerenciado**, **quantidade**, **situacao_em_estoque**,
      **situacao_sem_estoque**. Segue a definição de cada um deles:


      **gerenciado**:


      > Define se o estoque será gerenciado pela Loja Integrada, caso não seja
      gerenciado o estoque sempre será definido pelo campo
      **situacao_em_estoque** e o campo **quantidade** será ignorado.


      **quantidade**:


      > Define a quantidade de produto que está atualmente em estoque.


      **situacao_em_estoque**:


      > Define o prazo para envio do produto. Use **0** (zero) para imediato e
      **1** (ou qualquero outro inteiro positivo) para prazo de envio em x dias.


      **situacao_sem_estoque**:


      > Só é usado quando o campo **gerenciado** estiver definido como **true**.
      Define o prazo de envio do produto assim que o estoque chegar a zero. Use
      **\-1** para deixar o tornar o produto indisponível, **0** (zero) para
      deixar o prazo de envio como imediato e **1** (ou qualquero outro inteiro
      positivo) para deixar o prazo de envio para x dias.

      > 

      > Este campo é melhor compreendido com o seguinte exemplo: Você tem um
      produto manufaturado que demora 10 dias para ser feito e você já tem 3
      dele em estoque. Você deve definir o campo **quantidade** para 3 e
      **situacao_em_estoque** para 0 (zero) e o campo **situacao_sem_estoque**
      para 10. Esta configuração fará com que o prazo de envio do produto seja
      alterado para 10 dias assim que os três produtos que estavam em estoque
      forem comprados.
  - name: Categorias
    description: Consulta e cadastro de categorias na loja.
  - name: Marca
    description: Consulta e cadastro de marcas na loja.
  - name: Cupom
    description: >-
      Gerencie seus cupons através de consulta, cadastro e alteração de cupons
      dos desconto.
  - name: SEO
    description: >-
      Adicione ou altere os parâmetro de SEO dos produtos e categorias. Tags
      disponíveis: **title**, **keyword** e **description.**
  - name: Cliente
  - name: Grupo
    description: Consulta grupos de clientes da loja.
  - name: Pagamento
    description: Consulta formas de pagamento disponíveis na loja.
  - name: Envio
    description: Consulta formas de envio disponíveis na loja.
  - name: Pedido
    description: Consulta pedidos da loja.
  - name: Situações do pedido
    description: Consulta situações de pedido disponíveis na loja.
  - name: Integrações de pedido
    description: >-
      Use este endpoint para enviar novos Pedidos de Venda, quando for
      necessário enviar um pedido quando os dados de preço, pagamento e frete
      que foram calculados anteriormente (exemplo: Marketplaces).


      ## Novo pedido


      **buyer (dict)**


      > Informe os dados do comprador:

      > 

      > - name (string) - Nome Completo do Comprador

      > - email (string) - Email do Comprador (obrigatório)

      > - document (number) - O número do documento legal do Comprador
      (obrigatório). Somente números

      > - ie (string) - Inscrição estadual caso o Comprador seja PJ.

      > - external_id (number) - O Id do parceiro para o comprador

      > - phone (number) - O número do telefone principal, somente números

      > - type (string) - Utilize "CPF", "CNPJ" ou "RG" (obrigatório)


      **shipping (dict)**


      > Informe os dados de entrega:

      > 

      > - address

      >     - address (string): O endereço completo de entrega (obrigatório);

      >     - country (string): O codigo ISO de dois dígitos do País
      (obrigatório);

      >     - complement (string): O complemento do endereço;

      >     - street (string): Informe o logradouro;

      >     - city (string): Informe a cidade;

      >     - number (number): Informe o número;

      >     - zipcode (number): Informe o CEP (obrigatório);

      >     - district (string): Informe o bairro;

      > - option (string): informe o tipo de envio; Valores: "pac" ou "sedex",
      por exemplo. Para ver as formas de envio validas consultar endpoint de
      Envio (opcional).

      > - time (number): informe o prazo de envio em dias;


      **amount (dict)**


      > Informe o total do Pedido de Venda:

      > 

      > - discount (float): Informe o total de descontos;

      > - freight (float): Informe o total de frete;

      > - fees (float): informe o total de juros/multa/taxas;

      > - total (float): informe o valor final;

      > - gross (float): informa o valor total antes dos descontos.


      **itens (array)**


      > Informe os items do Pedido de Venda:

      > 

      > - product_id (number): O Id do Produto;

      > - quantity (number): A quantidade do produto no pedido;

      > - unit_value (float): O valor unitário do produto;

      > - line_value (float): O subtotal do produto na venda.


      **info (dict)**


      > Informe dados gerais do Pedido de Venda:

      > 

      > - status (number): informe o status do pedido (obrigatório). Valores
      aceitos:

      >     - 2: Aguardando Pagamento

      >     - 3: Pedido em Análise

      >     - 4: Pedido Pago

      >     - 6: Pedido em Disputa

      >     - 7: Pagamento Devolvido

      >     - 8: Pedido Cancelado

      >     - 9: Pedido Efetuado (padrão)

      >     - 11: Pedido Enviado

      >     - 13: Pedido Pronto da Retirada

      >     - 14: Pedido Entregue

      > - marketPlaceId: Informe o Id do marketplace no integrador.

      > - reference: Diretório de referencia composto pelo integrador e
      marketplace. Ex: hubMarket/b2w.


      **integration_data (dict)**


      > Informe os dados referente a integração do pedido:

      > 

      > - integrator(string) : Nome do integrador;

      > - marketplace (string) : Nome do MarketPlace;

      > - Id Externo (number).

      > - unique_id (string): Id único do pedido no integrador (opcional).
  - name: Código HTML
    description: Adicione ou altere códigos HTML no rodapé o cabeçalho da loja.
  - name: Newsletter
    description: Cadastra ou consulta e-mail de cliente na Newsletter.
  - name: Webhook Pedidos
    description: >-
      Para receber informações de pedidos via webhook.


      Importante frisar que o integrador pode receber diversos webhooks
      repetidos, para eliminar esta situação considere apenas os webhooks que
      estão como:


      > "situacao"."situacao_alterada": true 
        

      ##### **Exemplo de retorno de pedido do webhook:**


      ``` json

      {
          "token": "user-id-abc",
          "tipo": "pedido_venda",
          "id": 753077,
          "id_externo": null,
          "numero": 7,
          "valor_desconto": 0,
          "valor_envio": 0,
          "valor_subtotal": 169.41,
          "valor_total": 169.41,
          "utm_campaign": null,
          "peso_real": 0.6,
          "cliente_obs": null,
          "id_anymarket": null,
          "data_criacao": "2023-03-23T22:48:05.582Z",
          "data_modificacao": "2023-03-23T22:48:39.301Z",
          "data_expiracao": "2023-03-29T22:48:05.665Z",
          "cliente": {
              "id": 56827792,
              "email": "teste123@gmail.com",
              "nome": "teste aa dddd",
              "telefone_celular": "31338893773",
              "telefone_comercial": null,
              "telefone_principal": "31938873772",
              "situacao": "pendente",
              "data_nascimento": "1990-12-12",
              "sexo": "m",
              "data_criacao": "2023-03-22T20:03:57.838283-03:00",
              "data_modificacao": "2023-03-22T20:03:57.838298-03:00"
          },
          "cupom_desconto": {
              "id": null,
              "codigo": null,
              "tipo": null
          },
          "endereco_entrega": {
              "id": 63198643,
              "tipo": "PF",
              "ie": null,
              "cnpj": null,
              "cpf": "12345678901",
              "rg": null,
              "nome": "teste aa dddd",
              "razao_social": null,
              "endereco": "Rua Escocia",
              "numero": "22",
              "complemento": "complemento",
              "referencia": "referencia",
              "bairro": "Jardim Europa",
              "cidade": "Sao Paulo",
              "estado": "SP",
              "cep": "01450000",
              "pais": "Brasil"
          },
          "endereco_pagamento": {
              "id": 63198644,
              "tipo": null,
              "ie": null,
              "cnpj": null,
              "rg": null,
              "nome": "teste aa dddd",
              "razao_social": null,
              "endereco": "Rua dos Caquizeiros",
              "numero": "22",
              "complemento": "complemento",
              "referencia": "referencia",
              "bairro": "Jardim Celeste",
              "cidade": "Sinop",
              "estado": "MT",
              "pais": "Brasil"
          },
          "envios": [{
              "id": 75213630,
              "objeto": null,
              "prazo": 1,
              "valor": null,
              "data_criacao": "2023-03-23T19:48:05.600305-03:00",
              "data_modificacao": "2023-03-23T19:48:05.600325-03:00",
              "forma_envio": {
                  "id": 12015,
                  "codigo": "retirar_pessoalmente",
                  "nome": "Retirar pessoalmente"
              }
          }],
          "pagamentos": [{
              "id": 75213751,
              "identificador_id": null,
              "authorization_code": null,
              "bandeira": null,
              "mensagem_gateway": null,
              "codigo_retorno_gateway": null,
              "transacao_id": null,
              "valor": 169.41,
              "valor_pago": 169.41,
              "data_criacao": "2023-03-23T19:48:05.594093-03:00",
              "data_modificacao": "2023-03-23T19:48:20.088216-03:00",
              "forma_pagamento": {
                  "id": 13,
                  "codigo": "entrega",
                  "nome": "Pagamento na entrega"
              }
          }],
          "situacao": {
              "id": 3,
              "codigo": "pagamento_em_analise",
              "nome": "Pagamento em análise",
              "aprovado": false,
              "cancelado": false,
              "final": false,
              "notificar_comprador": true,
              "padrao": false,
              "situacao_alterada": true
          },
          "itens": [{
              "linha": 1,
              "id": 170235106,
              "produto_id": 209615743,
              "produto_id_pai": 209615737,
              "sku": "912321123",
              "nome": "Produto teste abc",
              "tipo": "atributo_opcao",
              "quantidade": 1,
              "preco_cheio": 169.41,
              "preco_custo": null,
              "preco_venda": 169.41,
              "preco_subtotal": 169.41
          }]
      }

       ```
  - name: Webhook Produtos
    description: |-
      Para receber informações de alterações em produtos via webhook.

      ##### **Exemplo de retorno de produto do webhook:**

      ``` json
      [
          {
              "pai": null,
              "nome": "Mochila Cinza Juvenil Mormaii com Bolso Secreto",
              "apelido": "mochila-cinza-juvenil-mormaii-com-bolso-secreto",
              "destaque": false,
              "usado": false,
              "descricao_completa": "<p>Mochila Cinza Juvenil Mormaii com Bolso Secreto MOM34U09 </p>\r\n\r\n<p> </p>\r\n\r\n<p>Versáteis e exclusivas, seja para usar no passeio, dia a dia, para academia ou até mesmo para o trabalho, </p>\r\n\r\n<p>você pode contar com um modelo de mochila mormaii, são modelos que atendem todos os públicos, há diferenciais em cada estilo como estampas exclusivas, </p>\r\n\r\n<p>bolsos laterias, alças acolchoadas, puxadores reforçados, bolsos frontais e compartimento para laptop.</p>\r\n\r\n<p> </p>\r\n\r\n<p>CARACTERISTICA</p>\r\n\r\n<p> </p>\r\n\r\n<p>- Mochila marca Mormaii confeccionada em poliéster </p>\r\n\r\n<p>- Bolso frontal</p>\r\n\r\n<p>- Alças de costas acolchoado e ajustáveis</p>\r\n\r\n<p>- Bolso secreto na parte das costas</p>\r\n\r\n<p>- Bolsos laterias porta garrafa</p>\r\n\r\n<p> </p>\r\n\r\n<p>Tamanho aproximado ( AxLxP): 43cm x 30cm x 16cm</p>\r\n\r\n<p> </p>\r\n\r\n<p>Capacidade aproximado: 22L</p>\r\n\r\n<p> </p>\r\n\r\n<div id=\"njcdgcofcbnlbpkpdhmlmiblaglnkpnj\"> </div>\r\n",
              "url_video_youtube": "",
              "marca": {
                  "id": 3012495,
                  "nome": "Mormaii",
                  "apelido": "mormaii",
                  "ativo": true
              },
              "seo": {
                  "id": 50471805,
                  "title": "Mochila Cinza Juvenil Mormaii com Bolso Secreto MOM34U09",
                  "description": "",
                  "keyword": ""
              },
              "imagens": [
                  {
                      "id": 74747386,
                      "posicao": null,
                      "principal": false,
                      "caminho": "1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-3d22c2a4.jpg",
                      "url": "https://cdn.awsli.com.br/1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-3d22c2a4.jpg"
                  },
                  {
                      "id": 74747390,
                      "posicao": null,
                      "principal": false,
                      "caminho": "1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-366ce63b.jpg",
                      "url": "https://cdn.awsli.com.br/1736/1736356/produto/92491242/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09-366ce63b.jpg"
                  }
              ],
              "categorias": [
                  {
                      "principal": true,
                      "nivel_1": {
                          "id": 11214949,
                          "parent_id": null,
                          "nome": "Malas e Mochilas",
                          "url": "/categoria/11214949.html",
                          "posicao": 15
                      },
                      "nivel_2": {
                          "id": 11214951,
                          "parent_id": 11214949,
                          "nome": "Mochilas",
                          "url": "/categoria/11214951.html",
                          "posicao": 0
                      },
                      "nivel_3": null,
                      "nivel_4": null,
                      "nivel_5": null
                  }
              ],
              "canonical_path": "/mochila-cinza-juvenil-mormaii-com-bolso-secreto-mom34u09",
              "id": 92491242,
              "ativo": true,
              "removido": false,
              "sku": "MCHMOM34U09",
              "peso": 0.08,
              "altura": 30,
              "largura": 20,
              "comprimento": 5,
              "gtin": "7908226205229",
              "mpn": "",
              "ncm": "42029200",
              "preco_cheio": 150,
              "preco_promocional": 75.95,
              "preco_sob_consulta": false,
              "preco_venda": 75.95,
              "estoque_gerenciado": true,
              "estoque_situacao_em_estoque": 0,
              "estoque_situacao_sem_estoque": -1,
              "estoque_quantidade": null,
              "estoque_quantidade_reservada": null,
              "grades": null,
              "grades_customizadas": null,
              "disponivel": true,
              "tipo": "normal",
              "data_criacao": "2021-03-22T13:24:43.496Z",
              "data_modificacao": "2023-06-19T18:31:53.289Z"
          }
      ]

      ```
  - name: Enviali
    description: >-
      #### **Importante:**


      O header _x-correlation-id_ é utilizado para identificar os requests nos
      logs de erro, sempre envie uma UUID válida neste _Header_ para nos ajudar
      te dar suporte, especialmente durante a fase de implementação desta API.
      Em casos de erro ele é devolvido no campo "id" da resposta.


      Os valores numéricos são sempre números inteiros, ou seja, passe - e
      espere que - os valores de preço, tamanho e peso em centavos, centímetros
      e gramas.
paths:
  /v1/produto:
    post:
      tags:
        - Produtos
      summary: Cadastrar produto filho
      description: >-
        Para criar um produto filho é preciso preencher na chave **tipo** o
        valor **atributo_opcao**.


        O campo **pai** deve conter a URL de um produto pai, como exemplificado.
        Note que um produto pai precisa ser necessariamente um produto do tipo
        **atributo**.


        Perceba que não é necessário inserir atributos como **destaque,
        descricao_completa e usado**.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"id_externo\": null,\n  \"sku\":
                \"casaco-azul-tam-m\",\n  \"mpn\": null,\n  \"ncm\": null,\n 
                \"nome\": \"Casaco Azul Tamanho M\",\n  \"ativo\": true,\n 
                \"peso\": 0.45,\n  \"altura\": 2,\n  \"largura\": 12,\n 
                \"profundidade\": 6,\n  \"pai\":
                \"/api/v1/produto/182904918\",\n  \"tipo\":
                \"atributo_opcao\",\n  \"variacoes\": [\n   
                \"/api/v1/grade/8945/variacao/37078\",\n   
                \"/api/v1/grade/8950/variacao/38417\"\n\n  ]\n}\n\n\n"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '201':
          description: Created
          headers:
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Mon, 24 Oct 2022 18:32:36 GMT
            location:
              schema:
                type: string
                example: http://api.awsli.com.br/api/v1/produto/182905567
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            transfer-encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                altura: 2
                apelido: casaco-azul-tamanho-m-2022-10-24-15-32-35
                ativo: true
                bloqueado: false
                categorias: []
                data_criacao: '2022-10-24T15:32:35.969785'
                data_modificacao: '2022-10-24T15:32:35.969803'
                descricao_completa: null
                destaque: false
                gtin: null
                id: 182905567
                id_externo: null
                imagem_principal: null
                imagens: []
                largura: 12
                marca: null
                mpn: null
                ncm: null
                nome: Casaco Azul Tamanho M
                pai: /api/v1/produto/182904918
                peso: '0.450'
                profundidade: 6
                removido: false
                resource_uri: /api/v1/produto/182905567
                seo: /api/v1/seo/None
                sku: casaco-azul-tamanho-m
                tipo: atributo_opcao
                url: >-
                  https://loja-exemplo.lojaintegrada.com.br/produto/casaco-azul-tamanho-m-2022-10-24-15-32-35.html
                url_video_youtube: null
                usado: false
                variacoes:
                  - /api/v1/grade/8945/variacao/37078
                  - /api/v1/grade/8950/variacao/38417
    get:
      tags:
        - Produtos
      summary: Filtrar produtos por SKU
      description: |-
        Filtrar a busca de produtos através de parâmetros.

        Os parâmetros disponíveis são:

        - sku (string)
        - ativo (bool)
        - removido (bool)
            

        Exemplo:

        /v1/produto?ativo=true
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: sku
          in: query
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Mon, 24 Oct 2022 19:01:13 GMT
            content-length:
              schema:
                type: integer
                example: '374'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  limit: 20
                  next: null
                  offset: 0
                  previous: null
                  total_count: 1
                objects:
                  - apelido: calca-jeans
                    ativo: true
                    bloqueado: false
                    categorias: []
                    descricao_completa: null
                    filhos:
                      - /api/v1/produto/166737213
                      - /api/v1/produto/166737211
                    grades: []
                    gtin: null
                    id: 166737177
                    id_externo: null
                    mpn: null
                    ncm: null
                    nome: Calça Jeans
                    removido: false
                    resource_uri: /api/v1/produto/166737177
                    seo: /api/v1/seo/76387920
                    sku: '3025'
                    tipo: atributo
                    url: https://loja-exemplo.lojaintegrada.com.br/calca-jeans
                    url_video_youtube: null
                    variacoes: []
  /v1/produto/:
    post:
      tags:
        - Produtos
      summary: Cadastrar produto pai
      description: >-
        Produtos pai são produtos que possuem variações. O produto pai agrupa as
        variações e os produtos filhos representam as variações.  


        Após criar o produto pai, é preciso criar os produtos filhos
        vinculando-os ao pai - o que será exemplificado na próxima sessão.


        Para criar um produto Pai, a chave **tipo** deve ser preenchida com o
        valor **atributo**.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"id_externo\": null,\n    \"sku\": \"prod-004\",\n   
                \"mpn\": null,\n    \"ncm\": null,\n    \"nome\": \"Casaco
                infantil\",\n    \"apelido\": \"casaco-infantil\",\n   
                \"descricao_completa\": \"<strong>Casacos infantis de diversas
                cores!</strong>\",\n    \"ativo\": true,\n    \"destaque\":
                false,\n    \"peso\": 0.450,\n    \"altura\": 2,\n   
                \"largura\": 12,\n    \"profundidade\": 6,\n    \"tipo\":
                \"atributo\",\n    \"usado\": false,\n    \"grades\": [\n       
                \"/api/v1/grades/8945\",\n        \"/api/v1/grades/8950\"\n   
                ],\n    \"categorias\": [\n       
                \"/api/v1/categoria/15246059/\"\n    ],\n    \"marca\":
                \"/api/v1/marca/18139613/\",\n    \"removido\": false\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '201':
          description: Created
          headers:
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Mon, 24 Oct 2022 18:29:22 GMT
            location:
              schema:
                type: string
                example: http://api.awsli.com.br/api/v1/produto/182904918
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            transfer-encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                altura: 2
                apelido: casaco-infantil
                ativo: true
                bloqueado: false
                categorias:
                  - /api/v1/categoria/15246059
                data_criacao: '2022-10-24T15:29:22.019811'
                data_modificacao: '2022-10-24T15:29:22.019823'
                descricao_completa: <strong>Casacos infantis de diversas cores!</strong>
                destaque: false
                filhos: []
                grades:
                  - /api/v1/grades/8945
                  - /api/v1/grades/8950
                gtin: null
                id: 182904918
                id_externo: null
                imagem_principal: null
                imagens: []
                largura: 12
                marca: /api/v1/marca/18139613
                mpn: null
                ncm: null
                nome: Casaco infantil
                pai: null
                peso: '0.450000000000000011102230246251565404236316680908203125'
                profundidade: 6
                removido: false
                resource_uri: /api/v1/produto/182904918
                seo: /api/v1/seo/82624192
                sku: prod-004
                tipo: atributo
                url: >-
                  https://loja-exemplo.lojaintegrada.com.br/produto/casaco-infantil.html
                url_video_youtube: null
                usado: false
                variacoes: []
  /v1/produto/174389010:
    put:
      tags:
        - Produtos
      summary: Alterar produto
      description: >-
        Atualiza um produto na loja. Para fazer a atualização é necessário
        enviar todos os campos do produto.


        Para campos que aceitam URLs, como **variacoes** e **pai**, a flag
        **id_externo** pode ser enviada na URL para indicar que o id na URL é um
        id_externo.


        Exemplo: `"pai": "/api/v1/produto/73849275?id_externo=1"` ao invés de
        `"pai": "/api/v1/produto/19808215"`
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"altura\": null,\n  \"apelido\": \"produto-normal\",\n 
                \"ativo\": false,\n  \"bloqueado\": false,\n  \"categorias\":
                [],\n  \"data_criacao\": \"2014-01-06T23:13:59.337504\",\n 
                \"data_modificacao\": \"2014-04-04T13:43:20.239138\",\n 
                \"destaque\": false,\n  \"imagem_principal\": null,\n 
                \"imagens\": [],\n  \"largura\": null,\n  \"marca\": null,\n 
                \"nome\": \"Produto normal bem Legal\",\n  \"pai\": null,\n 
                \"peso\": null,\n  \"profundidade\": null,\n  \"ncm\": null,\n 
                \"gtin\": null,\n  \"mpn\": null,\n  \"removido\": false,\n 
                \"sku\": \"CTU7ZMWHB\",\n  \"tipo\": \"normal\",\n 
                \"url_video_youtube\": \"\",\n  \"usado\": false\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 28 Oct 2022 18:55:14 GMT
            content-length:
              schema:
                type: integer
                example: '420'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                altura: null
                apelido: produto-normal
                ativo: false
                bloqueado: false
                categorias: []
                data_criacao: '2014-01-06T23:13:59.337504'
                data_modificacao: '2022-10-28T15:55:14.499255'
                descricao_completa: null
                destaque: false
                grades: []
                gtin: null
                id: 174389010
                id_externo: null
                imagem_principal: null
                imagens: []
                largura: null
                marca: null
                mpn: null
                ncm: null
                nome: Produto normal bem Legal
                pai: null
                peso: null
                profundidade: null
                removido: false
                resource_uri: /api/v1/produto/174389010
                seo: /api/v1/seo/79713727
                sku: CTU7ZMWHB
                tipo: normal
                url: https://loja-exemplo.lojaintegrada.com.br/produto-sitemap
                url_video_youtube: ''
                usado: false
                variacoes: []
  /v1/produto/987654321/:
    put:
      tags:
        - Produtos
      summary: Alterar produto com id externo
      description: >-
        Altera um produto na loja utilizando o **id_externo** para a busca. Para
        fazer a atualização é necessário enviar todos os campos do produto.


        Para campos que aceitam URIs, como **variacoes** e **pai**, o id nessas
        URIs será considerado um **id_externo** e a flag **id_externo** pode ser
        omitida dessas URIs.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"altura\": null,\n  \"apelido\":
                \"atributo-id-externo\",\n  \"ativo\": false,\n  \"bloqueado\":
                false,\n  \"categorias\": [],\n  \"data_criacao\":
                \"2022-10-28T17:09:04.983397\",\n  \"data_modificacao\":
                \"2022-10-28T17:09:04.983411\",\n  \"destaque\": false,\n 
                \"imagem_principal\": null,\n  \"imagens\": [],\n  \"grades\":
                [],\n  \"largura\": null,\n  \"marca\": null,\n  \"nome\":
                \"Produto atributo id externo\",\n  \"pai\": null,\n  \"peso\":
                null,\n  \"profundidade\": null,\n  \"ncm\": null,\n  \"gtin\":
                null,\n  \"mpn\": null,\n  \"removido\": false,\n  \"sku\":
                \"SKU2342\",\n  \"tipo\": \"atributo\",\n 
                \"url_video_youtube\": \"\",\n  \"usado\": false\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: id_externo
          in: query
          schema:
            type: integer
          example: '1'
        - name: descricao_completa
          in: query
          schema:
            type: string
          example: descricao_completa
      responses:
        '200':
          description: OK
          headers:
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 28 Oct 2022 20:12:22 GMT
            content-length:
              schema:
                type: integer
                example: '495'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                altura: null
                apelido: atributo-id-externo
                ativo: false
                bloqueado: false
                categorias: []
                data_criacao: '2022-10-28T17:09:04.983397'
                data_modificacao: '2022-10-28T17:12:22.891179'
                descricao_completa: <strong>Casacos infantis de diversas cores!</strong>
                destaque: false
                filhos: []
                grades:
                  - /api/v1/grades/8945
                  - /api/v1/grades/8950
                gtin: null
                id: 183623529
                id_externo: 987654321
                imagem_principal: null
                imagens: []
                largura: null
                marca: /api/v1/marca/18139613
                mpn: null
                ncm: null
                nome: Produto atributo id externo
                pai: null
                peso: null
                profundidade: null
                removido: false
                resource_uri: /api/v1/produto/987654321?id_externo=1
                seo: /api/v1/seo/82909769
                sku: SKU2342
                tipo: atributo
                url: >-
                  https://loja-exemplo.lojaintegrada.com.br/produto/atributo-id-externo.html
                url_video_youtube: ''
                usado: false
                variacoes: []
  /v1/produto/171438681:
    get:
      tags:
        - Produtos
      summary: Produto específico
      description: Utilizando o id do produto específico na busca.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 10 Feb 2023 13:13:31 GMT
            content-length:
              schema:
                type: integer
                example: '964'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                altura: 37
                apelido: corretor-postural-tam-m-hidrolight
                ativo: false
                bloqueado: false
                categorias:
                  - /api/v1/categoria/119
                  - /api/v1/categoria/117
                  - /api/v1/categoria/120
                data_criacao: '2022-08-12T10:29:57.537630'
                data_modificacao: '2023-02-01T13:30:51.260277'
                descricao_completa: >-
                  <p><strong>Corretor Postural Tam. M
                  Hidrolight</strong></p><p>Tamanho M.</p><p><ul><li>Auxilia na
                  corre��o postural.</li><li>Confeccionado em material de alta
                  qualidade.</li><li>Maior prote��o e conforot durante a
                  recupera��o.</li></ul></p><p><strong>Indica��es</strong><br>Corre��o
                  postural. Preven��o e tratamento de les�es m�dias ocasionadas
                  por uma postura incorreta. Aux�lio no tratamento de cifose,
                  escoliose, entre outros. CONSULTE UM
                  ESPECIALISTA.</p><p><strong>Instru��es de
                  Uso</strong><br>Vista o colete de forma que o estofado fique
                  voltado para o lado interno. Passe as duas extremidade por
                  dentro das argolas e traga para frente do abdome, fornecendo
                  compress�o adequada atrav�s do fecho
                  aderente.</p><p><strong>Composi��o</strong><br>Tecido: 50%
                  algod�o e 50% poliamida; Passantes: a�o inox.; Base interna:
                  polipropileno. Tiras: 100% algod�o; Fecho: nylon.</p>
                destaque: false
                grades: []
                gtin: '7898336436135'
                id: 171438681
                id_externo: 2603
                imagem_principal: null
                imagens: []
                largura: 24
                marca: null
                mpn: OR1007M
                ncm: '90211010'
                nome: Corretor Postural Tam M Hidrolight
                pai: null
                peso: '0.210'
                profundidade: 6
                removido: true
                resource_uri: /api/v1/produto/2603
                seo: /api/v1/seo/78242627
                sku: OR1007M
                tipo: normal
                url: >-
                  https://loja-exemplo.lojaintegrada.com.br/produto/corretor-postural-tam-m-hidrolight.html
                url_video_youtube: null
                usado: false
                variacoes: []
  /v1/produto/8558855/:
    get:
      tags:
        - Produtos
      summary: Produto com id externo
      description: >-
        Lista os dados de um produto específico usando o **id_externo** para
        busca.


        (O parametro "descricao_completa=1" mostra os campos de descrição).


        A query string **id_externo** é uma flag que, quando passada, indica que
        o **produto_id** deve ser considerado o **id_externo** do produto ao
        fazer a busca.


        Importante frisar que se o produto possuir **id_externo**, a categoria
        também precisa ter **id_externo**.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: id_externo
          in: query
          schema:
            type: integer
          example: '1'
        - name: descricao_completa
          in: query
          schema:
            type: string
          example: descricao_completa
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 28 Oct 2022 18:54:28 GMT
            content-length:
              schema:
                type: integer
                example: '510'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                altura: 2
                apelido: casaco-infantil-2022-10-28-15-53-59
                ativo: true
                bloqueado: false
                categorias:
                  - /api/v1/categoria/15246059
                data_criacao: '2022-10-28T15:53:59.225783'
                data_modificacao: '2022-10-28T15:53:59.225796'
                descricao_completa: <strong>Casacos infantis de diversas cores!</strong>
                destaque: false
                filhos: []
                grades:
                  - /api/v1/grades/8945
                  - /api/v1/grades/8950
                gtin: null
                id: 183610329
                id_externo: 8558855
                imagem_principal: null
                imagens: []
                largura: 12
                marca: /api/v1/marca/18139613
                mpn: null
                ncm: null
                nome: Casaco infantil
                pai: null
                peso: '0.450'
                profundidade: 6
                removido: false
                resource_uri: /api/v1/produto/8558855
                seo: /api/v1/seo/82903309
                sku: prod-669
                tipo: atributo
                url: >-
                  https://loja-exemplo.lojaintegrada.com.br/produto/casaco-infantil-2022-10-28-15-53-59.html
                url_video_youtube: null
                usado: false
                variacoes: []
  /v1/produto_imagem/:
    get:
      tags:
        - Imagens do produto
      summary: Listar imagens de um produto
      description: Lista todas as imagens de um produto.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: produto
          in: query
          schema:
            type: integer
          example: '166737173'
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 04 Nov 2022 20:09:09 GMT
            content-length:
              schema:
                type: integer
                example: '267'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  limit: 20
                  next: null
                  offset: 0
                  previous: null
                  total_count: 2
                objects:
                  - caminho: >-
                      1736/1736356/produto/166737173/camiseta-vamos-defumar-o-mundo-7da63f05.jpg
                    id: 108287406
                    id_anymarket: null
                    mime: null
                    posicao: null
                    principal: false
                    produto: /api/v1/produto/166737173
                    resource_uri: /api/v1/produto_imagem/108287406
                  - caminho: >-
                      1736/1736356/produto/166737173/camiseta-vamos-defumar-o-mundo-6fe2de56.jpg
                    id: 108287410
                    id_anymarket: null
                    mime: null
                    posicao: null
                    principal: false
                    produto: /api/v1/produto/166737173
                    resource_uri: /api/v1/produto_imagem/108287410
    post:
      tags:
        - Imagens do produto
      summary: Cadastrar imagem
      description: Cadastra uma nova imagem para o produto.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"imagem_url\":
                \"https://g-design.storage.googleapis.com/production/v6/assets/g-logotype-poster.png\",\n 
                \"produto\": \"/api/v1/produto/166737173\",\n  \"principal\":
                true,\n  \"posicao\": 0,\n  \"mime\": \"image/jpeg\"\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '201':
          description: Created
          headers:
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 04 Nov 2022 20:16:45 GMT
            location:
              schema:
                type: string
                example: http://api.awsli.com.br/api/v1/produto_imagem/116138244
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            transfer-encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                caminho: 1736/1736356/produto/166737173ac73ad372b.jpg
                id: 116138244
                id_anymarket: null
                imagem_id: 126159787
                imagem_url: >-
                  https://g-design.storage.googleapis.com/production/v6/assets/g-logotype-poster.png
                mime: image/jpeg
                posicao: '0'
                principal: true
                produto: /api/v1/produto/166737173
                resource_uri: /api/v1/produto_imagem/116138244
  /v1/produto_imagem/108287406:
    get:
      tags:
        - Imagens do produto
      summary: Imagem específica
      description: Visualiza as informações de uma imagem específica passando o id dela.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 04 Nov 2022 20:20:24 GMT
            content-length:
              schema:
                type: integer
                example: '198'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                caminho: >-
                  1736/1736356/produto/166737173/camiseta-vamos-defumar-o-mundo-7da63f05.jpg
                id: 108287406
                id_anymarket: null
                imagem_id: 117863556
                mime: null
                posicao: null
                principal: false
                produto: /api/v1/produto/166737173
                resource_uri: /api/v1/produto_imagem/108287406
  /v1/produto_imagem/141999186:
    delete:
      tags:
        - Imagens do produto
      summary: Deletar imagem específica
      description: Lista todas as imagens de um produto.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/html; charset=utf-8
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Tue, 16 Jan 2024 13:49:10 GMT
            vary:
              schema:
                type: string
                example: Accept
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 eb30892e0d329aead17e943e1b1cc5ae.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: IAD55-P1
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: fqcmUtxPLqUMsCyQVV7FgKa65_pA57f1uXn7Jh7ZzkUQv_PsALtDqg==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            text/plain:
              schema:
                type: string
              example: null
  /v1/produto_preco/174389010:
    put:
      tags:
        - Preço
      summary: Alterar preço
      description: Altera o preço de um produto.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"cheio\": 32.84,\n  \"custo\": 10.5,\n  \"promocional\":
                20,\n  \"sob_consulta\": false\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:22:10 GMT
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: 7t6cY_ZqShWaBF1oZZhsQM6iF1RNsTv1Fy6JywdD21gMECAiqztQog==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                cheio: '32.84'
                custo: '10.50'
                id: 109870055
                produto: /api/v1/produto/174389010
                promocional: '20.00'
                resource_uri: /api/v1/produto_preco/174389010
                sob_consulta: false
    get:
      tags:
        - Preço
      summary: Preço específico
      description: Lista o preço de um produto específico.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:20:48 GMT
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: JCITJbo7v_h1huvK-7BWCdiFd8F7mR3elz_Fi66CPSxl2D2E7Wo8eA==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                cheio: '32.8300'
                custo: '32.8300'
                id: 109870055
                produto: /api/v1/produto/174389010
                promocional: '22.8300'
                resource_uri: /api/v1/produto_preco/174389010
                sob_consulta: false
  /v1/produto_preco/8558855:
    put:
      tags:
        - Preço
      summary: Alterar preço com id externo
      description: >-
        Altera o preço de um produto utilizando o **id_externo** para a busca.


        A query string **id_externo** é uma flag que, quando passada, indica que
        o **produto_id** deve ser considerado o **id_externo** do preço ao fazer
        a busca.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"cheio\": 32.9,\n  \"custo\": 11.5,\n  \"promocional\":
                20\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: id_externo
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:22:30 GMT
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: iJOtEtgsVUSyxuVz_BWF55tO_ZsvEizX9_PfTV90xR0imlZG2rbPBA==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                cheio: '32.90'
                custo: '11.50'
                id: 115118462
                produto: /api/v1/produto/8558855?id_externo=1
                promocional: '20.00'
                resource_uri: /api/v1/produto_preco/183610329
                sob_consulta: false
    get:
      tags:
        - Preço
      summary: Preço com id externo
      description: >-
        Lista os dados de um preço de um produto usando o **id_externo** para
        busca.


        A query string **id_externo** é uma flag que, quando passada, indica que
        o **produto_id** deve ser considerado o **id_externo** do preço ao fazer
        a busca.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: id_externo
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:21:44 GMT
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: peetGz1AD1V-EPRZskbM9EUkvahhqDxdkpMLCm8HRVjt0vMENo1JkA==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                cheio: '32.9000'
                custo: '11.5000'
                id: 115118462
                produto: /api/v1/produto/8558855?id_externo=1
                promocional: '20.0000'
                resource_uri: /api/v1/produto_preco/183610329
                sob_consulta: false
  /v1/produto_preco:
    get:
      tags:
        - Preço
      summary: Listar todos os preços
      description: Lista o preço de todos os produtos.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: '600'
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:22:46 GMT
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: rXMMXSQvdJahWy17ca2iJKZhc-jkvQnPDAVULVXBa9HmTnq1D0fhPg==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  limit: 20
                  next: /api/v1/produto_preco?limit=20&offset=20
                  offset: 0
                  previous: null
                  total_count: 2451
                objects:
                  - cheio: null
                    custo: null
                    id: 67316271
                    produto: /api/v1/produto/90245204
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90245204
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 67316272
                    produto: /api/v1/produto/90245205
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90245205
                    sob_consulta: false
                  - cheio: '0.0100'
                    custo: null
                    id: 102929601
                    produto: /api/v1/produto/163067835
                    promocional: null
                    resource_uri: /api/v1/produto_preco/163067835
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 67316303
                    produto: /api/v1/produto/90245260
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90245260
                    sob_consulta: false
                  - cheio: '400.0000'
                    custo: '200.0000'
                    id: 67316304
                    produto: /api/v1/produto/90245261
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90245261
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 102929677
                    produto: /api/v1/produto/163067944
                    promocional: null
                    resource_uri: /api/v1/produto_preco/163067944
                    sob_consulta: false
                  - cheio: '0.6600'
                    custo: null
                    id: 102929718
                    produto: /api/v1/produto/163068033
                    promocional: null
                    resource_uri: /api/v1/produto_preco/163068033
                    sob_consulta: false
                  - cheio: '50.0000'
                    custo: '10.0000'
                    id: 132993001
                    produto: /api/v1/produto/214195430
                    promocional: '40.0000'
                    resource_uri: /api/v1/produto_preco/214195430
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 67318283
                    produto: /api/v1/produto/90248144
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90248144
                    sob_consulta: false
                  - cheio: '2.0000'
                    custo: '1.0000'
                    id: 67338188
                    produto: /api/v1/produto/90276170
                    promocional: null
                    resource_uri: /api/v1/produto_preco/90276170
                    sob_consulta: false
                  - cheio: '10.0000'
                    custo: null
                    id: 88178689
                    produto: /api/v1/produto/136185260
                    promocional: null
                    resource_uri: /api/v1/produto_preco/136185260
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 101460116
                    produto: /api/v1/produto/160671853
                    promocional: null
                    resource_uri: /api/v1/produto_preco/160671853
                    sob_consulta: false
                  - cheio: '1.0000'
                    custo: null
                    id: 101460273
                    produto: /api/v1/produto/160672077
                    promocional: null
                    resource_uri: /api/v1/produto_preco/160672077
                    sob_consulta: false
                  - cheio: '10.0000'
                    custo: null
                    id: 126741929
                    produto: /api/v1/produto/203009275
                    promocional: null
                    resource_uri: /api/v1/produto_preco/203009275
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 126741908
                    produto: /api/v1/produto/203009246
                    promocional: null
                    resource_uri: /api/v1/produto_preco/203009246
                    sob_consulta: false
                  - cheio: '259.9000'
                    custo: '0.0000'
                    id: 83887648
                    produto: /api/v1/produto/127315146
                    promocional: '0.0000'
                    resource_uri: /api/v1/produto_preco/127315146
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 101463903
                    produto: /api/v1/produto/160677193
                    promocional: null
                    resource_uri: /api/v1/produto_preco/160677193
                    sob_consulta: false
                  - cheio: '2.0000'
                    custo: null
                    id: 101464036
                    produto: /api/v1/produto/160677330
                    promocional: null
                    resource_uri: /api/v1/produto_preco/160677330
                    sob_consulta: false
                  - cheio: null
                    custo: null
                    id: 119010568
                    produto: /api/v1/produto/190101432
                    promocional: null
                    resource_uri: /api/v1/produto_preco/190101432
                    sob_consulta: false
                  - cheio: '149.9500'
                    custo: '66.4500'
                    id: 68688536
                    produto: /api/v1/produto/92490963
                    promocional: '111.9500'
                    resource_uri: /api/v1/produto_preco/92490963
                    sob_consulta: false
  /v1/produto_preco/set/183623529;183623155;183610329:
    get:
      tags:
        - Preço
      summary: Listar subconjunto de preços
      description: Lista o preço de vários produtos ao mesmo tempo.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: '237'
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:21:24 GMT
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: kiRZXBRgMDlbfNuzdWOVgk0X9d7MhWh_WQ8E90-ks2PdwWxMIw8Tqw==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                objects:
                  - cheio: null
                    custo: null
                    id: 115127770
                    produto: /api/v1/produto/987654321?id_externo=1
                    promocional: null
                    resource_uri: /api/v1/produto_preco/183623529
                    sob_consulta: false
                  - cheio: '12.0000'
                    custo: null
                    id: 115127541
                    produto: /api/v1/produto/88568855?id_externo=1
                    promocional: '11.2000'
                    resource_uri: /api/v1/produto_preco/183623155
                    sob_consulta: false
                  - cheio: '32.9000'
                    custo: '11.5000'
                    id: 115118462
                    produto: /api/v1/produto/8558855?id_externo=1
                    promocional: '20.0000'
                    resource_uri: /api/v1/produto_preco/183610329
                    sob_consulta: false
  /v1/produto_preco/set/987654321;88568855;8558855:
    get:
      tags:
        - Preço
      summary: Listar subconjunto de preços com id externo
      description: >-
        Lista o preço de vários produtos ao mesmo tempo utilizando ids externos
        pra a busca.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: id_externo
          in: query
          schema:
            type: integer
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            date:
              schema:
                type: string
                example: Mon, 25 Sep 2023 17:21:56 GMT
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
            Server:
              schema:
                type: string
                example: cloudfront
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 2b8eb2197d483eb73a5419f545e62c0c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GIG51-P2
            Alt-Svc:
              schema:
                type: string
                example: h3=":443"; ma=86400
            X-Amz-Cf-Id:
              schema:
                type: string
                example: pB0PN9wWebKNZPHgYmUzNw7Sg9zm2JChCpa-Jq8fQKDkJXX4PGXG3w==
            Age:
              schema:
                type: integer
                example: '0'
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
          content:
            application/json:
              schema:
                type: object
              example:
                objects:
                  - cheio: null
                    custo: null
                    id: 115127770
                    produto: /api/v1/produto/987654321?id_externo=1
                    promocional: null
                    resource_uri: /api/v1/produto_preco/183623529
                    sob_consulta: false
                  - cheio: '12.0000'
                    custo: null
                    id: 115127541
                    produto: /api/v1/produto/88568855?id_externo=1
                    promocional: '11.2000'
                    resource_uri: /api/v1/produto_preco/183623155
                    sob_consulta: false
                  - cheio: '32.9000'
                    custo: '11.5000'
                    id: 115118462
                    produto: /api/v1/produto/8558855?id_externo=1
                    promocional: '20.0000'
                    resource_uri: /api/v1/produto_preco/183610329
                    sob_consulta: false
  /v1/grades:
    post:
      tags:
        - Grade
      summary: Cadastrar grade
      description: Cadastra uma nova grade personalizada.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                nome: Nova grade personalizada 1
                nome_visivel: Personalizada
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '201':
          description: Created
          headers:
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 10 Feb 2023 13:15:39 GMT
            location:
              schema:
                type: string
                example: http://api.awsli.com.br/api/v1/grades/2657598
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            transfer-encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                id: 2657598
                id_externo: null
                nome: Nova grade personalizada 3
                nome_visivel: Personalizadas
                resource_uri: /api/v1/grades/2657598
                variacoes: []
    get:
      tags:
        - Grade
      summary: Listar todas as grades
      description: >-
        Lista as grades existentes na sua loja e também retorna as grades padrão
        do sistema.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Thu, 27 Oct 2022 12:20:06 GMT
            content-length:
              schema:
                type: integer
                example: '594'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            accept-ranges:
              schema:
                type: string
                example: bytes
          content:
            application/json:
              schema:
                type: object
              example:
                meta:
                  limit: 20
                  next: /api/v1/grades?limit=20&offset=20
                  offset: 0
                  previous: null
                  total_count: 32
                objects:
                  - id: 32769
                    id_externo: null
                    nome: Gênero
                    nome_visivel: Gênero
                    resource_uri: /api/v1/grades/32769
                  - id: 8945
                    id_externo: null
                    nome: Produto com uma cor
                    nome_visivel: Cor
                    resource_uri: /api/v1/grades/8945
                  - id: 32656
                    id_externo: null
                    nome: Tamanho de anel/aliança
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/32656
                  - id: 8947
                    id_externo: null
                    nome: Tamanho de calça
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/8947
                  - id: 8950
                    id_externo: null
                    nome: Tamanho de camisa/camiseta
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/8950
                  - id: 8946
                    id_externo: null
                    nome: Tamanho de capacete
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/8946
                  - id: 8944
                    id_externo: null
                    nome: Tamanho de tênis
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/8944
                  - id: 8949
                    id_externo: null
                    nome: Voltagem
                    nome_visivel: Voltagem
                    resource_uri: /api/v1/grades/8949
                  - id: 51935
                    id_externo: null
                    nome: Tamanho juvenil-infantil
                    nome_visivel: Tamanho
                    resource_uri: /api/v1/grades/51935
                  - id: 2225654
                    id_externo: null
                    nome: cor
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/2225654
                  - id: 1522763
                    id_externo: null
                    nome: cor-personalizada
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/1522763
                  - id: 1522762
                    id_externo: null
                    nome: Desenho do tecido
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/1522762
                  - id: 2203861
                    id_externo: null
                    nome: Filhos
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/2203861
                  - id: 1928248
                    id_externo: null
                    nome: formato do papel (cm)
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/1928248
                  - id: 2323749
                    id_externo: null
                    nome: Grade 1
                    nome_visivel: Grade personalizada 1
                    resource_uri: /api/v1/grades/2323749
                  - id: 2403582
                    id_externo: null
                    nome: Gradinha
                    nome_visivel: Gradinha
                    resource_uri: /api/v1/grades/2403582
                  - id: 1928250
                    id_externo: null
                    nome: gramatura (g/m²)
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/1928250
                  - id: 1991378
                    id_externo: null
                    nome: Ingrid teste
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/1991378
                  - id: 2047707
                    id_externo: null
                    nome: Medidas
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/2047707
                  - id: 2047708
                    id_externo: null
                    nome: Moldura
                    nome_visivel: ''
                    resource_uri: /api/v1/grades/2047708
  /v1/grade/2475810/variacao:
    post:
      tags:
        - Grade
      summary: Cadastrar variação
      description: Cadastra uma nova variação personalizada com base no id da grade.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                nome: Personalizado 5
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '201':
          description: Created
          headers:
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Fri, 10 Feb 2023 13:17:29 GMT
            location:
              schema:
                type: string
                example: http://api.awsli.com.br/api/v1/grade/2475810/variacao/8813134
            content-encoding:
              schema:
                type: string
                example: gzip
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
                example: vtex-integrated-store
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            transfer-encoding:
              schema:
                type: string
                example: chunked
          content:
            application/json:
              schema:
                type: object
              example:
                grade: /api/v1/grades/2475810
                id: 8813134
                id_externo: null
                nome: Personalizado 5
                resource_uri: /api/v1/grade/2475810/variacao/8813134
  /v1/grades/8946:
    get:
      tags:
        - Grade
      summary: Grade específica
      description: Detalha uma grade específica e lista as suas variações.
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: chave_api {{chave_api}} aplicacao {{aplicacao}}
      responses:
        '200':
          description: OK
          headers:
            cache-control:
              schema:
                type: string
                example: no-cache
            content-encoding:
              schema:
                type: string
                example: gzip
            content-type:
              schema:
                type: string
                example: application/json
            date:
              schema:
                type: string
                example: Thu, 27 Oct 2022 12:26:48 GMT
            content-length:
              schema:
                type: integer
                example: '228'
            vary:
              schema:
                type: string
                example: Accept, Accept-Encoding
            age:
              schema:
                type: integer
                example: '0'
            x-cache:
              schema:
                type: string
                example: MISS
            x-powered-by:
              schema:
                type: string
[...]
