{
    "openapi": "3.0.0",
    "info": {
        "title": "Gupy Public API",
        "version": "1.0.0",
        "description": "You may use __fields=all__ to retrieve all fields,\n                      but be aware that new fields might be included without further notice."
    },
    "servers": [
        {
            "url": "https://api.gupy.io/api/v1"
        }
    ],
    "paths": {
        "/jobs/{jobId}/applications": {
            "get": {
                "summary": "Listing applications",
                "tags": [
                    "Applications"
                ],
                "description": "Returns a list of candidate applications.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findApplications",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Application ID, queries passing this parameter will have higher request limit",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Current application status",
                        "schema": {
                            "type": "string",
                            "maxLength": 500,
                            "enum": [
                                "in_process",
                                "give_up",
                                "reproved",
                                "hired"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "currentStep.name",
                        "description": "Current step name of the candidate application in the job (eg. Cadastro)",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "candidate.identificationDocument",
                        "description": "Candidate identification document (CPF or other) (eg. 99999999999)",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "vacancyCode.code",
                        "description": "Vacancy code associated to the candidate (after hiring)",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "order",
                        "description": "Sorting order. The following fields are available: id, score, createdAt",
                        "schema": {
                            "type": "string",
                            "default": "id asc"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,candidate.name or fields=all)\\\nDefault: id, score, createdAt, updatedAt, endedAt, tags, partnerName,\njob.id, job.name, currentStep.id, currentStep.name, candidate.id,\ncandidate.name, candidate.lastName, candidate.email, candidate.birthdate,\ncandidate.identificationDocument,\ncandidate.linkedinProfileUrl, candidate.gender, candidate.mobileNumber,\ncandidate.phoneNumber, manualCandidate.id, manualCandidate.name,\nmanualCandidate.lastName, manualCandidate.email,\nmanualCandidate.mobileNumber, manualCandidate.linkedinProfileUrl,\nmanualCandidate.insertionSource, candidate.academicQualification.id,\ncandidate.academicQualification.formation,\ncandidate.academicQualification.institution,\ncandidate.academicQualification.course,\ncandidate.academicQualification.status,\ncandidate.academicQualification.startMonth,\ncandidate.academicQualification.startYear,\ncandidate.academicQualification.endMonth,\ncandidate.academicQualification.endYear\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of candidates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedApplication"
                                }
                            }
                        },
                        "headers": {
                            "X-RateLimit-Limit": {
                                "$ref": "#/components/headers/X-RateLimit-Limit"
                            },
                            "X-RateLimit-Remaining": {
                                "$ref": "#/components/headers/X-RateLimit-Remaining"
                            },
                            "X-RateLimit-Reset": {
                                "$ref": "#/components/headers/X-RateLimit-Reset"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "post": {
                "summary": "Creating an application",
                "tags": [
                    "Applications"
                ],
                "description": "Creates a new application, given the job and the candidate. You can create the application using the candidate id (when the candidate is already assigned for another job) or making a manual insertion of the candidate (when there is no information about the candidate yet).",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Application to be created",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/applicationPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the application",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}": {
            "patch": {
                "summary": "Moving an application",
                "tags": [
                    "Applications"
                ],
                "description": "Moves an application to another step of the job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "patchApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Step to be moved to",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "currentStepId": {
                                        "description": "Step to be moved to",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "status": {
                                        "description": "New status of application",
                                        "type": "string",
                                        "enum": [
                                            "in_process",
                                            "reproved"
                                        ],
                                        "maxLength": 255
                                    },
                                    "disapprovalReasonNotes": {
                                        "description": "Disapproval reason notes",
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "disapprovalReason": {
                                        "description": "Disapproval reason",
                                        "type": "string",
                                        "enum": [
                                            "hired_by_another_company",
                                            "invited_to_another_process",
                                            "missed_steps_of_process",
                                            "insufficient_knowledge",
                                            "hiring_not_allowed",
                                            "incompatible_curriculum",
                                            "gave_up_for_personal_reasons",
                                            "inconsistent_admission_docs",
                                            "elevated_wage_expectation",
                                            "lack_of_culture_alignment",
                                            "insufficient_academic_background",
                                            "no_potential_for_growth",
                                            "overqualified",
                                            "insufficient_seniority",
                                            "fulfilled_vacancy",
                                            "reject_at_medical_exam",
                                            "candidate_outside_required_location",
                                            "test_result_below_cutoff",
                                            "not_respond_to_contacts",
                                            "proposal_not_accepted",
                                            "hired_in_another_job",
                                            "lack_of_professional_experience",
                                            "little_stability_in_previous_companies",
                                            "medical_report_disqualified",
                                            "incomplete_screening_stage",
                                            "incomplete_registration_step",
                                            "other_reason"
                                        ],
                                        "maxLength": 255
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A confirmation of successful move of the application",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/invites": {
            "post": {
                "summary": "Inviting the candidate",
                "tags": [
                    "Applications"
                ],
                "description": "After you create an application, you might want to send an invite to an application.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createInvite",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A confirmation of successfully creation of the invite"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/tags": {
            "put": {
                "summary": "Adding tags to application",
                "tags": [
                    "Applications"
                ],
                "description": "Creates a tag on a candidate application at a specific job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "tagApplication",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Tag that will be inserted",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "description": "Tag name",
                                        "type": "string",
                                        "maxLength": 120
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the tag",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/tag"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "delete": {
                "summary": "Deleting an application tag by tag value",
                "tags": [
                    "Applications"
                ],
                "description": "Deletes an application tag using tag value.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "deleteTagByName",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "value of tag",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A confirmation of successful deletion of the tag"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "get": {
                "summary": "Listing application tags",
                "tags": [
                    "Applications"
                ],
                "description": "Returns a list of application tags.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findApplicationTags",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Tag id to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Tag name to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of application tags",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedApplicationTags"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/hiring-information": {
            "patch": {
                "summary": "Update hiring information",
                "tags": [
                    "Applications"
                ],
                "description": "Send information about application hiring.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "updateHiringInformation",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Hiring information",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/hiringInformation"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "A confirmation of successfully update of hiring information"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "get": {
                "summary": "Find hiring information",
                "tags": [
                    "Applications"
                ],
                "description": "Returns application hiring information.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findHiringInformation",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Hiring information",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/hiringInformation"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/career-pages": {
            "get": {
                "summary": "Listing career pages",
                "tags": [
                    "Company Career Pages"
                ],
                "description": "Returns a list of company career pages.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findCareerPages",
                "parameters": [
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name,siteUrl or fields=all).\\\nDefault: id, name, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Career page id to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Career page name to search for",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of career pages",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedCareerPage"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/departments": {
            "get": {
                "summary": "Listing departments",
                "tags": [
                    "Company Departments"
                ],
                "description": "Returns a list of company departments.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "getDepartments",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Department id to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Department name to search for",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "code",
                        "description": "Department code to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 200
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of departments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedDepartment"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "post": {
                "summary": "Creating a department",
                "tags": [
                    "Company Departments"
                ],
                "description": "Creates a new department.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createDeparment",
                "requestBody": {
                    "description": "Department to be created",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/departmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the department",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/department"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/departments/{departmentId}": {
            "put": {
                "summary": "Updating a department",
                "tags": [
                    "Company Departments"
                ],
                "description": "Updates a department.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "updateDeparment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "departmentId",
                        "description": "Department ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Department to be updated",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/departmentRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A confirmation of successful update of the department",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/department"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/job-custom-fields": {
            "get": {
                "summary": "Listing custom fields of a company for job creation",
                "tags": [
                    "Job Custom Fields"
                ],
                "description": "Returns a list of custom fields of a company.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findCompanyCustomFields",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Custom field ID",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "label",
                        "description": "Custom field label to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of custom fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/customFields"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/job-templates/{jobTemplateId}/custom-fields": {
            "get": {
                "summary": "Listing custom-fields of a job template",
                "tags": [
                    "Job Templates"
                ],
                "description": "Returns a list of custom fields of a job template.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findTemplateCustomFields",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobTemplateId",
                        "description": "Job template ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of job template custom fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobTemplateCustomFields"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/job-templates": {
            "get": {
                "summary": "Listing jobs templates",
                "tags": [
                    "Job Templates"
                ],
                "description": "Returns a list of job templates.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "list",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Job Template ID",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Job template name to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Job type to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "vacancy_type_apprentice",
                                "vacancy_type_associate",
                                "vacancy_type_talent_pool",
                                "vacancy_type_effective",
                                "vacancy_type_internship",
                                "vacancy_type_summer",
                                "vacancy_type_temporary",
                                "vacancy_type_outsource",
                                "vacancy_type_trainee",
                                "vacancy_type_volunteer",
                                "vacancy_legal_entity",
                                "vacancy_type_lecturer",
                                "vacancy_type_freelancer",
                                "vacancy_type_autonomous"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "careerPageId",
                        "description": "Career page ID to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "roleId",
                        "description": "Role ID to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=name,id,createdAt or fields=all).\\\nDefault: id, name, type, roleId, roleName, departmentId, departmentName,\n         branchId, branchName\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of job templates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedJobTemplates"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/jobs": {
            "post": {
                "summary": "Creating a job",
                "tags": [
                    "Jobs"
                ],
                "description": "Creates a new job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createJob",
                "requestBody": {
                    "description": "Job to be created",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/jobPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the job",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/job"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "get": {
                "summary": "Listing jobs",
                "tags": [
                    "Jobs"
                ],
                "description": "Returns a list of jobs.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findJobs",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Job ID",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "code",
                        "description": "Job posting code to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Job name to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Current job status to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "draft",
                                "waiting_approval",
                                "approved",
                                "disapproved",
                                "published",
                                "frozen",
                                "closed",
                                "canceled"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Job type to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "vacancy_type_apprentice",
                                "vacancy_type_associate",
                                "vacancy_type_talent_pool",
                                "vacancy_type_effective",
                                "vacancy_type_internship",
                                "vacancy_type_summer",
                                "vacancy_type_temporary",
                                "vacancy_type_outsource",
                                "vacancy_type_trainee",
                                "vacancy_type_volunteer",
                                "vacancy_legal_entity",
                                "vacancy_type_lecturer",
                                "vacancy_type_freelancer",
                                "vacancy_type_autonomous"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "publicationType",
                        "description": "Job publication type to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "external",
                                "internal"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "careerPageId",
                        "description": "Career Page ID to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "vacancyCode",
                        "description": "Vacancy code of the job to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "roleId",
                        "description": "Role ID to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "addressState",
                        "description": "Address State of the job to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=name,id,code or fields=all).\\\nDefault: id, code, name, type, publicationType, status, numVacancies,\nroleId, roleName, departmentId, departmentName\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of jobs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedJob"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/jobs/{jobId}/custom-fields": {
            "get": {
                "summary": "Listing custom fields of a job",
                "tags": [
                    "Jobs"
                ],
                "description": "Returns a list of custom fields of a job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findCustomFields",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of job custom fields",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/jobCustomFields"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/jobs/{jobId}/steps": {
            "get": {
                "summary": "Listing steps of a job",
                "tags": [
                    "Jobs"
                ],
                "description": "Returns a list of job steps ordered by step order.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findSteps",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "Step type to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255,
                            "enum": [
                                "online",
                                "offline",
                                "registration",
                                "hiring",
                                "pre_hiring"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, type, endDate, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of job steps",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedJobStep"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/jobs/{jobId}": {
            "patch": {
                "summary": "Updating a job",
                "tags": [
                    "Jobs"
                ],
                "description": "Updates an existing job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "updateJob",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Job to be updated",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/jobPutRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A confirmation of successful update of the job",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/job"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "delete": {
                "summary": "Deleting a draft job",
                "tags": [
                    "Jobs"
                ],
                "description": "Deletes a draft job.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "deleteJobHandler",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A confirmation of successful deletion of the job"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/roles": {
            "get": {
                "summary": "Listing roles",
                "tags": [
                    "Job Roles"
                ],
                "description": "Returns a list of job roles.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "getRoles",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Role id to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Role name to search for",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "code",
                        "description": "Role code to search for",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedRole"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "post": {
                "summary": "Creating a role",
                "tags": [
                    "Job Roles"
                ],
                "description": "Creates a new job role.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createRole",
                "requestBody": {
                    "description": "Role to be created",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/roleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the role",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/role"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/roles/{roleId}": {
            "put": {
                "summary": "Updating a role",
                "tags": [
                    "Job Roles"
                ],
                "description": "Updates a job role.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "updateRole",
                "parameters": [
                    {
                        "in": "path",
                        "name": "roleId",
                        "description": "Role ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Role to be updated",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/roleRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "A confirmation of successful update of the role",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/role"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                }
            }
        },
        "/user-access-profiles": {
            "get": {
                "summary": "Listing user access profiles",
                "tags": [
                    "Company Users"
                ],
                "description": "Returns a list of user access profiles.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findUserAccessProfiles",
                "parameters": [
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, permissions, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "id",
                        "description": "Profile id to filter",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "Profile name to filter",
                        "schema": {
                            "type": "string",
                            "maxLength": 255
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of access profiles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedUserAccessProfile"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/users": {
            "post": {
                "summary": "Creating an user",
                "tags": [
                    "Company Users"
                ],
                "description": "Creates a new company user.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createUser",
                "requestBody": {
                    "description": "User to be created",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/companyUserPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The created user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "get": {
                "summary": "Listing users",
                "tags": [
                    "Company Users"
                ],
                "description": "Returns a list of company users.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "getUsers",
                "parameters": [
                    {
                        "in": "query",
                        "name": "id",
                        "description": "User id to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "email",
                        "description": "User email to search for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "departmentId",
                        "description": "User departmentId to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "roleId",
                        "description": "User roleId to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "profileTestEnabled",
                        "description": "Profile test enabling to search for",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "in": "query",
                        "name": "type",
                        "description": "User type to search for",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "root",
                                "owner",
                                "guest"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "profileTestStatus",
                        "description": "Test status to search for",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                "not_started",
                                "in_progress",
                                "finished",
                                "not_selected"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "testStatus",
                        "description": "External profile test status to search for",
                        "schema": {
                            "type": "boolean",
                            "enum": [
                                "not_started",
                                "in_progress",
                                "finished",
                                "uninvited"
                            ]
                        }
                    },
                    {
                        "in": "query",
                        "name": "taxpayerRegistry",
                        "description": "TaxpayerRegistry to search for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "countryOfOrigin",
                        "description": "countryOfOrigin to search for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "code",
                        "description": "User identifier to search for",
                        "schema": {
                            "type": "number",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "query",
                        "name": "fields",
                        "description": "Specify fields to return (eg. fields=id,name or fields=all).\\\nDefault: id, name, createdAt, updatedAt\n",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of departments",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedUser"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            }
        },
        "/users/{userId}": {
            "put": {
                "summary": "Updating an user",
                "tags": [
                    "Company Users"
                ],
                "description": "Updates an existing company user.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "updateUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "User to be updated",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/companyUserPostRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The updated user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    }
                }
            },
            "delete": {
                "summary": "Deleting an user",
                "tags": [
                    "Company Users"
                ],
                "description": "Deletes an user.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "in": "path",
                        "name": "userId",
                        "description": "User ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A confirmation of successful deletion of the user"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/rating-criteria": {
            "get": {
                "summary": "Retrieving an application's rating criteria",
                "tags": [
                    "Applications"
                ],
                "description": "Returns the application's rating criteria, grouped by job criteria.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findApplicationRatingCriteria",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "An array of the application's rating criteria, grouped by job criteria.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/criteriaRatingsArray"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/tags/{tagId}": {
            "delete": {
                "deprecated": true,
                "summary": "Deleting an application tag",
                "tags": [
                    "Applications"
                ],
                "description": "Deletes an application tag.\nDeprecated, use deletion by tag value instead\nWill be removed in api version 2\n",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "deleteTag",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "tagId",
                        "description": "Tag ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A confirmation of successful deletion of the vacancy"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/comments": {
            "post": {
                "summary": "Creating a comment in candidate timeline",
                "tags": [
                    "Applications"
                ],
                "description": "Creates a comment in the candidate timeline, visible to company users.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createComment",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Message options",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/applicationCommentPost"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successful insertion of the comment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/applicationComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            },
            "get": {
                "summary": "Listing comments in candidate timeline",
                "tags": [
                    "Applications"
                ],
                "description": "Returns the list of comments in candidate timeline.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "findComments",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A confirmation of successful insertion of the comment",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/paginatedApplicationComment"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/jobs/{jobId}/applications/{applicationId}/messages": {
            "post": {
                "summary": "Creating and sending an email message to a candidate",
                "tags": [
                    "Applications"
                ],
                "description": "Creates and sends an email message based on a template to a candidate.",
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "operationId": "createMessage",
                "parameters": [
                    {
                        "in": "path",
                        "name": "jobId",
                        "description": "Job ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "path",
                        "name": "applicationId",
                        "description": "Application ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Message options",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/messageEmailSend"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "A confirmation of successfull creation of the message"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    }
                }
            }
        },
        "/branches": {
            "post": {
                "summary": "Creating branches",
                "tags": [
                    "Company Branches"
                ],
                "description": "Creates a new branch.",
                "security": [
[...]
