{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Fbits.API"
    },
    "host": "api.fbits.net",
    "schemes": [
        "https"
    ],
    "paths": {
        "/atributos": {
            "get": {
                "tags": [
                    "Atributo"
                ],
                "summary": "Retorna todos os atributos",
                "operationId": "Atributo_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Lista de atributos",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Atributo"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Atributo"
                ],
                "summary": "Insere um novo atributo",
                "operationId": "Atributo_PostByatributo",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "atributo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Atributo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id do atributo gerado",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/atributos/{nome}": {
            "get": {
                "tags": [
                    "Atributo"
                ],
                "summary": "Retorna um atributo específico",
                "operationId": "Atributo_GetBynome",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "nome",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Atributo encontrado",
                        "schema": {
                            "$ref": "#/definitions/Atributo"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Atributo"
                ],
                "summary": "Atualiza um atributo",
                "operationId": "Atributo_PutBynomeatributo",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "nome",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "atributo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Atributo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Atributo atualizado com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Atributo"
                ],
                "summary": "Atualiza um atributo",
                "operationId": "Atributo_DeleteBynome",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "nome",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Atributo excluído com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/autenticacao/login": {
            "post": {
                "tags": [
                    "Autenticacao"
                ],
                "summary": "Realiza a autenticação de usuário no IDM (Identity Manager).",
                "operationId": "Autenticacao_LoginBydadosLogin",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "dadosLogin",
                        "in": "body",
                        "description": "Login e Senha.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Autenticacao"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Autenticação realizada com sucesso.",
                        "schema": {
                            "$ref": "#/definitions/UsuarioIdentificadoAPI"
                        }
                    },
                    "401": {
                        "description": "Usuário não autorizado."
                    },
                    "500": {
                        "description": "Erro no processamento da operação.",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/autenticacao/refresh": {
            "post": {
                "tags": [
                    "Autenticacao"
                ],
                "summary": "Gera um novo access token baseado em um access token expirado por data.",
                "operationId": "Autenticacao_Refresh",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Access token atualizado com sucesso.",
                        "schema": {
                            "$ref": "#/definitions/UsuarioIdentificadoAPI"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação.",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/autenticacao/trocarLoja/{novaLoja}": {
            "post": {
                "tags": [
                    "Autenticacao"
                ],
                "summary": "Troca o usuário de loja e gera um novo access_token para acesso a nova loja.",
                "operationId": "Autenticacao_TrocarLojaBynovaLoja",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "novaLoja",
                        "in": "path",
                        "description": "Loja para qual o usuário deseja autenticar.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Novo token gerado com sucesso.",
                        "schema": {
                            "$ref": "#/definitions/UsuarioIdentificadoAPI"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação.",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/autores": {
            "get": {
                "tags": [
                    "Autor"
                ],
                "summary": "Buscar todos os autores.",
                "operationId": "Autor_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Autor"
                ],
                "summary": "Inserir autor.",
                "operationId": "Autor_PostByrequest",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Dados do autor.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/autores/{autorId}": {
            "get": {
                "tags": [
                    "Autor"
                ],
                "summary": "Buscar autor por id.",
                "operationId": "Autor_GetbyIdByautorId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "autorId",
                        "in": "path",
                        "description": "Identificador do autor.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Autor"
                ],
                "summary": "Atualizar autor.",
                "operationId": "Autor_PutByautorIdrequest",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "autorId",
                        "in": "path",
                        "description": "Identificador do autor.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "description": "Dados atualizados.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Autor"
                ],
                "summary": "Deletar autor.",
                "operationId": "Autor_DeleteByautorId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "autorId",
                        "in": "path",
                        "description": "Identificador do autor",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/categorias": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Retorna todos as categorias",
                "operationId": "Categoria_GetByhierarquiaapenasResellerapenasUltimoNivelsomenteFilhos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "hierarquia",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "apenasReseller",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "apenasUltimoNivel",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "somenteFilhos",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de categorias",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Categoria"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Insere uma nova categoria.",
                "operationId": "Categoria_PostBycategoria",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "categoria",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriaEnvio"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id da categoria gerada",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/categorias/{id}": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Retorna uma categoria específica",
                "operationId": "Categoria_GetByidhierarquiasomenteFilhos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "hierarquia",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "somenteFilhos",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria encontrada",
                        "schema": {
                            "$ref": "#/definitions/Categoria"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Atualiza uma categoria.",
                "operationId": "Categoria_PutByidcategoria",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "categoria",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriaEnvio"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria atualizada com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Exclui uma categoria.",
                "operationId": "Categoria_DeleteByid",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria excluída com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/categorias/{categoriaId}/produtos": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Retorna lista de produtos vinculados à categoria de forma ordenada",
                "operationId": "Categoria_GetProdutosCategoriaBycategoriaIdpaginaquantidadeRegistrosdirecaoOrdenacao",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria na qual os produtos devem ser consultados",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pagina",
                        "in": "query",
                        "description": "Página da lista (padrão: 1)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "quantidadeRegistros",
                        "in": "query",
                        "description": "Quantidade de registros que deverão retornar (max: 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "direcaoOrdenacao",
                        "in": "query",
                        "description": "Define se a ordenação deverá ser feita de forma Ascendente ou Descendente. Caso não seja informado o comportamento padrão é Ascendente",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "ASC",
                            "DESC"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto(s) vinculado(s) a categoria com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Atualiza a ordem de exibição de um ou mais produtos de uma categoria",
                "operationId": "Categoria_OrdenarProdutosCategoriaBycategoriaIdprodutos",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a qual os produtos deverão ser ordenados.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "produtos",
                        "in": "body",
                        "description": "Lista de identificadores dos produtos e sua respectiva ordenação na categoria.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoriaProduto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ordem do(s) produto(s) atualizado(s) na categoria com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Vincula um ou mais produtos em uma categoria",
                "operationId": "Categoria_InserirProdutosCategoriaBycategoriaIdprodutos",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a qual os produtos deverão ser vinculados.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "produtos",
                        "in": "body",
                        "description": "Lista de identificadores dos produtos e sua respectiva ordenação na categoria.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoriaProduto"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto(s) vinculado(s) a categoria com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Exclui o vínculo de um ou mais produtos de uma categoria",
                "operationId": "Categoria_DeletarProdutosCategoriaBycategoriaIdresetprodutosId",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "categoriaId",
                        "in": "path",
                        "description": "Id da categoria a qual os produtos deverão ser desvinculados.",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "reset",
                        "in": "query",
                        "description": "Se 'true', deverá desvincular TODOS os produtos vinculados a categoria. Se 'false' deverá desvincular APENAS os produtos que constam na listagem.",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "produtosId",
                        "in": "body",
                        "description": "Lista de identificadores dos produtos que deverão ser desvinculados da categoria. Campo opcional caso reset seja true",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int64",
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Vinculo da categoria com o(s) produto(s) excluído(s) com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/categorias/erp/{id}": {
            "get": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Retorna uma categoria específica utilizando o id do erp como identificador",
                "operationId": "Categoria_SelecionaCategoriaErpByidhierarquiasomenteFilhos",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "hierarquia",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "somenteFilhos",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria encontrada",
                        "schema": {
                            "$ref": "#/definitions/Categoria"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Atualiza uma categoria utilizando o id do erp como identificador.",
                "operationId": "Categoria_AtualizaCategoriaErpByidcategoria",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "categoria",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CategoriaEnvio"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria atualizada com sucesso.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categoria"
                ],
                "summary": "Exclui uma categoria utilizando o id do erp como identificador.",
                "operationId": "Categoria_DeletaCategoriaErpByid",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria excluída com sucesso.",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/centrosdistribuicao": {
            "get": {
                "tags": [
                    "CentroDistribuicao"
                ],
                "summary": "Retorna todos os centros de distribuição",
                "operationId": "CentroDistribuicao_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Lista de centros de distribuição",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CentroDistribuicao"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/centrosdistribuicao/{centroDistribuicaoId}/prioridade": {
            "put": {
                "tags": [
                    "CentroDistribuicao"
                ],
                "summary": "Executa uma atualização da prioridade do centro de distribuição",
                "operationId": "CentroDistribuicao_AtualizarPrioridadeBycentroDistribuicaoIdcentroDistribuicaoPrioridade",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "centroDistribuicaoId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "centroDistribuicaoPrioridade",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CentroDistribuicaoPrioridade"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Atualiza a prioridade de um centro de distribuição",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CentroDistribuicao"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/contascorrentes/{email}": {
            "get": {
                "tags": [
                    "ContaCorrente"
                ],
                "summary": "Retorna o saldo de um usuário.",
                "operationId": "ContaCorrente_GetByemail",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de emails e saldos de conta corrente",
                        "schema": {
                            "format": "double",
                            "type": "number"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ContaCorrente"
                ],
                "summary": "Realiza um novo lançamento na conta corrente do cliente.",
                "operationId": "ContaCorrente_PostByemailcontaCorrente",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contaCorrente",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContaCorrente"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id da conta corrente gerada",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/contascorrentes/{email}/extrato": {
            "get": {
                "tags": [
                    "ContaCorrente"
                ],
                "summary": "Busca todas as movimentações de conta corrente de um usuário.",
                "operationId": "ContaCorrente_ExtratoByemaildataInicialdataFinal",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "date-time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Extrato retornado com sucesso",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ContaCorrenteCompleta"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/conteudos": {
            "get": {
                "tags": [
                    "Conteudo"
                ],
                "summary": "Busca todos os  conteúdos",
                "operationId": "Conteudo_GetConteudoBypaginaquantidadePorPagina",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pagina",
                        "in": "query",
                        "description": "Página da lista (padrão: 1)",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "quantidadePorPagina",
                        "in": "query",
                        "description": "Quantidade de registros que deverão retornar (max: 50)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto encontrado",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Conteudo"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Conteudo"
                ],
                "summary": "Insere um novo conteúdo na loja.",
                "operationId": "Conteudo_ConteudoPostByconteudoPost",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "conteudoPost",
                        "in": "body",
                        "description": "JSON representando todos os dados de um conteúdo.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id do conteúdo gerado",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "422": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/conteudos/{conteudoId}": {
            "get": {
                "tags": [
                    "Conteudo"
                ],
                "summary": "Busca o  conteúdo pelo seu id",
                "operationId": "Conteudo_GetConteudoByIdByconteudoId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "conteudoId",
                        "in": "path",
                        "description": "Identificador do conteúdo.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Produto encontrado",
                        "schema": {
                            "$ref": "#/definitions/Conteudo"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Conteudo"
                ],
                "summary": "Atualiza um  conteúdo.",
                "operationId": "Conteudo_ConteudoPutByconteudoIdconteudoPut",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "conteudoId",
                        "in": "path",
                        "description": "Identificador do conteúdo.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "conteudoPut",
                        "in": "body",
                        "description": "JSON representando todos os dados de um conteúdo.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Conteúdo atualizado com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "422": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/eventos": {
            "get": {
                "tags": [
                    "Evento"
                ],
                "summary": "Retorna lista de eventos",
                "operationId": "Evento_GetEventosBydataInicialdataFinaldisponiveltitulousuarioEmailtipoEventoId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "dataInicial",
                        "in": "query",
                        "description": "Data de inicio do evento.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "dataFinal",
                        "in": "query",
                        "description": "Data do termino do evento.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "disponivel",
                        "in": "query",
                        "description": "Status do evento.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "titulo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "usuarioEmail",
                        "in": "query",
                        "description": "Email do Usuário",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tipoEventoId",
                        "in": "query",
                        "description": "Identificador do Tipo de Evento",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Evento"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Evento"
                ],
                "summary": "Cria um Novo Evento",
                "operationId": "Evento_PostEventoByevento",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "evento",
                        "in": "body",
                        "description": "JSON representando todos os dados de um evento. Para saber mais acesse a <a href=\"#\">documentação</a>",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NovoContratoPost.EventoPost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/eventos/{eventoId}": {
            "get": {
                "tags": [
                    "Evento"
                ],
                "summary": "Retorna um evento especifico",
                "operationId": "Evento_GetEventosByIdByeventoId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identifiador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Evento"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Evento"
                ],
                "summary": "Atualiza um evento",
                "operationId": "Evento_PutEventoByeventoIdevento",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "evento",
                        "in": "body",
                        "description": "Dados atualizados do evento.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NovoContratoPut.EventoPut"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/eventos/{eventoId}/produtos": {
            "get": {
                "tags": [
                    "Evento"
                ],
                "summary": "Busca produtos vinculados a um evento.",
                "operationId": "Evento_GetProdutosByEventoIdByeventoId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/EventoProdutoSelecionadoGet"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Evento"
                ],
                "summary": "Atauliza lista de produtos vinculados a um evento removendo os itens vinculados anteriormente e mantendo apenas os enviados pelo request",
                "operationId": "Evento_PutVincularProdutosByEventoByeventoIdprodutos",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "produtos",
                        "in": "body",
                        "description": "Identificadores dos produtos variantes a serem vinculados ao evento desejado.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Evento"
                ],
                "summary": "Vincula um ou mais produtos a um evento sem remover os produtos vinculados anteriormente.",
                "operationId": "Evento_PostVincularProdutosByEventoByeventoIdprodutos",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "produtos",
                        "in": "body",
                        "description": "Identificadores dos produtos variantes a serem vinculados ao evento desejado.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/eventos/{eventoId}/produto/{produtoVarianteId}": {
            "delete": {
                "tags": [
                    "Evento"
                ],
                "summary": "Deleta o vinculo de um produto a um evento.",
                "operationId": "Evento_DeleteProdutoDeVinculoByEventoByeventoIdprodutoVarianteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do tipo de evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "produtoVarianteId",
                        "in": "path",
                        "description": "Identificador do variante do produto.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/eventos/{eventoId}/produtos/recebido": {
            "put": {
                "tags": [
                    "Evento"
                ],
                "summary": "Atualiza o campo Recebido de um produto vinculado a um evento",
                "operationId": "Evento_PutVincularProdutosRecebidoByEventoByeventoIdprodutos",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "eventoId",
                        "in": "path",
                        "description": "Identificador do evento.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "produtos",
                        "in": "body",
                        "description": "Identificadores dos produtos variantes a serem vinculados ao evento desejado.",
                        "required": true,
                        "schema": {}
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de produtos variantes vinculados aos tipo de evento",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/fabricantes": {
            "get": {
                "tags": [
                    "Fabricante"
                ],
                "summary": "Retorna todos os fabricantes",
                "operationId": "Fabricante_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Lista de fabricantes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Fabricante"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Fabricante"
                ],
                "summary": "Insere um novo fabricante.",
                "operationId": "Fabricante_PostByfabricante",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "fabricante",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FabricantePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id do fabricante gerado",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/fabricantes/{fabricanteId}": {
            "get": {
                "tags": [
                    "Fabricante"
                ],
                "summary": "Retorna um fabricante específico pelo id.",
                "operationId": "Fabricante_GetByfabricanteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "fabricanteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fabricante encontrado",
                        "schema": {
                            "$ref": "#/definitions/Fabricante"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Fabricante"
                ],
                "summary": "Atualiza um fabricante",
                "operationId": "Fabricante_PutByfabricanteIdfabricante",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "fabricanteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "fabricante",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FabricantePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fabricante atualizado com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Fabricante"
                ],
                "summary": "Exclui um fabricante",
                "operationId": "Fabricante_DeleteByfabricanteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "fabricanteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fabricante excluído com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/formasPagamento": {
            "get": {
                "tags": [
                    "FormaPagamento"
                ],
                "summary": "Retorna todas as formas de pagamento da loja",
                "operationId": "FormaPagamento_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Lista de formas de pagamento",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FormaPagamento"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/fretes": {
            "get": {
                "tags": [
                    "Frete"
                ],
                "summary": "Retorna uma lista de fretes",
                "operationId": "Frete_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Lista de fretes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FreteCompleto"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Frete"
                ],
                "summary": "Insere um novo contrato de frete.",
                "operationId": "Frete_PostByfrete",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "frete",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frete"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Id do frete gerado",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/fretes/{freteId}": {
            "get": {
                "tags": [
                    "Frete"
                ],
                "summary": "Retorna um contrato de frete",
                "operationId": "Frete_GetByfreteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Frete encontrado",
                        "schema": {
                            "$ref": "#/definitions/FreteCompleto"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Frete"
                ],
                "summary": "Atualiza um contrato de frete.",
                "operationId": "Frete_PutByfreteIdfrete",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "frete",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Frete"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Frete atualizado com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Frete"
                ],
                "summary": "Atualiza um contrato de frete.",
                "operationId": "Frete_DeleteByfreteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Frete excluído com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                },
                "deprecated": true
            }
        },
        "/fretes/{freteId}/Ativo": {
            "put": {
                "tags": [
                    "Frete"
                ],
                "summary": "Ativa ou Desativa um frete",
                "operationId": "Frete_AtivoByfreteIdfreteAtivo",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "freteAtivo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FreteAtivo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Frete atualizado com sucesso",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            }
        },
        "/fretes/{freteId}/detalhes": {
            "get": {
                "tags": [
                    "Frete"
                ],
                "summary": "Retorna uma lista de detalhes de um contrato de frete",
                "operationId": "Frete_GetDetalhesByfreteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de detalhes de frente",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FreteDetalhe"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Frete"
                ],
                "summary": "Insere um novo detalhe de frete vinculado a um contrato de frete",
                "operationId": "Frete_PostDetalhesByfreteIdfreteDetalhe",
                "consumes": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "freteDetalhe",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FreteDetalhePost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "201": {
                        "description": "Detalhes de frete inserido com sucesso",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    "500": {
                        "description": "Erro no processamento da operação",
                        "schema": {
                            "$ref": "#/definitions/Resultado"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Frete"
                ],
                "summary": "Exclui os detalhes de um contrato de frete",
                "operationId": "Frete_DeleteDetalhesByfreteId",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "text/html",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "freteId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
[...]
